<?php
$CurrentURL = Mage::helper('core/url')->getCurrentUrl();
$CurrentURL_arr = explode('?',$CurrentURL);
if(count($CurrentURL_arr) > 1){
	$preURL = $CurrentURL_arr[0];
	$postURL = $CurrentURL_arr[1];
}else{
	$preURL = $CurrentURL_arr[0];
	$postURL = '';
}

$url_arr = explode('/',$preURL);
$URL_Key = $url_arr[count($url_arr)-1];

$pid =  Mage::getBlockSingleton('catalog/navigation')->getCurrentCategory()->parent_id ;

$detail_category = Mage::getModel('catalog/category')->load( $pid ); 

$ParentCategoryURL = $detail_category->getUrl(); 

if ($URL_Key != '510' && $URL_Key != '808') {
   	$linkAll = $CurrentURL;
	$link510 = $preURL .'/'. "510";
	$link808 = $preURL .'/'. "808";
	$linkAllClass = "active";
	$link510Class = "";
	$link808Class = "";
}
elseif ($URL_Key == '510') {
	//$linkAll = $ParentCategoryURL;
	$linkAll = $ParentCategoryURL;
	$link510 = $linkAll .'/'. "510";		
	$link808 = $linkAll .'/'. "808";    
	$linkAllClass = "";
	$link510Class = "active";
	$link808Class = "";
}
elseif ($URL_Key == '808') {
	//$linkAll = $ParentCategoryURL;   
	$linkAll = $ParentCategoryURL;
	$link510 = $linkAll .'/'. "510";
	$link808 = $linkAll .'/'. "808";
	$linkAllClass = "";
	$link510Class = "";
	$link808Class = "active";
}
?>

<div id="connector-type-container" class="clearfix">
	<?php echo $this->__('Choose Connector Type') ?> (<a href="#more-info-content-connector-type" class="more-info-link small-link"><?php echo $this->__("what's this?") ?></a>) :
	<ul>
		<li>
			<a href="<?php echo $linkAll;?>" class="<?php echo $linkAllClass; ?>"><?php echo $this->__('All') ?></a>
		</li>
		<li>
			<a href="<?php echo $link510; ?>" class="<?php echo $link510Class; ?>"><?php echo $this->__('510') ?></a>
		</li>
		<li>
			<a href="<?php echo $link808; ?>" class="<?php echo $link808Class; ?>"><?php echo $this->__('808') ?></a>
		</li>
	</ul>
	<div id="more-info-content-connector-type" class="more-info-content white-popup mfp-hide">
		<p><?php echo $this->__('JAC Vapour now offer 2 types of connection, offering you the widest choice of technology available.') ?></p>
		<p>
			<strong><?php echo $this->__('808') ?></strong><br/>
			<?php echo $this->__('This is our original connector, and the connection type used on our V3i and Vgo2 batteries. Rock solid, efficient and great airflow. Suitable for use with our range of cartomisers and the original Crystal, Nova and Vox tanks. If you want a reliable e-cig that just works, this is a good choice. In a small e-cig like the V3i, the 808 is the best connection available.') ?>
		</p>
		<p>
			<strong><?php echo $this->__('510') ?></strong><br/>
			<?php echo $this->__('Used on our new range of JAC 510 batteries. It offers a slightly looser draw, but the same great JAC quality and performance, as well as the added ability to use a vast array of carts and tanks. Compatible with our JAC 510 range of tanks (we have selected a wide choice of tanks which all offer fantastic performance). The 510 is now the most commonly used connection on the market, so this offers a wider choice for those who may wish to experiment further down the line.') ?>
		</p>
	</div>
</div>
