	<div style="display: none;">
	<div id="fishaskquestionbox">
		<form name="faq-form" id="faq-form" action="<?php echo $this->getUrl("faq/index/ask"); ?>" method="POST">
		
			<?php 
			/* If we are on a product page */
			if (Mage::registry("current_product")): 
			$product_id = Mage::registry("current_product")->getId();
			$product_name = Mage::registry("current_product")->getName();
			?>
			
			<input type="hidden" name="product" value="<?php echo $product_id; ?>"/>
			<input type="hidden" name="prod_name" value="<?php echo $product_name; ?>"/>
			
			<?php else: ?>
			
			<input type="hidden" name="product" value="0"/>
			
			<?php endif; ?>
			
			
			<h1>Ask a Question</h1>
			
			<div class="ask-q-container">
				<label>Your Name:</label> <input type="text" name="customer_name" class="required-entry"/>
			</div>
			<div class="ask-q-container">
				<label>Email Address:</label> <input type="text" name="customer_email" class="required-entry validate-email"/>
			</div>
			<div class="ask-q-container">
				<label>Question:</label> 
				<textarea name="question" id="questions" class="required-entry only-html"></textarea>
			</div>
			
			<button class="button"><span><span>Ask Question</span></span></button>
		
		</form>
	</div><!-- fishaskquestionbox !-->
</div><!-- End Display None !-->

<script type="text/javascript">
//<![CDATA[
    var theForm = new VarienForm('faq-form', true);
    Validation.add('only-html','HTML tags are not allowed!',function(the_field_value){
        if(the_field_value == 'baz')
        {
            return true;
        }
        return false;
    });
//]]>   
</script>