<script type="text/javascript">
function checkSearch(obj){i
	var data = document.getElementById("searchfaq").value;
	if(!data){
		return false;
	}else{
		data = data.replace(/ /g,"+");
		var action = document.getElementById('searchform').action;
		action = action + "search="+data;
		document.getElementById('searchform').action = action;
		return true;
	}

}
jQuery.noConflict();
jQuery('document').ready(function(){
jQuery('.tab').click(function(){
//jQuery('.prod-tabs .tab').removeClass('open');
if(jQuery(this).hasClass("open"))
	jQuery(this).removeClass("open");
else
	jQuery(this).addClass("open");

	//jQuery('.main-faq').hide();
	jQuery(this).parent().find('.main-faq').toggle('slow');
	
});
});
</script>
<?php $reset = $_REQUEST['search']; ?>
<div class="page-title">
	<h1><?php echo $this->__('Frequently Asked Questions'); ?>
	
	<div id='search-box' <?php if($reset){echo 'class="reset"';} ?>>
  <form action='?' class="faqSearch" id='search-form' method='get' target='_top'>
    <input id='search-text' name='search' placeholder='Search FAQ' type='text'/>
    <button id='search-button' type='submit'  value="<?php echo $_REQUEST['search']?$_REQUEST['search']:'Search'; ?>" onclick="return checkSearch(this)"><span>Search</span></button>
    
    <?php if($reset): ?>
			 <button id='search-reset' type='submit' name="reset" value="Reset" ><span>Reset</span></button>
			<?php endif; ?>
    
  </form>
</div>
</h1>
</div>
<?php
 $serachTerm = $_REQUEST['search'];
if( $_REQUEST['search']){
		$write = Mage::getSingleton('core/resource')->getConnection('core_write');
		$collection = $write->query("SELECT * FROM `fisheye_faq` WHERE `status` in(1,2) AND `question` LIKE '%$serachTerm%'");
		$collection = $collection->fetchAll();

		foreach($collection as $data){

?>

<div class="main-faq">
	<div id="question">Q: <?php echo $data['question']; ?></div>
	<div id="answer">A: <?php echo $data['answer']; ?></div>
</div>
<?php } }else{
		$collection = Mage::getModel('faq/faq')->getCollection();
		$collection->addFieldToFilter('status',array('in' => array(1,2)));
		$collection->setOrder('faq_id','ASC');
		$collection->getSelect()->group(array("product"));


foreach($collection as $i => $k): 
$id = $k->getProduct();
//echo $id;
//echo $_product->getShortDescription();
$faq[$id][] = $k;
endforeach;
$i = 1;
foreach($faq as $id=>$f):
if($id != 0){
$obj = Mage::getModel('catalog/product');
$_product = $obj->load($id);
$product = $_product->getName();
}
else if($id == 0 ){
$product = "General Product";
}
echo '<div class="prod-tabs"><span class="tab">'. $i++.'. '.$product.'</span>';
  foreach($f as $k):
?>

<div class="main-faq">
	<div id="question">Q: <?php echo $k->getQuestion(); ?></div>
	<div id="answer">A: <?php echo $k->getAnswer(); ?></div>
</div>

<?php  endforeach;
echo '</div>';
endforeach; }?>
<div class="askfishfaq button"><span><span>Ask A Question</span></span></div>
<div class="clear"></div>	