<div class="faq-contain">
<h2>Product Faq's</h2>

	<?php
	$_product = Mage::registry('current_product');
	
	$collection = Mage::getModel("faq/faq")->getCollection();
	$collection->addFieldtoFilter('product',array('in' => array($_product->getId(),0) ));
	$collection->addFieldtoFilter('status',array('in' => array(1,3)));
	$collection->setOrder('order_by','ASC');
	
	foreach($collection as $i => $k):
	?>

	<div class="product-faq">
		<div id="question"> <?php echo $this->__('Q:')?> <?php echo $k->getQuestion(); ?></div>
		<div id="answer"> <?php echo $this->__('A:');?> <?php echo $k->getAnswer(); ?></div>
	</div>
	
	<?php endforeach;?>
	
	<div class="askfishfaq button btn-faq"><span><span>Ask A Question</span></span></div>
</div><!--faq-contain!-->