<?php
/**
 * Payments history template
 */
?>
<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>

<div class="page-title">
	<h2><?php echo $this->__('Withdrawals History') ?></h2>
</div>
<div class="fieldset">
	<?php echo $this->getChildHtml('payment_miniform') ?>

	<div class="clear">&nbsp;</div>
	<?php echo $this->getGridHtml() ?>
</div>
