<?php
/**
 * Payments view miniform request template
 */
?>
<?php $payment = $this->getPayment(); ?>
<?php $statusOption = $this->getStatusArray() ?>

<div class="page-title">
    <h3><?php echo $this->__('Withdrawal detail'); ?></h3>
</div>
<div class="box-info box-account">
    <div class="box-head">
        <h2><?php echo $this->__('Withdrawal Information') ?></h2>
    </div>
    <ul class="form-list">
        <li class="fields">
            <div class="field">
                <strong><?php echo $this->__('Status') ?></strong>
            </div>
            <div class="field">
                <?php echo $statusOption[$payment->getStatus()] ?>
            </div>
        </li>
        <li class="fields">
            <div class="field">
                <strong><?php echo $this->__('Requested Date') ?></strong>
            </div>
            <div class="field">
                <?php echo $this->formatDate($payment->getRequestTime(), 'medium', false) ?>
            </div>
        </li>
        <li class="fields">
            <div class="field">
                <strong><?php echo $this->__('Amount') ?></strong>
            </div>
            <div class="field">
                <?php echo Mage::helper('core')->currency($payment->getAmount()) ?>
            </div>
        </li>
        <li class="fields">
            <div class="field">
                <strong><?php echo $this->__('Fee') ?></strong>
            </div>
            <div class="field">
                <?php if ($payment->getStatus() == 1): ?>
                    <?php echo $this->__('N/A') ?>
                <?php elseif ($payment->getIsPayerFee()): ?>
                    <?php echo Mage::helper('core')->currency(0) ?>
                <?php else: ?>
                    <?php echo Mage::helper('core')->currency($payment->getFee()) ?>
                <?php endif ?>
            </div>
        </li>
        <li class="fields">
            <div class="field">
                <strong><?php echo $this->__('Payment Method') ?></strong>
            </div>
            <div class="field">
                <?php echo $payment->getPaymentMethodHtml() ?>
            </div>
        </li>
        <?php echo $this->getChildHtml('payment_method_info') ?>
    </ul>
</div>
<div class="buttons-set">
    <!--a class="left" href="javascript:window.location.href ='<?php echo $this->getUrl('affiliates/index/payments'); ?>'"-->
        <button type="button" style="float:left" class="form-button button" onclick="javascript:history.go(-1)">
            <span><?php echo $this->__('Back') ?></span>
        </button>
    <!--/a-->
    <?php if ($payment->getStatus() < 3) { ?>
        <div>
            <button type="button" class="form-button button" onclick="cancelPayment()">
                <span><?php echo $this->__('Cancel Withdrawal') ?></span>
            </button>
        </div>
    <?php } ?>
</div>
<?php
$confirmText = Mage::helper('adminhtml')->__('Are you sure?');
$cancelurl = $this->getUrl('affiliateplus/index/cancelPayment', array('id' => $payment->getId()));
?>
<script type="text/javascript">
    //<![CDATA[
    function cancelPayment(){
        if (confirm('<?php echo $confirmText ?>')){
            setLocation('<?php echo $cancelurl ?>');
        }
    }
    //]]>
</script>