<?php
/**
 * Template for Mage_Page_Block_Html
 */
?>
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
		<?php echo $this->getChildHtml('head') ?>
		<link rel="stylesheet" href="//cloud.typography.com/6346272/622984/css/fonts.css" type="text/css" />
		<link rel="stylesheet" href="<?php echo $this->getSkinUrl('css/royalslider/royalslider.css') ?>" />
    </head>
    <body<?php echo $this->getBodyClass()?' class="'.$this->getBodyClass().'"':'' ?>>
		<?php echo $this->getChildHtml('after_body_start') ?>
		<?php echo $this->getChildHtml('global_notices') ?>
        <!--[if lt IE 9]>
            <p class="chromeframe">To view this website at its best please <a href="http://browsehappy.com/">upgrade your internet browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a>.</p>
        <![endif]-->
		<?php echo $this->getChildHtml('header') ?>
        <div class="main-container">
            <div class="main wrapper clearfix">
				<?php echo $this->getChildHtml('breadcrumbs') ?>
				<?php echo $this->getChildHtml('global_messages') ?>
				<?php echo $this->getChildHtml('content') ?>
                <?php echo $this->getChildHtml('right') ?>
            </div> <!-- #main -->
        </div> <!-- #main-container -->
		<?php echo $this->getChildHtml('footer') ?>
        <?php echo $this->getChildHtml('before_body_end') ?>
		<?php echo $this->getAbsoluteFooter() ?>
    </body>
</html>
