<?php 
	/**
	 * affiliatepluscoupon template
	 */
?>

<div class="page-title">
	<h2><?php echo $this->__('Coupon Code') ?></h2>
</div>

<?php $account = $this->getAccount() ?>
<?php if ($account->getCouponCode()): ?>
<ul class="message">
	<li class="success-msg">
		<?php echo $this->__('Share with your friends the coupon code below.') ?>
		<?php echo $this->__('You will receive commission when your friends purchase using this coupon.') ?>
	</li>
	<li>&nbsp;</li>
	<li>
		<div style="width: 99%;margin-bottom: 10px;">
			<label for="coupon-code">          	    
				<strong><?php echo $this->__('Coupon Code') ?>:</strong>
			</label>
			<div style="float: right;">
				<a href="" onclick="popWin('https://twitter.com/share?original_referer=<?php echo urlencode($this->getBaseUrl()) ?>&source=tweetbutton&text=<?php echo urlencode($this->__('Get Discount by Coupon Code: ').$account->getCouponCode().chr(10).$this->__('at')) ?>','tweeter','top:100,left:100,width=640,height=480,resizable=yes,scrollbars=yes')" style="text-decoration: none;">
					<span style=" -webkit-border-radius: 3px; border: #CCC solid 1px; padding: 2px; -moz-border-radius: 3px; border-radius: 3px; background-image: -moz-linear-gradient(top, white, #DEDEDE); background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(#DEDEDE)); background-image: -ms-linear-gradient(top, white, #DEDEDE); background-image: linear-gradient(top, white, #DEDEDE); background-image: -o-linear-gradient(top, white, #DEDEDE); ">
						<span style="background: url('<?php echo Mage::getBaseUrl('media') ?>affiliateplus/default/b2_btn_icon.gif') no-repeat; padding: 0px 3px 0px 18px;">
							<?php echo $this->__('Tweet') ?>
						</span>
					</span>
				</a>
			</div>
		</div>
		<input type="text" class="input-text" value="<?php echo $account->getCouponCode() ?>" style="width: 99%;" readonly="true" onclick="this.select();" />
	</li>
</ul>
<?php else: ?>
<form id="enter-code" action="<? $this->getUrl('*/*/');?>" method="post">
    <ul class="message">
        <li class="notice-msg">
            <?php echo $this->__('Your coupon code is empty. Please input your coupon code! ') ?>
        </li>
        <li>&nbsp;</li>
        <li>
            <div class="customer-name" style="width: 99%;margin-bottom: 10px;">
                <label class="required" for="coupon-code">              	    
                    <strong><?php echo $this->__('Enter Your Code ') ?> <em style="color:#F00">*</em></strong>
                </label>                                   
                <div class="input-box">
                     <input type="text" name="your-code" class="input-text required-entry" style="width: 20%;" />
               </div><br/>
               <div class="botton-set">
                    <button class="form-button button" type="submit" style="margin-left:20px; min-width: 70px;">
                        <span>
                            <span><?php echo $this->__('Submit') ?></span>
                        </span>
                    </button>
                </div>
            </div>
        </li>
    </ul>
</form>
<?php endif ?>
<script type="text/javascript">
		//<![CDATA[
		var productSendtofriendForm = new VarienForm('enter-code');
		productSendtofriendForm.submit = function() {
		if(this.validator.validate()) {
		this.form.submit();
		}
		}.bind(productSendtofriendForm);
		//]]>
	</script>
