<?php
/**
 * @category    Fishpig
 * @package     Fishpig_Wordpress
 * @license     http://fishpig.co.uk/license.txt
 * @author      Ben Tideswell <help@fishpig.co.uk>
 */
?>
<?php $post = $this->getPost() ?>
<?php if ($post): ?>
	<?php $helper = $this->helper('wordpress') ?>
	<?php $author = $post->getAuthor() ?>
	<div class="post-view">		
		<?php echo $this->getBeforePostContentHtml() ?>
		<div class="post-entry entry std<?php if ($post->getFeaturedImage()): ?> post-entry-with-image<?php endif; ?>">
			<?php if ($post->isViewableForVisitor()): ?>
				<?php if ($featuredImage = $post->getFeaturedImage()): ?>
					<div class="featured-image left"><img src="<?php echo $featuredImage->getAvailableImage() ?>" alt="<?php echo $this->escapeHtml($post->getPostTitle()) ?>"/></div>
				<?php endif; ?>
				<div class="page-title post-title">
					<h1><?php echo $this->escapeHtml($post->getPostTitle()) ?></h1>
				</div>
				<?php // social icons added by Rashmi - 12-05-2014 ?>
				<!-- AddThis Button BEGIN -->
				<div class="addthis_toolbox addthis_default_style addthis_32x32_style">					
					
					<a class="addthis_button_preferred_1"></a>
					<a class="addthis_button_preferred_2"></a>
					<a class="addthis_button_preferred_3"></a>
					<a class="addthis_button_google_plusone_share at300b" href="#"></a>
				</div>
				<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
				<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4fd36a563c674f77"></script>
				<!-- AddThis Button END -->
				<?php // social icons added by Rashmi - 12-05-2014 ?>
				
				<?php // start social reward point - widget - Rashmi - 14-05-2014 ?>
					<?php echo $this->getChildHtml('info.rewardssocial.widgets'); ?>
				<?php // end social reward point - widget - Rashmi - 14-05-2014 ?>
				
				<p class="post-date when"><?php echo stripslashes($this->__('Posted on %s<span class=\"by-author\"> by %s</span>.', $post->getPostDate(), $post->getAuthor()->getDisplayName())) ?></p>				
				<?php echo $post->getPostContent() ?>
			<?php else: ?>
				<?php echo $this->getPasswordProtectHtml() ?>
			<?php endif; ?>
		</div>
		<?php
			//echo $this->getAfterPostContentHtml()
		?>
		<?php echo $this->getCommentsHtml() ?>
	</div>
<?php endif; ?>