/* Product Page */
.faq-contain					{border-top: 1px solid #F1F0F1;  margin: 0; padding: 25px 0 31px; }
.faq-contain h2 				{ color: #000000; font-size: 1.16em; margin-bottom: 15px; text-transform: uppercase;}
.product-faq					{ border: 1px solid #E5DCC3; margin:0 0 8px 0;  }	
.product-faq #question			{ color: #0A263C; font-weight:bold; font-size:13px; background:#F6F2E7; padding:3px 5px 3px 5px;  border-bottom: 1px solid #E5DCC3; }
.product-faq #answer			{ padding:3px 5px 3px 5px; }

/* Main Page */
.main-faq						{ border: 1px solid #ccc; margin:0 0 8px 0;  }	
.main-faq #question				{ color: #0A263C; font-weight:bold; font-size:13px; background:#ededed; padding:3px 5px 3px 5px;  border-bottom: 1px solid #ccc; }
.main-faq #answer				{ padding:3px 5px 3px 5px; }

/* General Styling */
.askfishfaq						{ float:left; text-decoration:underline; text-align:center;  color: #12293C; font-weight: normal; cursor:pointer; height: 19px; width:84px; margin:0; cursor:pointer; }

/* Ask Question Page */
#fishaskquestionbox 			{ text-align:left; padding:10px; border:5px solid #f1f0f1; background:#fff;}
#fishaskquestionbox  h1 		{ border-bottom: 1px solid #f1f0f1; color: #000; font-size: 15px; font-weight: bold; margin: 0 0 15px; padding: 2px 0 5px; }
.ask-q-container 				{ margin:0 0 10px 0px; }
.ask-q-container label			{ display: block; float: left; text-align: left; width: 100px; }
.ask-q-container input  		{ width:230px; padding:3px; border: 1px solid #B6B6B6;}
.ask-q-container textarea  		{ width:230px; padding:3px; resize:none; border: 1px solid #B6B6B6;}
.ask-q-container input:focus,  	 
.ask-q-container textarea:focus { background:#EDF7FD;}

#cboxContent{position:relative;}
#cboxClose{position:absolute; top:17px; right:18px; cursor:pointer;}
