.checkout-cart-index .title-buttons .checkout-types {
	display: none;
}

a.cart-product-title,
a.cart-product-title:visited {
	text-decoration: none;
}

.checkout-onepage-index ul,
.checkout-onepage-index ol,
.checkout-cart-index ul {	margin: 0;
	padding: 0;
	list-style: none;
}
.checkout-cart-index li {
	vertical-align:top;
	margin:0 0 5px;
}
.checkout-cart-index table {
	border-collapse:collapse;	margin:0 0 20px;
	width:100%;
}
#shopping-cart-table td,
#shopping-cart-totals-table td {
	padding: 10px;
	border-bottom: 1px solid #ddd;
	vertical-align: top;
	font-size: 90%;
}


#shopping-cart-table th,
#shopping-cart-totals-table th {
	font-weight: normal;
	padding: 5px;
	border-bottom:1px solid #ddd;
	vertical-align: top;
}

.rating > span {
    color: #FFD700;
}

.box-account {
	background: #eaeaea;
	padding: 20px;
	border: 1px solid #ddd;
	margin: 0 0 20px 0;
}

.btn-slider-reduce-points,
.btn-slider-increase-points {
	max-width: none;
}
.discount-codes.box.rewards-box-spend-minicart.discount,
#discount-coupon-form,
.checkout-cart-index .shipping,
.checkout-cart-index .crosssell {
    background: none repeat scroll 0 0 #FAFAFA;
    border: 1px solid #DDDDDD;
    padding: 10px;
	margin: 0 0 20px 0;
}



.checkout-types {
	float:right;
}
.checkout-onepage-index .button,
.checkout-cart-index .button {
	background: #333;
	border-style:none;
	color: #fff;
	display: inline-block;
	font-family: 'Gotham SSm A','Gotham SSm B';
	font-style: normal;
	font-weight: 700;
	padding: 5px 10px;
	margin:0 5px 5px 0;
	text-transform: uppercase;
}
.checkout-onepage-index .button:hover,
.checkout-cart-index .button:hover {
	cursor:pointer;
	background:#555;
}


.cart-collaterals {
	font-size: 90%;
}
.cart-collaterals .col2-set {
	float:left;
	width:60%;
	background: #eaeaea;
	padding: 20px;
}
.cart-collaterals .totals {
	float:right;
	width:33%;
}
.cart-collaterals .col2-set .col-1,
.cart-collaterals .col2-set .col-2 {
	width:100%;
	float:none;
	margin:0 0 5px;
}
.checkout-cart-index #mainmenu-container,
.checkout-cart-index #topbar-container,
.checkout-cart-index #search_mini_form,
.checkout-cart-index #cart,
.checkout-cart-index #footer-container,
.checkout-cart-index #securitybar-container,
.checkout-cart-index #bottombar-container,
.checkout-onepage-index #mainmenu-container,
.checkout-onepage-index #topbar-container,
.checkout-onepage-index #search_mini_form,
.checkout-onepage-index #cart,
.checkout-onepage-index #footer-container,
.checkout-onepage-index #securitybar-container,
.checkout-onepage-index #bottombar-container {
	display: none !important;
}

.checkout-cart-index input {
	border: 1px solid #bbb;
	padding: 7px;
}
.checkout-cart-index select {
	padding:7px;
	font-size:16px;
	line-height:19px;
}

.rewards-checkout-onepage-guestwarn {
	display: none;
}
.col2-right-layout .col-main {
	float:left;
	width:70%;
}
.sidebar {
	width:25%;
}
.col-left {float:left;}
.col-right {float:right;}
.main:after {
	content:"";	display:block;	clear:both;
}
.step-title {
	overflow:hidden;
	position:relative;
	padding: 10px;
	background: #eaeaea;
}
.step-title * {
	display:inline;
	margin:0 5px 0 0;

}
.step-title a {
	float:right;
}
ol#checkoutSteps {
	border-top: 1px solid #DDDDDD;
}

#checkoutSteps .section.active {
	padding: 0 0 20px 0;
}

#checkoutSteps .step {
	padding: 20px;
}

li.section {
    border-bottom: 1px solid #DDDDDD;
    border-left: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
	list-style: none;
}
li.control .input-box {
	float:left;
	margin:0 5px 0 0;
}
.form-list li {
	width:100%;
	overflow:hidden;
	margin:0 0 8px;
}
/*
li.fields>.field,
li.fields>.form-row {
	float:left;
	width:50%;
}
*/
/*
li.section .form-list input[type="text"],
li.section .form-list input[type="email"],
li.section .form-list input[type="password"],
li.section .form-list input[type="number"],
li.section .form-list textarea {
	width:90%;
}
li.section .form-list select {
	width:95%;
	padding:7px;
}
*/
#checkout-review-table th,
#checkout-review-table td {
	padding:5px;
	text-align:left;
	border: 1px solid #ddd;
}
#checkout-review-table tfoot td {

}
.checkout-onepage-index dt {
	margin: 20px 0 0 0;
}
.checkout-onepage-index dd {
	margin:0;
}
#search_autocomplete {
	background:#fff;
}
#search_autocomplete ul {
	list-style:none;	margin:0;	padding:5px;
	max-height:300px;
	overflow:auto;
}
#search_autocomplete ul li {padding:3px;}
#search_autocomplete ul li:hover {
	cursor:pointer;
	background:#bbb;
}
.breadcrumbs ul {	margin:0;	padding:0;
}

.form-search {
	width:100%;
	overflow:hidden;
}

























