/*! normalize.css v1.1.2 | MIT License | git.io/normalize */article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}audio,canvas,video{display:inline-block;*display:inline;*zoom:1}audio:not([controls]){display:none;height:0}[hidden]{display:none}html{font-size:100%;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}html,button,input,select,textarea{font-family:sans-serif}body{margin:0}a:focus{outline:thin dotted}a:active,a:hover{outline:0}h1{font-size:2em;margin:.67em 0}h2{font-size:1.5em;margin:.83em 0}h3{font-size:1.17em;margin:1em 0}h4{font-size:1em;margin:1.33em 0}h5{font-size:.83em;margin:1.67em 0}h6{font-size:.67em;margin:2.33em 0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}blockquote{margin:1em 40px}dfn{font-style:italic}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}mark{background:#ff0;color:#000}p,pre{margin:1em 0}code,kbd,pre,samp{font-family:monospace,serif;_font-family:'courier new',monospace;font-size:1em}pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word}q{quotes:none}q:before,q:after{content:'';content:none}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}dl,menu,ol,ul{margin:1em 0}dd{margin:0 0 0 40px}menu,ol,ul{padding:0 0 0 40px}nav ul,nav ol{list-style:none;list-style-image:none}img{border:0;-ms-interpolation-mode:bicubic}svg:not(:root){overflow:hidden}figure{margin:0}form{margin:0}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0;white-space:normal;*margin-left:-7px}button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle}button,input{line-height:normal}button,select{text-transform:none}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;*overflow:visible}button[disabled],html input[disabled]{cursor:default}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;*height:13px;*width:13px}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}

.checkout-cart-index .title-buttons .checkout-types {
    display: none;
}

a.cart-product-title,
a.cart-product-title:visited {
    text-decoration: none;
}

.checkout-onepage-index ul,
.checkout-onepage-index ol,
.checkout-cart-index ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.checkout-cart-index li {
    vertical-align:top;
    margin:0 0 5px;
}
.checkout-cart-index table {
    border-collapse:collapse;
    margin:0 0 20px;
    width:100%;
}
#shopping-cart-table td,
#shopping-cart-totals-table td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    vertical-align: top;
    font-size: 90%;
}


#shopping-cart-table th,
#shopping-cart-totals-table th {
    font-weight: normal;
    padding: 5px;
    border-bottom:1px solid #ddd;
    vertical-align: top;
}

.rating > span {
    color: #FFD700;
}

.box-account {
    background: #eaeaea;
    padding: 20px;
    border: 1px solid #ddd;
    margin: 0 0 20px 0;
}

.btn-slider-reduce-points,
.btn-slider-increase-points {
    max-width: none;
}
.discount-codes.box.rewards-box-spend-minicart.discount,
#discount-coupon-form,
.checkout-cart-index .shipping,
.checkout-cart-index .crosssell {
    background: none repeat scroll 0 0 #FAFAFA;
    border: 1px solid #DDDDDD;
    padding: 10px;
    margin: 0 0 20px 0;
}



.checkout-types {
    float:right;
}
.checkout-onepage-index .button,
.checkout-cart-index .button {
    background: #333;
    border-style:none;
    color: #fff;
    display: inline-block;
    font-family: 'Gotham SSm A','Gotham SSm B';
    font-style: normal;
    font-weight: 700;
    padding: 5px 10px;
    margin:0 5px 5px 0;
    text-transform: uppercase;
}
.checkout-onepage-index .button:hover,
.checkout-cart-index .button:hover {
    cursor:pointer;
    background:#555;
}


.cart-collaterals {
    font-size: 90%;
}
.cart-collaterals .col2-set {
    float:left;
    width:60%;
    background: #eaeaea;
    padding: 20px;
}
.cart-collaterals .totals {
    float:right;
    width:33%;
}
.cart-collaterals .col2-set .col-1,
.cart-collaterals .col2-set .col-2 {
    width:100%;
    float:none;
    margin:0 0 5px;
}
.checkout-cart-index #mainmenu-container,
.checkout-cart-index #topbar-container,
.checkout-cart-index #search_mini_form,
.checkout-cart-index #cart,
.checkout-cart-index #footer-container,
.checkout-cart-index #securitybar-container,
.checkout-cart-index #bottombar-container,
.checkout-onepage-index #mainmenu-container,
.checkout-onepage-index #topbar-container,
.checkout-onepage-index #search_mini_form,
.checkout-onepage-index #cart,
.checkout-onepage-index #footer-container,
.checkout-onepage-index #securitybar-container,
.checkout-onepage-index #bottombar-container {
    display: none !important;
}

.checkout-cart-index input {
    border: 1px solid #bbb;
    padding: 7px;
}
.checkout-cart-index select {
    padding:7px;
    font-size:16px;
    line-height:19px;
}

.rewards-checkout-onepage-guestwarn {
    display: none;
}
.col2-right-layout .col-main {
    float:left;
    width:70%;
}
.sidebar {
    width:25%;
}
.col-left {float:left;}
.col-right {float:right;}
.main:after {
    content:"";
    display:block;
    clear:both;
}
.step-title {
    overflow:hidden;
    position:relative;
    padding: 10px;
    background: #eaeaea;
}
.step-title * {
    display:inline;
    margin:0 5px 0 0;

}
.step-title a {
    float:right;
}
ol#checkoutSteps {
    border-top: 1px solid #DDDDDD;
}

#checkoutSteps .section.active {
    padding: 0 0 20px 0;
}

#checkoutSteps .step {
    padding: 20px;
}

li.section {
    border-bottom: 1px solid #DDDDDD;
    border-left: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
    list-style: none;
}
li.control .input-box {
    float:left;
    margin:0 5px 0 0;
}
.form-list li {
    width:100%;
    overflow:hidden;
    margin:0 0 8px;
}
/*
li.fields>.field,
li.fields>.form-row {
	float:left;
	width:50%;
}
*/
/*
li.section .form-list input[type="text"],
li.section .form-list input[type="email"],
li.section .form-list input[type="password"],
li.section .form-list input[type="number"],
li.section .form-list textarea {
	width:90%;
}
li.section .form-list select {
	width:95%;
	padding:7px;
}
*/
#checkout-review-table th,
#checkout-review-table td {
    padding:5px;
    text-align:left;
    border: 1px solid #ddd;
}
#checkout-review-table tfoot td {

}

#checkout-review-table {
    width: 100%;
}

.checkout-onepage-index .btn-checkout {
    padding: 12px 30px;
}

.checkout-onepage-index dt {
    margin: 20px 0 0 0;
}
.checkout-onepage-index dd {
    margin:0;
}
#search_autocomplete {
    background:#fff;
}
#search_autocomplete ul {
    list-style:none;
    margin:0;
    padding:5px;
    max-height:300px;
    overflow:auto;
}
#search_autocomplete ul li {padding:3px;}
#search_autocomplete ul li:hover {
    cursor:pointer;
    background:#bbb;
}
.breadcrumbs ul {
    margin:0;
    padding:0;
}

.form-search {
    width:100%;
    overflow:hidden;
}

.royalSlider{width:600px;height:380px;position:relative;direction:ltr}.royalSlider>*{float:left}.rsWebkit3d .rsSlide{-webkit-transform:translateZ(0)}.rsWebkit3d .rsABlock,.rsWebkit3d .rsAbsoluteEl,.rsWebkit3d .rsBtnCenterer,.rsWebkit3d .rsContainer,.rsWebkit3d .rsLink,.rsWebkit3d .rsOverflow,.rsWebkit3d .rsPreloader,.rsWebkit3d .rsSlide,.rsWebkit3d .rsThumbs,.rsWebkit3d img{-webkit-backface-visibility:hidden}.rsFade.rsWebkit3d .rsContainer,.rsFade.rsWebkit3d .rsSlide,.rsFade.rsWebkit3d img{-webkit-transform:none}.rsOverflow{width:100%;height:100%;position:relative;overflow:hidden;float:left;-webkit-tap-highlight-color:rgba(0,0,0,0)}.rsVisibleNearbyWrap{width:100%;height:100%;position:relative;overflow:hidden;left:0;top:0;-webkit-tap-highlight-color:rgba(0,0,0,0)}.rsVisibleNearbyWrap .rsOverflow{position:absolute;left:0;top:0}.rsContainer{position:relative;width:100%;height:100%;-webkit-tap-highlight-color:rgba(0,0,0,0)}.rsArrow,.rsThumbsArrow{cursor:pointer}.rsThumb{float:left;position:relative}.rsArrow,.rsNav,.rsThumbsArrow{opacity:1;-webkit-transition:opacity .3s linear;-moz-transition:opacity .3s linear;-o-transition:opacity .3s linear;transition:opacity .3s linear}.rsHidden{opacity:0;visibility:hidden;-webkit-transition:visibility 0s linear .3s,opacity .3s linear;-moz-transition:visibility 0s linear .3s,opacity .3s linear;-o-transition:visibility 0s linear .3s,opacity .3s linear;transition:visibility 0s linear .3s,opacity .3s linear}.rsGCaption{width:100%;float:left;text-align:center}.royalSlider.rsFullscreen{position:fixed!important;height:auto!important;width:auto!important;margin:0!important;padding:0!important;z-index:2147483647!important;top:0!important;left:0!important;bottom:0!important;right:0!important}.royalSlider .rsSlide.rsFakePreloader{opacity:1!important;-webkit-transition:0s;-moz-transition:0s;-o-transition:0s;transition:0s;display:none}.rsSlide{position:absolute;left:0;top:0;display:block;overflow:hidden;height:100%;width:100%}.royalSlider.rsAutoHeight,.rsAutoHeight .rsSlide{height:auto}.rsContent{width:100%;height:100%;position:relative}.rsPreloader{position:absolute;z-index:0}.rsNav{-moz-user-select:-moz-none;-webkit-user-select:none;user-select:none}.rsNavItem{-webkit-tap-highlight-color:rgba(0,0,0,.25)}.rsThumbs{cursor:pointer;position:relative;overflow:hidden;float:left;z-index:22}.rsTabs{float:left;background:none!important}.rsTabs,.rsThumbs{-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-tap-highlight-color:rgba(0,0,0,0)}.rsVideoContainer{width:auto;height:auto;line-height:0;position:relative}.rsVideoFrameHolder{position:absolute;left:0;top:0;background:#141414;opacity:0;-webkit-transition:.3s}.rsVideoFrameHolder.rsVideoActive{opacity:1}.rsVideoContainer .rsVideoObj,.rsVideoContainer embed,.rsVideoContainer iframe,.rsVideoContainer video{position:absolute;z-index:50;left:0;top:0;width:100%;height:100%}.rsVideoContainer.rsIOSVideo embed,.rsVideoContainer.rsIOSVideo iframe,.rsVideoContainer.rsIOSVideo video{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding-right:44px}.rsABlock{left:0;top:0;position:absolute;z-index:15}img.rsImg{max-width:none}.grab-cursor{cursor:url(grab.png) 8 8,move}.grabbing-cursor{cursor:url(grabbing.png) 8 8,move}.rsNoDrag{cursor:auto}.rsLink{left:0;top:0;position:absolute;width:100%;height:100%;display:block;z-index:20;background:url(blank.gif)}#full-width-slider{width:100%;color:#000}.fullWidth{max-width:1400px;margin:0 auto 24px}@media screen and (min-width:0) and (max-width:800px){.royalSlider.heroSlider,.royalSlider.heroSlider .rsOverflow{width:100%}.infoBlock{padding:10px;height:auto;max-height:100%;min-width:40%;left:5px;top:5px;right:auto;font-size:12px}.infoBlock h3{font-size:14px;line-height:17px}}

/******************************
*
*  RoyalSlider White Controls Skin
*
*    1. Arrows 
*    2. Bullets
*    3. Thumbnails
*    4. Tabs
*    5. Fullscreen button
*    6. Play/close video button
*    7. Preloader
*    8. Caption
*    
*  Sprite: 'rs-minimal-white.png'
*  Feel free to edit anything
*  If you don't some part - just delete it
* 
******************************/


/* Background */
.rsMinW,
.rsMinW .rsOverflow,
.rsMinW .rsSlide,
.rsMinW .rsVideoFrameHolder,
.rsMinW .rsThumbs {
	background: #fff;
	color: #FFF;
}


/***************
*
*  1. Arrows
*
****************/

.rsMinW .rsArrow {
	height: 32px;
	width: 32px;
	position: absolute;
	display: block;
	cursor: pointer;
	z-index: 21;
}

.rsMinW .rsArrowLeft { right: 37px; bottom: 7px; }
.rsMinW .rsArrowRight { right: 7px; bottom: 7px; }

.rsMinW .rsArrowIcn {		
	width: 24px;
	height: 24px;
	margin-top: 3px;
	margin-left: 3px;
	position: absolute;
	cursor: pointer;	
	background: url('../images/rs-minimal-white.png') transparent;
	
	border-radius: 2px;
}
.rsMinW .rsArrowIcn:hover {

}


.rsMinW.rsHor .rsArrowLeft .rsArrowIcn { background-position: -68px -36px; }
.rsMinW.rsHor .rsArrowRight .rsArrowIcn { background-position: -68px -68px; }

.rsMinW.rsVer .rsArrowLeft .rsArrowIcn { background-position: -100px -36px; }
.rsMinW.rsVer .rsArrowRight .rsArrowIcn { background-position: -100px -68px; }

.rsMinW .rsArrowDisabled .rsArrowIcn { opacity: .3 !important; filter: alpha(opacity=30);  *display: none; }


/***************
*
*  2. Bullets
*
****************/

.rsMinW .rsBullets {
	position: absolute;
	bottom: 15px;
	right: 73px;
	z-index: 35;
	padding-top: 4px;
	height: auto;

	text-align: center;
	line-height: 6px;
	overflow: hidden;
}
.rsMinW .rsBullet {
	width: 6px;
	height: 6px;
	display: inline-block;
	*display:inline; 
	*zoom:1;
	padding: 6px 5px 6px 4px;
}
.rsMinW .rsBullet span {
	display: block;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background: #CCC;
	background: rgba(255,255,255,0.5);
	box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
}
.rsMinW .rsBullet.rsNavSelected span {
	background: #FFF;
}





/***************
*
*  3. Thumbnails
*
****************/

.rsMinW .rsThumbsHor {
	width: 100%;
	height: 72px;
}
.rsMinW .rsThumbsVer {
	width: 96px;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
}
.rsMinW.rsWithThumbsHor .rsThumbsContainer {
	position: relative;
	height: 100%;
}
.rsMinW.rsWithThumbsVer .rsThumbsContainer {
	position: relative;
	width: 100%;
}
.rsMinW .rsThumb {
	float: left;
	overflow: hidden;
	width: 102px;
	height: 72px;
	border-right: 1px solid #ddd;
}
.rsMinW .rsThumb img {
	/*
	width: 100%;
	height: 100%;
	*/
}
.rsMinW .rsThumb.rsNavSelected {
	background: #444;
	color: #eee;
}
.rsMinW .rsThumb.rsNavSelected img {
	filter: alpha(opacity=40);
	opacity: 0.7;
}
.rsMinW .rsThumb.rsNavSelected span.thumbIco {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	border: 2px solid #FFF;
	border: 2px solid rgba(255,255,255,0.9);
	-webkit-backface-visibility: hidden;
} 
.rsMinW .rsTmb {
	display: block;
}

/* Thumbnails arrow icons */
.rsMinW .rsThumbsArrow {
	height: 100%;
	width: 20px;
	position: absolute;
	display: block;
	cursor: pointer;	
	z-index: 21;	
}
.rsMinW.rsWithThumbsVer .rsThumbsArrow {
	width: 100%;
	height: 20px;
}
.rsMinW.rsWithThumbsVer .rsThumbsArrowLeft { top: 0; left: 0; }
.rsMinW.rsWithThumbsVer .rsThumbsArrowRight { bottom: 0;  left: 0; }

.rsMinW.rsWithThumbsHor .rsThumbsArrowLeft { left: 0; top: 0; }
.rsMinW.rsWithThumbsHor .rsThumbsArrowRight { right: 0; top:0; }

.rsMinW .rsThumbsArrowIcn {		
	width: 16px;
	height: 16px;
	top: 50%;
	left: 50%;
	margin-top:-8px;	
	margin-left: -8px;
	position: absolute;	
	cursor: pointer;	
	background: url('../images/rs-minimal-white.png');
}

.rsMinW.rsWithThumbsHor .rsThumbsArrowLeft .rsThumbsArrowIcn { background-position: -128px -32px; }
.rsMinW.rsWithThumbsHor .rsThumbsArrowRight .rsThumbsArrowIcn { background-position: -128px -48px; }

.rsMinW.rsWithThumbsVer .rsThumbsArrowLeft .rsThumbsArrowIcn { background-position: -144px -32px; }
.rsMinW.rsWithThumbsVer .rsThumbsArrowRight .rsThumbsArrowIcn { background-position: -144px -48px; }

.rsMinW .rsThumbsArrowDisabled { display: none !important; }

/* Thumbnails resizing on smaller screens */
@media screen and (min-width: 0px) and (max-width: 800px) {
	.rsMinW .rsThumb {
		width: 59px;
		height: 44px;
	}
	.rsMinW .rsThumbsHor {
		height: 44px;
	}
	.rsMinW .rsThumbsVer {
		width: 59px;
	}
}




/***************
*
*  4. Tabs
*
****************/

.rsMinW .rsTabs {
	width: 100%;
	height: auto;
	margin: 0 auto;
	text-align:center;
	overflow: hidden; padding-top: 12px; position: relative;
}
.rsMinW .rsTab {
	display: inline-block;
	cursor: pointer;
	text-align: center;
	height: auto;
	width: auto;
	color: #333;
	padding: 5px 13px 6px;
	min-width: 72px;
	border: 1px solid #D9D9DD;
	border-right: 1px solid #f5f5f5;
	text-decoration: none;

	background-color: #000;
	background-image: -webkit-linear-gradient(top, #fefefe, #f4f4f4); 
	background-image:    -moz-linear-gradient(top, #fefefe, #f4f4f4);
	background-image:         linear-gradient(to bottom, #fefefe, #f4f4f4);

	*display:inline; 
	*zoom:1;
}
.rsMinW .rsTab:first-child {
	-webkit-border-top-left-radius: 4px;
	border-top-left-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	border-bottom-left-radius: 4px;
}
.rsMinW .rsTab:last-child { 
	-webkit-border-top-right-radius: 4px;
	border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	border-bottom-right-radius: 4px;

	border-right:  1px solid #cfcfcf;
}
.rsMinW .rsTab:active { 
	border: 1px solid #D9D9DD;   
	background-color: #f4f4f4;
	box-shadow:  0 1px 4px rgba(0, 0, 0, 0.2) inset;
}
.rsMinW .rsTab.rsNavSelected { 
	color: #000;
	border: 1px solid #999;
	text-shadow: 1px 1px #838383;
	box-shadow: 0 1px 9px rgba(102, 102, 102, 0.65) inset;
	background: #ACACAC;
	background-image: -webkit-linear-gradient(top, #ACACAC, #BBB);
	background-image: -moz-llinear-gradient(top, #ACACAC, #BBB);
	background-image: linear-gradient(to bottom, #ACACAC, #BBB);
}





/***************
*
*  5. Fullscreen button
*
****************/

.rsMinW .rsFullscreenBtn {
	right: 0;
	top: 0;
	width: 44px;
	height: 44px;
	z-index: 22;
	display: block;
	position: absolute;
	cursor: pointer;
	
}
.rsMinW .rsFullscreenIcn {
	display: block;
	margin: 6px;
	width: 32px;
	height: 32px;

	background: url('../images/rs-minimal-white.png') 0 0 transparent;
}
.rsMinW .rsFullscreenIcn:hover {
	opacity: 0.8;
}
.rsMinW.rsFullscreen .rsFullscreenIcn {
	background-position: -32px 0;
}





/***************
*
*  6. Play/close video button
*
****************/

.rsMinW .rsPlayBtn {
	-webkit-tap-highlight-color:rgba(0,0,0,0.3);
	width:64px;
	height:64px;
	margin-left:-32px;
	margin-top:-32px;
	cursor: pointer;
}
.rsMinW .rsPlayBtnIcon {
	width:64px;
	display:block;
	height:64px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	
	-webkit-transition: .3s;
	-moz-transition: .3s;
	transition: .3s;

	background:url(../images/rs-minimal-white.png) no-repeat 0 -32px;
	background-color: #000;
	background-color: rgba(0,0,0,0.75);
	*background-color: #000;
}
.rsMinW .rsPlayBtn:hover .rsPlayBtnIcon {
	background-color: rgba(0,0,0,0.9);
}
.rsMinW .rsBtnCenterer {
	position:absolute;
	left:50%;
	top:50%;
	width: 20px;
	height: 20px;
}
.rsMinW .rsCloseVideoBtn {
	right: 0;
	top: 0;
	width: 44px;
	height: 44px;
	z-index: 500;
	position: absolute;
	cursor: pointer;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateZ(0);
	
}
.rsMinW .rsCloseVideoBtn.rsiOSBtn {
	top: -38px;
	right: -6px;
}

.rsMinW .rsCloseVideoIcn {
	margin: 6px;
	width: 32px;
	height: 32px;
	background: url('../images/rs-minimal-white.png') -64px 0;
	background-color: #000;
	background-color: rgba(0,0,0,0.75);
	*background-color: #000;
}
.rsMinW .rsCloseVideoIcn:hover {
	background-color: rgba(0,0,0,0.9);
}



/***************
*
*  7. Preloader
*
****************/

.rsMinW .rsPreloader {
	width:20px;
	height:20px;
	/* background-image:url(../images/preloaders/preloader-white.gif); */
	left:50%;
	top:50%;
	margin-left:-10px;
	margin-top:-10px;	
}




/***************
*
*  8. Global caption
*
****************/
.rsMinW .rsGCaption {
	position: absolute;
	float: none;
	bottom: 6px;
	left: 6px;
	text-align: left;

	background: #000;
    background: rgba(0,0,0, 0.75);

	color: #FFF;
	padding: 2px 8px;
	width: auto;
	font-size: 12px;
	border-radius: 2px;
}


/* ==========================================================================
   JAC Vapour main style
   ========================================================================== */

/*
old red: #b0151d
red: #b0151d
blue: #0B1E2E
*/

html,
button,
input,
select,
textarea {
    color: #222;
}

input[type=text],
input[type=email],
input[type=password],
input[type=number],
textarea {
	padding: 4px;
}

input[type=text],
input[type=email],
input[type=password],
input[type=number],
select,
textarea {
    border: 1px solid #bbb;
    vertical-align: middle;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
	max-width: 100%;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0;
    background: #ff6600;
    color: #222;
    padding: 10px;
}


/* ===================
    Fonts
   =================== */

@font-face {
    font-family: 'helvetica_ce_55_romanregular';
    src: url('../fonts/helvetica_neue_ce_55_roman-webfont.eot');
    src: url('../fonts/helvetica_neue_ce_55_roman-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helvetica_neue_ce_55_roman-webfont.woff') format('woff'),
         url('../fonts/helvetica_neue_ce_55_roman-webfont.ttf') format('truetype'),
         url('../fonts/helvetica_neue_ce_55_roman-webfont.svg#helvetica_ce_55_romanregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'helvetica_neue_lt_std45_light';
    src: url('../fonts/helveticaneueltstd-lt_0-webfont.eot');
    src: url('../fonts/helveticaneueltstd-lt_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaneueltstd-lt_0-webfont.woff') format('woff'),
         url('../fonts/helveticaneueltstd-lt_0-webfont.ttf') format('truetype'),
         url('../fonts/helveticaneueltstd-lt_0-webfont.svg#helvetica_neue_lt_std45_light') format('svg');
    font-weight: normal;
    font-style: normal;
}




/* =======================================================
   
   ======================================================= */

body {
    font: 16px/26px 'helvetica_neue_lt_std45_light', Helvetica, Helvetica Neue, Arial;
}

h1, h2, h3, h4, h5, h6 {
	color: #333;
	font-family: 'Gotham SSm A', 'Gotham SSm B', Arial;
	font-weight: 600;
	font-style: normal;
	text-transform: uppercase;
}

h1 {
	margin: 0 0 20px 0;
	line-height: 100%;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
	/*font-family: 'helvetica_ce_55_romanregular'; //remove this*/
}

p {
	margin: 0 0 20px 0;
}

.padded-box {
	padding: 20px;
}

.alignRight {
	text-align: right;
}

.alignCenter {
	text-align: center;
}

.nobr {
	white-space: nowrap;
}

.hiddenText {
	display: none;
	padding: 20px 0 0 0;
}

.inlineText {
	display: inline;
}

a.readMore {
	text-decoration: underline;
}

.red {
	color: #b0151d;
}

/* ===================
    Links
   =================== */
a {
	color: #111;
	text-decoration: underline;
}

a:hover {
	color: #ff0000;
}

a:visited {
    color: #111;
}

a.small-link {
	color: #111;
	text-decoration: underline;
	font-size: 80%;
}

a.small-link:hover {
	color: #ff0000;
}

a.small-link:visited {
    color: 111;
}

a.link-bold {
	font-weight: bold;
}

#footer-container {
	padding: 20px 0;
}

.title {
    color: white;
}

/* ==============
    MOBILE: Menu
   ============== */
/*
nav ul {
    margin: 0;
    padding: 0;
}

nav a {
    display: block;
    margin-bottom: 10px;
    padding: 15px 0;

    text-align: center;
    text-decoration: none;
    font-weight: bold;

    color: white;
    background: #e44d26;
}

nav a:hover,
nav a:visited {
    color: white;
}

nav a:hover {
    text-decoration: underline;
}
*/
/* ==============
    MOBILE: Main
   ============== */

.main {
	padding: 10px 0 30px 0;
}

.button.btn-cart,
a.button-primary,
button.button-primary,
a.read-more {
	color: white;
	font-family: 'Gotham SSm A', 'Gotham SSm B', Arial; font-weight: 700; font-style: normal;
	text-transform: uppercase;
	text-decoration: none;
    background: #b0151d;
	padding: 5px 10px;
	display: inline-block;
	margin: 5px 5px 5px 0;
	border: 0;
}

.button.btn-cart:hover,
a.button-primary:hover,
button.button-primary:hover,
a.read-more:hover {
	background: #D5021D;
}

.button.btn-cart,
a.button-primary:hover,
a.button-primary:visited,
a.read-more:hover,
a.read-more:visited {
	color: white;
}

a.read-more {
	float: left;
}

a.button-secondary,
button.button-secondary {
	color: white;
	font-family: 'Gotham SSm A', 'Gotham SSm B', Arial; font-weight: 700; font-style: normal;
	text-transform: uppercase;
	text-decoration: none;
    background: #333;
	padding: 5px 10px;
	display: inline-block;
	margin: 5px 5px 5px 0;
	border: 0;
	line-height: 19px;
}

a.button-secondary:hover,
button.button-secondary:hover {
	background: #6a6a6a;
}

a.button-secondary:hover,
a.button-secondary:visited {
	color: white;
}

.category-box {
	background: #eaeaea;
	border: 1px solid #ccc;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   MOBILE FIRST
   ========================================================================== */

/* ====================
	Top Bar
   ==================== */
#topbar-container {
	display: none;
}

/* ====================
	Header
   ==================== */

#header-container {
	background: #ebebeb;
}

#currency-block {
	display: none;
}

#mobile-cart {
	background: url(../images/icon-cart.png) no-repeat;
	width: 22px;
	height: 22px;
	float: right;
	margin: 9px 0 9px 14px;
}

#mobile-search {
	background: url(../images/icon-search.png) no-repeat;
	width: 22px;
	height: 22px;
	float: right;
	margin: 9px 0 9px 14px;
}

#mobile-menu {
	background: url(../images/icon-menu.png) no-repeat;
	width: 22px;
	height: 22px;
	float: right;
	margin: 9px 0 9px 14px;
}

.logo {
	background: url(../images/logo.png);
	background-size: cover;
	width: 178px;
	height: 29px;
	float: left;
	margin: 5px;
}

.logo strong,
fieldset legend {
	display: block;
	font-size: 0;
	height: 0;
	line-height: 0;
	text-indent: -50000px;
	width: 0;
}

#search_mini_form {
	display: none;
}

#search_mini_form button {
	display: none;
}

#search_mini_form label {
	display: block;
	font-size: 0;
	height: 0;
	line-height: 0;
	text-indent: -50000px;
	width: 0;	
}

#search_mini_form input {
	border: 1px solid #dddddd;
	padding: 0 0 0 7px;
	width: 220px;
	height: 27px;
	vertical-align: middle;
	font-size: 80%;
}

#search_mini_form.mobile-active {
	display: block;
    background: #0B1E2E;
    left: 0;
    padding: 20px;
    position: absolute;
    text-align: center;
    top: 40px;
    width: 90%;
	z-index: 100;
}

/* ====================
	Cart
   ==================== */

#cart {
	display: none;
}

#cart-block {
	display: none;
	font-size: 80%;
}

#cart-block.active {
	display: block;
    position: absolute;
    top: 40px;
    left: 0;
	background: #0B1E2E;
    padding: 5px 20px 20px 20px;
    text-align: center;
    width: 90%;
	z-index: 100;
}

#cart-block-header {
	color: white;
}

.cart-block-product {
	background: white;
	border-bottom: 1px dashed #ddd;
}

#cart-block-total {
	border-bottom: 1px dashed #ddd;
}

.cart-block-product .cart-product-image {
	display: none;
	float: left;
	padding: 10px;
}

.cart-block-product .cart-product-title {
	padding: 10px;
	text-align: left;
	line-height: 120%;
	font-weight: bold;
}

.cart-block-product .cart-product-title a {
	color: #111;
	text-decoration: none;
}

.cart-block-product .cart-product-title a:hover {
	text-decoration: underline;
}

.cart-block-product .cart-product-purchase {
	padding: 0 10px 10px 10px;
	text-align: left;
}

#cart-block-total {
	background: white;
}

#cart-block-checkout {
	background: white;
	border-bottom: 1px dashed #ddd;
}

#cart-block-footer {
	background: white;
}

#country-block-footer {
	display: none;
}

#shopping-cart-table dl.item-options {
	display: none;
}

.item-options dt {
	display: none;
}

.cart-points-total_spent {
	
}

/* ====================
    Main Menu
   ==================== */
#mainmenu-container {
	display: none;
	background: #0B1E2E;
	padding: 20px 0;
}

#mainmenu-container nav ul {
    margin: 0;
    padding: 0 15px 0 0;
}

#mainmenu-container nav li {
	padding: 0 15px;
	border-bottom: 1px dashed #aeaeae;
	display: block;
}

#mainmenu-container nav a {
    /*font-family: 'GothamMedium';*/
	font-family: 'Gotham SSm A', 'Gotham SSm B', Arial; font-weight: 500; font-style: normal;
	text-align: center;
    text-decoration: none;
    color: white;
	text-transform: uppercase;
	font-size: 95%;

}

#mainmenu-container nav a:hover,
#mainmenu-container nav a:visited {
    color: white;
}

#mainmenu-container nav a:hover {
    text-decoration: none;
}


/* ====================
    Footer
   ==================== */

#footer-container {
	background: #ebebeb;
	border-top: 5px solid #0B1E2E;
}

#footer-container footer {
    color: #0B1E2E;
	font-size: 80%;
}

#footer-container  h3 {
	text-transform: uppercase;
}

#footer-container ul {
    margin: 0;
    padding: 0;
}

#footer-container ul {
    margin: 0;
    padding: 0;
	list-style: none;
	text-transform: uppercase;
	font-size: 90%;
}

#footer-container li {
	border-bottom: 1px dashed #0B1E2E;
}

#footer-container a {
    text-align: center;
    text-decoration: none;
    color: #0B1E2E;
}

#footer-container a:hover,
#footer-container a:visited {
    color: #0B1E2E;
}

#footer-container a:hover {
    text-decoration: underline;
}

#currency-block-footer {
	display: none;
}

#currency-block-footer label {
	display: none;
}

#currency-block-footer select {
	width: 100%;
}

/* ====================
    #security Bar
   ==================== */
#securitybar-container {
    display: none;
}

/* ====================
    Bottom Bar
   ==================== */
#bottombar-container {
    color: #0B1E2E;
	font-size: 70%;
	padding: 20px 0 0 0;
}

#bottombar-container img {
	float: right;
}

/* ====================
    Breadcrumb
   ==================== */
   
.breadcrumbs {
    color: #333333;
    font-size: 80%;
    margin: 0;
    padding: 0 0 10px;
}

.breadcrumbs li {
	display: inline;
}

.breadcrumbs li:after { 
	content: " > ";
}
.breadcrumbs li:last-child:after { 
	content: "";
}


.breadcrumbs a {
	text-decoration: none;
}

.breadcrumbs a:visited {
	color: #333;
}

.breadcrumbs a:hover {
	color: #333;
	text-decoration: underline;
}

.row {
	margin: 0 0 20px 0;
	clear: both;
	float: left;
	width: 100%;
}

/* ====================
    Forms
   ==================== */

.form-row,
.form-list li {
	margin: 0 0 10px 0;
}

.form-row label,
.form-list li label {
	display: inline-block;
	width: 50%;
}
 
/* ====================
Login Form
==================== */

.login-block {
	border-bottom: 1px solid #ccc;
	padding: 0 0 20px 0;
	margin: 20px 0;
}

.login-block.form-row {
	margin: 0 0 10px 0;
}

.login-block.form-row label {
	display: block;
	width: 100%;

}
/* ====================
Home page
==================== */

#home-slider-container {
	width: 100%;
	padding: 0 0 20px 0;
}

#home-slider-container h1 {
	color: #fff;
	width: 50%;
	margin: 20px;
	font-size: 150%;
}

#home-slider-container h1 span {
	color: #b0151d;
	font-size: 150%;
	white-space: nowrap;
}

#home-slider-container p {
	display: none !important;
}

#home-slider-container a.button1 {
	top: auto;
	bottom: 70px;
	left: 20px;
	margin: 0;
}

#home-slider-container a.button2 {
	top: auto;
	bottom: 20px;
	left: 20px;
	margin: 0;
}

#home-help {
	display: inline-block;
	width: 50%;
}

#home-help h2 {
	color: white;
	margin: 0;
}

#home-help p {
	color: white;
}

#home-rewards {
	display: inline-block;
	width: 50%;
	padding: 0 0 20px;
	float: left;
}

#home-rewards h2 {
	color: white;
	margin: 0;
}

#home-rewards p {
	color: white;
}

#home-delivery {
	background: url(../images/delivery.gif) no-repeat 20px 15px #00b2e6;
	width: 100%;
	margin: 0 0 20px 0;
	clear: both;
}

#home-delivery p {
	font-family: 'Gotham SSm A', 'Gotham SSm B', Arial;
	color: white;
	padding: 20px 20px 20px 160px;
	font-size: 125%;
	line-height: 120%;
}

.home-text-block {
	padding: 0 0 20px 0;
	border-bottom: 1px dashed #ddd;
}

#home-advice {
	background: #ccc;
	padding: 20px 20px 0 20px;
	margin: 20px 0 20px 0;
	float: left;
}

#home-advice h2 {
	margin-top: 0;
}

#home-product-promo {
	width: 100%;
	text-align: center;
	clear: both;
}

.block-recent-posts h3 { margin:0 0 10px 0;}

h2 a, 
h4 a {
	text-decoration: none;
}

#home-review-block h3 {
	margin-top: 0;
	margin: 0 0 10px 0;
	color: #0B1E2E;
}

#home-review-block a#all-reviews-link {
	display: none;
}

#home-review-content {
	background: #C61C1A;
	color: white;
	margin: 0 0 20px 0;
}

#home-review-content .padded-box {
    min-height: 190px;
}

#home-review-block p {
	font-size: 90%;
	margin: 0;
	text-align: justify;
}

#home-review-block a {
    text-align: center;
    text-decoration: none;
    color: white;
	font-size: 90%;
	text-transform: uppercase;
}

#home-review-block a:hover,
#home-review-block a:visited {
    color: white;
}

#home-review-block a:hover {
    text-decoration: underline;
}

/* ====================
Poll
==================== */

.block-poll .block-content {
	border: 1px solid #ddd;
	padding: 0 20px 20px 20px;
	background: #fafafa;
	margin-top: 20px;
}

ul#poll-answers {
	list-style: none;
	padding: 0;
}



.promo-product-block,
.promo-product-block-tall {
	border: 1px solid #ddd;
	margin: 0 0 20px 0;
	padding: 20px;
	display: block;
	text-decoration: none;
	text-align: center;
}

.promo-product-block:hover,
.promo-product-block-tall:hover,
.promo-product-block:visited,
.promo-product-block-tall:visited {
	text-decoration: none;
}

.promo-product-block h2 {
	font-size: 210%;
	line-height: 100%;
	font-weight: 800;
	color: #0B1E2E;
}

.promo-product-block p {
	color: #111;
	font-size: 90%;
	margin: 0;
}

.ratingValue {
	text-indent: -50000px;
	font-size: 0;
	float: left;
}

.rating-box {
    /*background: url("../images/rating.gif") repeat-x  0 0;*/
    margin: 10px 0 0 0 !important;
    width: 85px;
	display: inline-block;
}

.rating-box .rating {
    background: url("../images/star-gold.png") repeat-x 0 100%;
    float: left;
    height: 16px;
}

.review-rating {
	font-size: 90%;
}

.review-count-link {
	vertical-align: middle;
	line-height: 170%;
	vertical-align: text-bottom;
}

.rating > span {
    background: url('../images/star-gold.png') repeat-x 0 100%;
    display: inline-block;
    height: 17px;
    width: 17px;
}

/* ====================
Category page
==================== */

#category-container .product-list-item p {
	display: block;
}


#product-list-header #pagination,
#product-list-footer .product-sort,
#product-list-footer h4 {
	display:none;
}

#category-go-back-text  {
	display: none;
}

ul#category-list,
ul#product-list-items {
	list-style: none;
	padding: 0;
}

ul#product-list-items {
	border-top: 1px solid #ddd;
}

div#product-list {
	display: none;
}

.category-choice {
	margin: 0 0 20px 0;
	text-align: center;
}

.category-choice h3 {
	margin: 0;
	padding: 20px 0 0 0 !important;
	font-size: 95%;
    white-space: nowrap;
}

.category-choice img {
	/*width: 200px;*/
	height: 130px;
}

.category-choice p {
	margin: 10px;
	color: #333;
	text-align: left;
}

.category-choice a {
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Gotham SSm A', 'Gotham SSm B', Arial; font-weight: 600; font-style: normal;
}

a.category-link {
	border: 1px solid #ddd;
	padding-bottom: 10px;
}

a.category-link:hover {
	border: 1px solid #aaa;
}

a.category-link:hover h3 {
	color: #b0151d;
}

.category-choice a.more-info-link {
	white-space: nowrap;
	padding: 10px;
	font-size: 90%;
	color: #1F5581;
	outline: none;
}

.category-choice a.more-info-link:hover,
.category-choice a.more-info-link:visited {
	color: #1F5581;
}

.category-choice a.more-info-link:hover {
	text-decoration: underline;
}

.category-choice-more-info-container {
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

a.product-list-item {
	text-decoration: none;
	text-align: center;
	display: block;
	padding: 20px 0 20px 0;
	border: 1px solid #fff;
	border-bottom: 1px solid #eaeaea;
}
.product-list-item .review-count-link {
    display: block;
}
.product-list-item .review-rating .product-reviews-total {
    font-size: 14px;
}


a.product-list-item:hover,
a.product-list-item:visited {
	text-decoration: none;
}

a.product-list-item:hover {
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	border-left: 1px solid #ddd;
}

a.product-list-item:hover .product-title,
a.product-list-item:hover p {
	color: #b0151d;
}

a.product-list-item p,
a.product-list-item img,
a.product-list-item div {
	margin: 0;
	/*width: 100%;*/
}

.product-list-item p {
	color: #111;
}

.product-list-item .product-title {
	font-size: 90%;
	margin: 0;
	line-height: 130%;
	text-transform: none;
}

.product-list-item div.product-image {
	background: #fff;
}

.product-list-item .product-reviews-total {
	color: #b0151d;
	font-size: 90%;
}

.product-list-item p {
	font-size: 90%;
 }
.product-price {
	color: #b0151d;
	font-size: 110%;
	font-weight: bold;
}

#category-container .product-list-item p.old-price {
	text-decoration:line-through;
	display:inline;
}

.catalog-category-view .availability {
	display: none;
}

.availability {
	color: #b0151d;
	font-size: 90%;
	line-height: 200%;
}

.product-tabs {
	margin: 10px 0 0 0;
	font-size: 80%;
}

/* ========================
    Product Filters
   ======================== */

#filter-heading {
	display: none;
}

#product-filters {
	border-bottom: 1px solid #ddd;
}

#product-filters h4 {
	color: white;
	background: #111;
	text-align: center;
	padding: 3px;
}

#product-filters h5 {
	border-top: 1px solid #ddd;
	margin: 0;
	padding: 5px 0;
}

#product-filters h5 a {
	text-decoration: none;
}

#product-filter-options {
	display: none;
}

#product-filters ul {
	display: none;
	margin: 0;
	padding: 0 0 10px 0;
}

#product-filters li {
	font-size: 80%;
	list-style: none;
}
	
#product-filters input[type=checkbox] {
	vertical-align: middle;
	display: none;
}

#product-filters li a {
	text-decoration: none;
}

.filter-checkbox {
	display: none;
}

#product-detail #cross-sell {
	clear: both;
}


#product-detail #product-reviews {
	clear: both;
	padding: 20px 0 0 0;
	border-top: 1px dashed #ddd;
}

#product-detail #product-reviews h2 {
	margin: 0;
}

 #product-reviews ul {
	margin: 0;
	padding: 10px 0 0 0;
}

#product-detail #product-reviews li {
	list-style: none;
	padding: 5px 0;
}

#product-detail .product-review {
	padding: 20px 0 20px 0;
	border-bottom: 1px dashed #ddd;
	font-size: 90%;
}

#product-reviews #review-form textarea,
#product-reviews #review-form input[type=text] {
	width: 300px;
}

.product-option {
	padding: 10px 0 10px 0;
	border-bottom: 1px dashed #ddd;
}

.product-option label {
	display: block;
}

.product-image {
	
}

/* ====================
	Product Page
   ==================== */

#connector-type-container {
	margin: 0 0 20px 0;
}

#connector-type-container ul {
	padding: 0;
	list-style: none;
	display: inline;
}

#connector-type-container li {
	display: inline;
	padding: 0 10px;
}

#connector-type-container li a {
	padding: 3px 0 3px 28px;
	background: url('../images/radio-inactive.gif') no-repeat;
	text-decoration: none;
}

#connector-type-container li a.active,
#connector-type-container li a:hover {
	background: url('../images/radio-active.gif') no-repeat;
}

#gallery-product {
	width: 100%;
}

#product-options-wrapper,
.product-options-bottom {
	background: #fafafa;
	padding: 20px
}

#product-options-wrapper {
	font-size: 90%;
	margin: 20px 0 0 0;
	border: 1px solid #ddd;
}

#product-options-wrapper h2 {
	margin: 0;
	color: #b0151d;
}

#product-options-wrapper dt {
	margin: 0;
	padding: 10px 0 0 0;
	border-top: 1px dashed #aaa;
}

#product-options-wrapper dd {
	margin: 0;
	padding: 0 0 10px 0;
	
}

#product-options-wrapper select {
	width: 100%;
	padding: 4px;
}

.product-options-bottom {
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	border-left: 1px solid #ddd;
	margin: 0 0 20px 0;
	text-align: center;
}

.qty {
	width: 20px;
	text-align: center;
}

.qty-holder {
    display: block;
    padding: 10px 0 0;
}

#related-products {
	border-top: 1px dashed #ddd;
}

.product-more-info-link {
	display: block;
	border-top: 1px solid #ddd;
	text-decoration: none;
	background: url(../images/arrow-down.png) no-repeat center right;
}

.product-more-info-link.active {
	background: url(../images/arrow-left.png) no-repeat center right;
}

.product-more-info {
	display: none;
	padding: 10px 0;
	text-align: left;
	font-size: 90%;
}
.product-more-info th {
	padding: 0 10px 0 0;
	white-space: nowrap;
}
.product-more-info th,
.product-more-info td {
	vertical-align: top;
}

.product-delivery-message p {
	margin: 10px 0 10px 0;
	font-size: small;
}

#video-gallery {
	width: 100%;
}

#video-gallery .rsThumbsContainer {
	color: #444;
	background: #eaeaea;
	font-size: 80%;
	line-height: 120%;
}
#video-gallery .rsTmb {
	padding: 10px;
}
#video-gallery .rsThumb {
	width: 136px;
}
.table-product-grouped-items {
	text-align: left;
	margin: 20px 0 0 0;
}

.table-product-grouped-items tr {
	border-bottom: 1px dashed #ddd;
}

.table-product-grouped-items td {
	padding: 10px 10px 10px 0;
	vertical-align: top;
}

.rewardssocial-widget.rewardssocial-info-twitter-tweet {
    padding: 15px 0;
}

.rewardssocial-widget {
    float: left;
    line-height: 20px;
    margin: 0;
    padding: 15px 20px 15px 0;
    vertical-align: middle;
}

.rewardssocial-referral-share,
.rewardssocial-widgets-points-notification {
    display: none !important;
}

/* ====================
	Help Page
   ==================== */
   
ul#help-categories {
	margin: 0;
	padding: 0;
}

#help-categories li {
	font-size: 80%;
	list-style: none;
}

#help-categories li h3 {
	padding: 14px;
	margin: 0;
	background: #ddd;
}

#help-categories li:hover h3 {
	background: #0B1E2E;
	color: white;
}

#help-categories li p {
	padding: 14px;
	margin: 0;
}

#help-categories li a {
	border: 1px solid #ddd;
	padding: 0;
	display: block;
	text-decoration: none;
	margin: 0 0 20px 0;
	min-height: 130px;
}

#help-categories li a:hover {
	border: 1px solid #0B1E2E;
	color: #111;
}

/* ====================
	Pagination
   ==================== */

ul#pagination {
	list-style: none;
}

ul#pagination li {
	display: inline;
}

ul#pagination li.active span {
	background: #ddd;
}

ul#pagination a {
	text-decoration: none;
}

ul#pagination a,
ul#pagination span {
	padding: 6px;
	border: 1px solid #ddd;
	font-size: 90%;
}

/* ====================
    Cart Page
   ==================== */
#shopping-cart-table h3 {
	margin: 0;
}

#shopping-cart-table dl {
	display: block;
	margin: 0;
}

#shopping-cart-table dd{
	margin: 0;
}

#shopping-cart-table a.product-name,
#shopping-cart-table a.product-name {
	text-decoration: none;
}

#shopping-cart-table a.product-name:hover {
	text-decoration: underline;
}

.checkout-onepage-index .step-title a {
	display: none;
}

.back-link {
    float: left;
}

#coupon_code {
	margin: 0 0 10px 0;
}

.crosssell a {
	text-decoration: none;
}

.crosssell h3 {

}

#crosssell-products-list li {
	border-top: 1px dashed #bbb;
	padding: 10px 0 10px 0;
	text-align: center;
}

.crosssell h4 {
	margin: 5px;
}

.crosssell .product-price {
	color: #222;
	margin: 0 0 5px 0;
}


.crosssell .availability {
	display: none;
}

.cartSlider {
	width: 190px;
}

.cartSlider .sliderRail {
    width: 178px !important;
}
/* ====================
    Product Reviews Page
   ==================== */
.review-product-list #product-image,
.review-product-list .product-tabs,
.review-product-list .product-options-bottom,
.review-product-list .product-more-info-link,
.review-product-list h2 {
	display: none;
}

#product-review-table th {
	
}

#product-review-table {
    background: #fafafa;
}
#product-review-table th {
    padding: 5px 10px;
}

#product-review-table td {
    padding: 5px 20px;
}

/* ====================
	Blog
   ==================== */
.post-list-home ul#post-list,
.post-list ul#post-list {
	list-style: none;
	padding: 0;
	margin: 0;
}

.post-entry.entry h4 {
	margin: 10px 0 3px 0;
}

.post-view table {
	background: #fafafa;
}

.post-view th,
.post-view td {
	vertical-align: top;
	padding: 10px;
	font-size: 80%;
}

.post-meta.details {
	font-style: italic;
	font-size: 80%;
	line-height: 130%;
	text-align: right;
	padding: 5px;
}

.post-list-home p.post-excerpt {
	display: none;
}

/* ====================
	Dialog
   ==================== */
.overlay_magento {
	/* transparent bg */
}

.dialog {
	background: #fafafa;
	border: 1px solid #ddd;
	padding: 20px;
}

/* ====================
	Modal
   ==================== */

.white-popup {
	position: relative;
	background: #FFF;
	padding: 10px;
	width: auto;
	max-width: 500px;
	margin: 0 auto;
}

.category-eliquid #product-filters {
	display: none;
}


.mfp-bg{top:0;left:0;width:100%;height:100%;z-index:1042;overflow:hidden;position:fixed;background:#0b0b0b;opacity:.8;filter:alpha(opacity=80)}.mfp-wrap{top:0;left:0;width:100%;height:100%;z-index:1043;position:fixed;outline:0!important;-webkit-backface-visibility:hidden}.mfp-container{text-align:center;position:absolute;width:100%;height:100%;left:0;top:0;padding:0 8px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}.mfp-container:before{content:'';display:inline-block;height:100%;vertical-align:middle}.mfp-align-top .mfp-container:before{display:none}.mfp-content{position:relative;display:inline-block;vertical-align:middle;margin:0 auto;text-align:left;z-index:1045}.mfp-ajax-holder .mfp-content,.mfp-inline-holder .mfp-content{width:100%;cursor:auto}.mfp-ajax-cur{cursor:progress}.mfp-zoom-out-cur,.mfp-zoom-out-cur .mfp-image-holder .mfp-close{cursor:-moz-zoom-out;cursor:-webkit-zoom-out;cursor:zoom-out}.mfp-zoom{cursor:pointer;cursor:-webkit-zoom-in;cursor:-moz-zoom-in;cursor:zoom-in}.mfp-auto-cursor .mfp-content{cursor:auto}.mfp-arrow,.mfp-close,.mfp-counter,.mfp-preloader{-webkit-user-select:none;-moz-user-select:none;user-select:none}.mfp-hide,.mfp-loading.mfp-figure{display:none}.mfp-preloader{color:#ccc;position:absolute;top:50%;width:auto;text-align:center;margin-top:-.8em;left:8px;right:8px;z-index:1044}.mfp-preloader a{color:#ccc}.mfp-preloader a:hover{color:#fff}.mfp-s-error .mfp-content,.mfp-s-ready .mfp-preloader{display:none}button.mfp-arrow,button.mfp-close{overflow:visible;cursor:pointer;background:0 0;border:0;-webkit-appearance:none;display:block;outline:0;padding:0;z-index:1046;-webkit-box-shadow:none;box-shadow:none}button::-moz-focus-inner{padding:0;border:0}.mfp-close{width:44px;height:44px;line-height:44px;position:absolute;right:0;top:0;text-decoration:none;text-align:center;opacity:.65;filter:alpha(opacity=65);padding:0 0 18px 10px;color:#fff;font-style:normal;font-size:28px;font-family:Arial,Baskerville,monospace}.mfp-close:focus,.mfp-close:hover{opacity:1;filter:alpha(opacity=100)}.mfp-close:active{top:1px}.mfp-close-btn-in .mfp-close{color:#333}.mfp-iframe-holder .mfp-close,.mfp-image-holder .mfp-close{color:#fff;right:-6px;text-align:right;padding-right:6px;width:100%}.mfp-counter{position:absolute;top:0;right:0;color:#ccc;font-size:12px;line-height:18px}.mfp-arrow{position:absolute;opacity:.65;filter:alpha(opacity=65);margin:0;top:50%;margin-top:-55px;padding:0;width:90px;height:110px;-webkit-tap-highlight-color:rgba(0,0,0,0)}.mfp-arrow:active{margin-top:-54px}.mfp-arrow:focus,.mfp-arrow:hover{opacity:1;filter:alpha(opacity=100)}.mfp-arrow .mfp-a,.mfp-arrow .mfp-b,.mfp-arrow:after,.mfp-arrow:before{content:'';display:block;width:0;height:0;position:absolute;left:0;top:0;margin-top:35px;margin-left:35px;border:medium inset transparent}.mfp-arrow .mfp-a,.mfp-arrow:after{border-top-width:13px;border-bottom-width:13px;top:8px}.mfp-arrow .mfp-b,.mfp-arrow:before{border-top-width:21px;border-bottom-width:21px;opacity:.7}.mfp-arrow-left{left:0}.mfp-arrow-left .mfp-a,.mfp-arrow-left:after{border-right:17px solid #fff;margin-left:31px}.mfp-arrow-left .mfp-b,.mfp-arrow-left:before{margin-left:25px;border-right:27px solid #3f3f3f}.mfp-arrow-right{right:0}.mfp-arrow-right .mfp-a,.mfp-arrow-right:after{border-left:17px solid #fff;margin-left:39px}.mfp-arrow-right .mfp-b,.mfp-arrow-right:before{border-left:27px solid #3f3f3f}.mfp-iframe-holder{padding-top:40px;padding-bottom:40px}.mfp-iframe-holder .mfp-content{line-height:0;width:100%;max-width:900px}.mfp-iframe-holder .mfp-close{top:-40px}.mfp-iframe-scaler{width:100%;height:0;overflow:hidden;padding-top:56.25%}.mfp-iframe-scaler iframe{position:absolute;display:block;top:0;left:0;width:100%;height:100%;box-shadow:0 0 8px rgba(0,0,0,.6);background:#000}img.mfp-img{width:auto;max-width:100%;height:auto;display:block;line-height:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:40px 0;margin:0 auto}.mfp-figure{line-height:0}.mfp-figure:after{content:'';position:absolute;left:0;top:40px;bottom:40px;display:block;right:0;width:auto;height:auto;z-index:-1;box-shadow:0 0 8px rgba(0,0,0,.6);background:#444}.mfp-figure small{color:#bdbdbd;display:block;font-size:12px;line-height:14px}.mfp-figure figure{margin:0}.mfp-bottom-bar{margin-top:-36px;position:absolute;top:100%;left:0;width:100%;cursor:auto}.mfp-title{text-align:left;line-height:18px;color:#f3f3f3;word-wrap:break-word;padding-right:36px}.mfp-image-holder .mfp-content{max-width:100%}.mfp-gallery .mfp-image-holder .mfp-figure{cursor:pointer}@media screen and (max-width:800px) and (orientation:landscape),screen and (max-height:300px){.mfp-img-mobile .mfp-image-holder{padding-left:0;padding-right:0}.mfp-img-mobile img.mfp-img{padding:0}.mfp-img-mobile .mfp-figure:after{top:0;bottom:0}.mfp-img-mobile .mfp-figure small{display:inline;margin-left:5px}.mfp-img-mobile .mfp-bottom-bar{background:rgba(0,0,0,.6);bottom:0;margin:0;top:auto;padding:3px 5px;position:fixed;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}.mfp-img-mobile .mfp-bottom-bar:empty{padding:0}.mfp-img-mobile .mfp-counter{right:5px;top:3px}.mfp-img-mobile .mfp-close{top:0;right:0;width:35px;height:35px;line-height:35px;background:rgba(0,0,0,.6);position:fixed;text-align:center;padding:0}}@media all and (max-width:900px){.mfp-arrow{-webkit-transform:scale(0.75);transform:scale(0.75)}.mfp-arrow-left{-webkit-transform-origin:0;transform-origin:0}.mfp-arrow-right{-webkit-transform-origin:100%;transform-origin:100%}.mfp-container{padding-left:6px;padding-right:6px}}.mfp-ie7 .mfp-img{padding:0}.mfp-ie7 .mfp-bottom-bar{width:600px;left:50%;margin-left:-300px;margin-top:5px;padding-bottom:5px}.mfp-ie7 .mfp-container{padding:0}.mfp-ie7 .mfp-content{padding-top:44px}.mfp-ie7 .mfp-close{top:0;right:0;padding-top:0}

/* ==========================================================================
   Media Queries
   ========================================================================== */
@media (min-width:320px) {
	/* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ /*DONE: ABOVE*/
	
	.validation-advice {
		color:#f00;
		border:1px dotted #f00;
		padding:5px;
		margin:3px 0;
	}
}
@media (min-width:480px) { /* smartphones, Android phones, landscape iPhone */ } /*DONE*/

@media (min-width:600px) { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ }
@media (min-width:801px) { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }

@media only screen and (min-width: 480px) {

	.logo {
		width: 245px;
		height: 40px;
	}

	.noPadding {
		padding: 0 !important;
	}

	.noMargin {
		margin: 0 !important;
	}

	.column-one-half {
		width: 47.8006%;
		float: left;
		margin: 0 4.39883% 0 0;
	}

	.column-one-half-right {
		width: 47.8006%;
		float: right;
		margin: 0 4.39883% 0 0;
	}

	.column-one-third {
		width: 47.8006%;
		float: left;
		margin: 0 4.39883% 0 0;
	}

	.column-two-thirds {
		width: 47.8006%;
		float: left;
		margin: 0;
	}

	.column-one-quarter {
		width: 47.8006%;
		float: left;
		margin: 0 4.39883% 0 0;
	}

	.column-one-quarter:nth-child(2n),
	.column-one-third:nth-child(2n),
	.column-one-half:nth-child(2n) {
		margin-right: 0;
	}

	.product-list-item .product-title {
		min-height: 38px;
	}

	.login-block {
		border-bottom: none;
	}
	
	.login-block fieldset {
		border-right: 1px solid #ddd;
		padding: 0 10px 10px 10px;
		margin: 0 20px 0 0;
	}

	.contact-block {
		border-right: 1px solid #ddd;
		padding: 0 10px 10px 10px;
	}

	.webforms-contact2 {
		margin: 50px 0 0;
	}
	
	.webforms-success-text {
		margin: 140px 0;
	}
/* ========================
    Product Filters
   ======================== */

	#mobile-filter-menu {
		display: none;
	}

	#filter-heading {
		display: block;
	}

	#product-filters {
		width: 20%;
		float: left;
		margin: 0 1% 0 0;
		padding: 0 1% 0 0;
		border-right: 1px solid #eaeaea;
	}

	#category-container,
	.my-account,
	.mypoints-page,
	.referrals,
	/*.blog-home,*/
	.post-view,
	.post-list {
		width: 77%;
		float: left;
		margin: 0;
	}

	.post-list {
		float: left;
		margin: 0;
	}

	#product-list-items {
		clear: both;
	}

	#product-filters {
		display: block;
		border-bottom: none;
	}
	
	#product-list-header {
		border-top: 1px solid #ddd;
	}
	
	#product-list-header h4 {
		padding: 10px 0;
		margin: 0;
		float: left;
	}
	
	#product-filters h4 {
		border-top: 1px solid #ddd;
		padding: 10px 0;
		margin: 0;
		background: none;
		color: #111;
		text-align: left;
	}

	#product-filter-options {
		display: block !important;
	}

	#product-filters h5 {
		border-top: 1px solid #DDDDDD;
		display: block;
	}
	
	#product-filters ul {
		display: block;
	}

	#product-filters li a:hover,
	#product-filters li a:visited {
		text-decoration: underline;
	}

	.filter-checkbox {
		/*display: inline-block;*/
	}

	.product-sort {
		float: right;
		padding: 10px;
		font-size: 90%;
	}

	#product-list-header {
		
	}
	
	#product-list-footer {
		clear: both;
		text-align: right;
		padding: 20px 0 0 0;
	}

	.white-popup {
		padding: 20px 30px 20px 20px;
	}
	
	#product-title {
		float: right;
	}

	#product-image {
		margin-top: 20px;
	}
	
	#shopping-cart-table dl.item-options {
		display: block;
	}

	.block-poll {
		width: 47.8006%;
		float: left;
		margin: 0 4.39883% 0 0;
	}

	.block-poll .block-content {
		min-height: 300px;
	}

	.block-poll:nth-of-type(3) {
		margin-right: 0;
	}

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}

@media only screen and (min-width: 768px) {

/* ====================
	Columns
   ==================== */

	.column-one-half {
		width: 47.8006%;
		float: left;
		margin: 0 4.39883% 0 0;
	}

	.column-one-third {
		width: 32%;
		float: left;
		margin: 0 2% 0 0;
	}

	.main aside {
		width: 32%;
		float: left;
		margin: 0;
	}

	.column-one-third:nth-child(2n) {
		margin-right: 2%;
	}

	.column-one-third:nth-child(3n),
	.column-one-half:nth-child(2n) {
		margin-right: 0;
	}

	.column-two-thirds {
		width: 66%;
		float: left;
		margin: 0 2% 0 0;
	}

	.main article {
		width: 66%;
		float: left;
		margin: 0 2% 0 0;
	}

	.column-one-quarter {
		width: 24%;
		float: left;
		margin: 0 1.333% 0 0;
	}

	.column-one-quarter:nth-child(2n) {
		margin-right: 1.333%;
	}

	.column-one-quarter:nth-child(4n) {
		margin-right: 0;
	}

	.column-three-quarters {
		width: 74%;
		float: left;
		margin: 0;
	}

/* ====================
	Top Bar
   ==================== */
	#topbar-container {
		display: block;
		background: #0B1E2E;
		font-family: 'Gotham SSm A', 'Gotham SSm B', Arial; font-weight: 400; font-style: normal;
	}

	
	div.locale-currency-select {
		float: left;
		font-size: 70%;
	}

	.selected-currency {
		color: #eee;
		margin: 0 0 0 5px;
		vertical-align: middle;
	}

	div.locale-currency-select a span.menu-arrow {
		border-color: #ddd transparent transparent;
		border-style: solid;
		border-width: 6px 4px;
		display: inline-block;
		margin: -5px 2px;
	}

	a.currency-locale-link {
		line-height: 28px;
		padding: 0 50px 0 0;
	}

	a.currency-locale-link:hover {
		text-decoration: none;
	}

	div.locale-currency-select div.localisation-menu {
		background: #f4f4f4;
		display: none;
		position: absolute;
		width: 190px;
		z-index: 9999;
		text-align: center;
		padding: 0 0 10px 0;
		border: 1px solid #ddd;
		opacity: 0.98;
	}

	.current-country {
		margin: 0;
		background: #dadada;
	}

	.currency-list {
		border-bottom: 1px solid #ddd;
	}

	.site-selector-list p {
		margin: 0;
	}
	.site-selector-list ul {
		margin: 0;
		padding: 0;
	}
	.site-selector-list li {
		list-style: none;
	}
	.site-selector-list li a {
		text-decoration: none;
	}

	#currency-block {
		display: block;
		float: left;
		color: white;
		font-family: 'Gotham SSm A', 'Gotham SSm B', Arial; font-weight: 400; font-style: normal;
		font-size: 70%;
		text-transform: uppercase;
		line-height: 29px;
		overflow: hidden;
	}
	
	#currency-block select {
		background: #0B1E2E;
		color: white;
		font-weight: bold;
		border: none;
		margin: 0 -18px 0 -2px;
		cursor: pointer;
		height: 18px;
	}

	#topbar-container nav ul {
		margin: 0;
		padding: 0;
	}

	#topbar-container nav li:first-child {
		border-left: 0;
	}

	#topbar-container nav li {
		padding: 0 5px 0 7px;
		border-left: 1px solid #aaa;
	}

	#topbar-container nav a {
		font-family: 'Gotham SSm A', 'Gotham SSm B', Arial; font-weight: 400; font-style: normal;
		text-align: center;
		text-decoration: none;
		color: #eee;
		font-size: 70%;
	}

	#topbar-container nav a:visited {
		color: #eee;
	}

	#topbar-container nav a:hover {
		text-decoration: none;
		color: #fff;
	}

	a.user-login {
		display: inline-block;
		background-image: url(../images/user-login.png);
		padding-left: 16px;
		background-repeat: no-repeat;
		background-position: -6px 3px;
		color: #BABDBF;
		-webkit-transition: background 0.25s ease;
		-moz-transition: background 0.25s ease;
		transition: background 0.25s ease;
	}

	a.user-login:hover {
		background-position: -6px -17px;
		color: #fff;
	}

/* ====================
	Header
   ==================== */

	#header-container {
		padding: 20px 0;
	}

	#header-container header {
		position: relative;
	}


    #header-container {
		display: block;
	}
	
	#mobile-search {
		display: none;
	}
	
	#mobile-cart {
		display: none;
	}
	
	#mobile-menu {
		display: none;
	}
	
	#search_mini_form {
		display: inline;
		float: left;
		margin: 7px 0 0 160px;
	}
	
	#search_mini_form input {
		border: 1px solid #dddddd;
		padding: 0 0 0 7px;
		width: 220px;
		height: 27px;
		vertical-align: middle;
		font-size: 80%;
	}

	#search_mini_form button {
		background: url('../images/search-icon.png') no-repeat center center #ffffff;
		display: inline-block;
		height: 29px;
		width: 29px;
		margin-right: 10px;
		vertical-align: middle;
		border: none;
		cursor: pointer;
		border-top: 1px solid #dddddd;
		border-right: 1px solid #dddddd;
		border-bottom: 1px solid #dddddd;
	}

/* ====================
	Cart
   ==================== */

	a#cart {
		display: block;
		float: right;
		margin: 10px 0 0 40px;
		padding: 0 0 0 36px;
		text-transform: uppercase;
		font-family: 'Gotham SSm A', 'Gotham SSm B', Arial; font-weight: 500; font-style: normal;
		color: #0B1E2E;
		font-size: 70%;
		text-decoration: none;
		background: url(../images/cart.gif) no-repeat;
		line-height: 29px;
		outline: none;
	}
	
	a#cart.active {
		/*background: url(../images/arrow-right.png) 5px 10px no-repeat;*/
	}
	
	a#cart:hover,
	a#cart:visited {
		color: #0B1E2E;
	}

	a#cart:hover {
		text-decoration: underline;
	}

	#cart-block.active {
		display: block;
		position: absolute;
		top: 40px;
		left: auto;
		right: 0;
		background: white;
		padding: 0;
		text-align: center;
		width: 300px;
		border: 1px solid #b9b9b9;
		-webkit-box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.3);
		-moz-box-shadow:    4px 4px 5px 0px rgba(50, 50, 50, 0.3);
		box-shadow:         4px 4px 5px 0px rgba(50, 50, 50, 0.3);
	}

	#cart-block-header {
		color: white;
		background: #666;
		border-bottom: 1px solid #b9b9b9;
	}
	
	#cart-close-link {
		float: right;
		background: url(../images/icon-close.png) no-repeat 1px 1px;
		height: 26px;
		width: 26px;
		font-size: 0;
		text-indent: -50000px;
	}

	.cart-block-product {
		background: white;
		border-bottom: 1px dashed #ddd;
	}

	.cart-block-product .cart-product-image {
		float: left;
		padding: 10px;
	}

	.cart-block-product .cart-product-title {
		padding: 10px;
		text-align: left;
		line-height: 120%
	}

	.cart-block-product .cart-product-title a {
		color: #111;
		text-decoration: none;
	}

	.cart-block-product .cart-product-title a:hover {
		text-decoration: underline;
	}

	.cart-block-product .cart-product-purchase {
		padding: 0 10px 10px 10px;
		text-align: left;
	}

	#cart-block-total {
		background: white;
	}

	#cart-block-footer {
		background: white;
	}

/* ====================
	Main Menu
   ==================== */

	#mainmenu-container {
		display: block !important;
		background: #b0151d;
		padding: 0;
	}
	
	#mainmenu-container ul {
	}

	#mainmenu-container nav li {
		padding: 0;
		border-bottom: none;
		display: inline;
	}

	#mainmenu-container nav li:first-child a {
		border: none;
		background: url(../images/home.png) 14px 12px no-repeat;
		width: 20px;
		height: 46px;
		vertical-align: top;
	}
	
	#mainmenu-container nav li:first-child a:hover {
		background: url(../images/home.png) 14px 12px no-repeat #D5021D;
	}

	#mainmenu-container nav a {
		line-height: 46px;
		border-left: none;
		display: inline-block;
		padding: 0 10px;
		font-size: 70%;
	}

	#mainmenu-container nav a:hover {
		background: #D5021D;
	}
	
	#logo-wrapper {
		display: inline;
		float: left;
	}

/* ============
    Footer
   ============ */
	
	#ecita {
		background: url(../images/ecita-logo.png) no-repeat;
		padding: 0 0 0 90px;
	}

/* ============
    Security Bar
   ============ */
	#securitybar-container {
		display: block;
		border-top: 4px solid #ddd;
		border-bottom: 4px solid #ddd;
		font-size: 70%;
		line-height: 40px;
	}

	#securitybar-container .wrapper {
		padding: 10px;
	}
	
	#securitybar-container .column-two-thirds img {
		margin: 0 40px 0 0;
	}


/* ============
    Menu
   ============ */

    .title {
        float: left;
    }

    #mainmenu-container nav {
        float: left;
        /*width: 38%;*/
    }

    #topbar-container nav {
        float: right;
        /*width: 38%;*/
		text-transform: uppercase;
    }

	/* ====================
	Home page
	==================== */

	#home-slider-container {
		width: 64.7173%;
		margin: 10px 2.9241% 0 0;
		float: left;
	}

	#home-slider-container img {
		margin-top: 0 !important;
		margin-left: 0 !important;
	}
	
	#home-help {
		float: left;
		width: 32.3586%;
		margin: 10px 0 0 0;
	}

	#home-rewards {
		float: left;
		width: 32.3586%;
	}
	
	#home-delivery {
		float: left;
		padding: 20px 0 20px 0;
	}

	.home-text-block {
		float: left;
		width: 49%;
		margin: 0 2% 0 0;
		border-bottom: none;
	}

	#home-delivery p {
		padding: 0 20px 0 160px;
	}

	#home-product-promo {
		clear: both;
		min-height: 400px;
	}

	.promo-product-block,
	.promo-product-block-tall {
		position: relative;
	}
	
	.promo-product-block {
		height: 180px;
	}

	.promo-product-block-tall {
		height: 420px;
	}

	.promo-product-block a,
	.promo-product-block-tall a {
		position: relative;
		display: block;
		font-size: 90%;
		text-decoration: none;
	}
	
	.promo-product-block .availability {
		display: none;
	}

	#home-advice {
		margin: 0;
	}

	#home-review-block h3 {
		float: left;
	}

	#home-review-block a#all-reviews-link {
		display: block;
		float: right;
		color: #b0151d;
		font-weight: bold;
		font-family: 'Gotham SSm A', 'Gotham SSm B', Arial;
		line-height: 230%;
	}

	#social-icon-links {
		position: fixed;
		top: 200px;
		right: 0;
	}

	.social-icon-link {
		width: 32px;
		height: 32px;
		background-repeat: no-repeat;
		background-position: 0 0;
		-webkit-transition: background 0.25s ease;
		-moz-transition: background 0.25s ease;
		transition: background 0.25s ease;
		display: block;
	}
	.social-icon-link.facebook {
		background-image: url(../images/social-facebook-square.png);
	}
	.social-icon-link.twitter {
		background-image: url(../images/social-twitter-square.png);
	}
	.social-icon-link.googleplus {
		background-image: url(../images/social-googleplus-square.png);
	}
	.social-icon-link.youtube {
		background-image: url(../images/social-youtube-square.png);
	}
	.social-icon-link.linkedin {
		background-image: url(../images/social-linkedin-square.png);
	}
	.social-icon-link.pinterest {
		background-image: url(../images/social-pinterest-square.png);
	}
	.social-icon-link.tumblr {
		background-image: url(../images/social-tumblr-square.png);
	}
	a.social-icon-link:hover {
		background-position: 0px -32px;
	}
}

@media only screen and (min-width: 1100px) {
	#mainmenu-container nav a {
		font-size: 77%;
		padding: 0 12px;
		border-left: 1px solid white;
	}

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: 1026px;
        margin: 0 auto;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   account page
   ========================================================================== */
.messages {
	text-align: center;
	font-size: 90%;
	list-style: none;
	margin: 0 0 10px;
	padding: 0;
}
.messages ul {
	list-style-type: none;
}
.messages .success-msg {
	background-color: #dff0d8;
	border-color: #d6e9c6;
	color: #468847;
}
.messages .error-msg {
	background-color: #f2dede;
	border-color: #eed3d7;
	color: #b94a48;
}

.messages .notice-msg {
	background-color: #d9edf7;
	border-color: #bce8f1;
	color: #3a87ad;
}

.my-account h1 {
	margin:0 0 20px;
	font-size:30px;
	line-height:35px;
}
.my-account h2 {
	margin:0 0 15px;
	font-size:25px;
	line-height:30px;
}
.my-account h3 {
	margin:0 0 10px;
	font-size:20px;
	line-height:25px;
}
.my-account h3 {
	margin:0 0 5px;
	font-size:15px;
	line-height:20px;
}
.col2-set {
	width:100%;
	overflow:hidden;
}
.col2-set .col-1 {
	float:left;
	width:48%;
}
.col2-set .col-2 {
	float:right;
	width:48%;
}
.my-account .box-title {
	width:100%;
	overflow:hidden;
	border-bottom:1px solid #000;
	margin:0 0 5px;
}
.my-account .box-title h3 {
	display:inline-block;
	vertical-align:top;
}
.my-account .box-title a {
	float:right;
}
.my-account ul {
	list-style:none;
	margin:0 0 10px;
	padding:0;
}

.product-options div.input-box-message{
	border: 1px solid #BBB;
	background-color: #fff;
	height:30px;
	text-indent:10px;
}

#my-reviews-table td ,
#my-orders-table td {
	padding: 10px;
	vertical-align: top;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

.lt-ie9 .std {
	margin-top: 40px;
}

.lt-ie9 .logo {
	width: 245px;
	height: 40px;
}

/* Localisatoin popup */
.localisationOverlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: #fff;
	z-index: 10000;
	opacity: 0.97;
}
.localisationOverlayContent {
	text-align: center;
	margin: 100px auto;
}
.localisationOverlayContent a {
	text-decoration: none;
}
.localisationOverlayContent a:hover {
	text-decoration: underline;
}
