<?php
	if(Mage::registry("questions"))
	{
		$store_id = Mage::helper("faq")->getStoreId();
		$category_id = Mage::registry("category_id");
		
		$category = Mage::getModel("faq/category")
						->setStoreId($store_id)
						->load($category_id);
		
		$categories = $this->getCategories();	
?>
<div class="block block-faq-category">
  <div class="sidebar-block-2">
  	<div class="top_bg">
        <div class="bot_bg">
            <div class="left_bg">
                <div class="right-bg">
                    <div class="left-top">
                        <div class="right-top">
                            <div class="left-bot">
                                <div class="right-bot">        
    								<div class="block-title"> <strong><span style="color:#fff;font-weight:bold;"><?php echo ($this->__("FAQ Categories"));?></span></strong> </div>
    								<div class="block-content">
                                          <ul>
                                            <?php
                                                if(count($categories))
                                                {
                                                    foreach($categories as $cat)
                                                    {
                                                                        $questions = Mage::getModel("faq/faq")
                                                                        ->setStoreId($this->getStoreId())
                                                                        ->getQuestions($cat->getCategoryId(),1);
                                                                        if ($questions->getsize()){
                                                        if($cat->getCategoryId() == $category_id)
                                                        {
                                                            echo("<li><a style='color:#fff;' href='".Mage::getBaseUrl().$cat->getUrlKey()."' title='".$cat->getName()."' class='active'>".$cat->getName()."</a></li>");
                                                        }
                                                        else
                                                        {
                                                            echo("<li><a style='color:#fff;' href='".Mage::getBaseUrl().$cat->getUrlKey()."' title='".$cat->getName()."'>".$cat->getName()."</a></li>");
                                                        }
                                                                        }
                                                    }
                                                }
                                            ?>
                                          </ul>
                                    </div>                                
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  
    
  </div>
</div>
<?php		
	}
?>