<?php
// $all_faq = $this->getAllFaq();
$style_show=Mage::getStoreConfig('faq/general/style_show');
$most_frequently = $this->getMostFrequently();
$categories = $this->getAllCategory();
$overview_number = Mage::getStoreConfig('faq/general/overview_number');
if(!$style_show){
    $most=array();
    $questionarr=array();
}
?>

<div class="faq">
<div class="page-title"><h1><?php echo($this->__("Most Frequently Asked Questions")); ?></h1></div>
<div  id="most_frequently">
<ul>
<?php 
	$count = 0;
	$p = 1;
	foreach($most_frequently as $question)
	{
               if(!$style_show)$most[]=$question->getId();
		$count++;
                if(!$style_show){
                    echo("<div id=question-".$p."><li><h5> ".$count . ". <a id=title href='". Mage::getBaseUrl() .'faq/#'.$p ."' title='".$question->getTitle()."'>".$question->getTitle()."</a></h5></li> </div>");
                }else{
?>
<p><li><h5><?php echo $count.". "?><a id="title" href="javascript:void(0)" onclick="return show_hide('<?php echo "most-".$p ?>')"><?php echo $question->getTitle() ?></a></h5></li></p>
<div style="display: none" class="hide-show" id="<?php echo "most-".$p ?>">
   <div class="faq_conent" ><?php echo $this->getDescriptionHtml($question->getDescription()) ?>
   <a href="javascript:void(0)" onclick="$('<?php echo "most-".$p ?>').hide();"><?php echo $this->__('Close') ?></a>
   </div>
</div>
<?php
                }
				$p++;                
        }
?>
</ul>
</div>
<form method="get" action="<?php echo(Mage::getBaseUrl() . "faq/search/result/"); ?>" name="faqsearch">
<div id="searchform">
	<label for="keyword">Search FAQ</label><input type="text" name="keyword" id="keyword" size="30" maxlength="30" onfocus="this.value='';"/><a href="javascript:faq_search();" class="btnSearch" title="GO"><ins>GO</ins></a>
</div>
</form>

<h1><?php echo($this->__("FAQ Topics"));?></h1>

<div id="list_category" class="clearfix">
<ul>
	<?php 
	if($categories->getsize())
	{
		$cat_count = 0;
		foreach($categories as $category)
		{
			//echo '111<pre>';print_r($category->getUrlKey());echo '<pre>';//exit;
			if($cat_count % 2 ==0)
			{			
				echo("<li class='left'>");
			}
			else
			{
				echo("<li class='left'>");
			}
                                $questions = Mage::getModel("faq/faq")
									->setStoreId($this->getStoreId())
									->getQuestions($category->getCategoryId(),$overview_number);
				if($questions->getsize())
				{
                                    $cat_count = $cat_count + 1;
                                    echo("<h3>".$category->getName()."</h3>");	
                                    $index = 1;
									$q = 1;
					foreach($questions as $question)
					{
                                                if(!$style_show){
                                                    $questionarr[]=$question->getId();
                                                    echo("<div id=question-".$q.">");
                                                    echo("<h5>".$index . ". <a id=title href='". Mage::getBaseUrl().'faq/#'.$q ."' title='".$question->getTitle()."'>". $question->getTitle() . "</a><h5>" );
                                                    $index++;
                                                    echo ("</div>");
                                                }  else {
     ?>
<p><h5><?php echo $index.". "?><a id="title" href="javascript:void(0)" onclick="return show_hide('<?php echo "catogory-".$cat_count."-".$q ?>')"><?php echo $question->getTitle() ?></a></h5></p>
<div style="display: none" class="hide-show" id="<?php echo "catogory-".$cat_count."-".$q ?>">
   <div class="faq_conent"><?php echo $this->getDescriptionHtml($question->getDescription()) ?>
   <a href="javascript:void(0)" onclick="$('<?php echo "catogory-".$cat_count."-".$q ?>').hide();"><?php echo $this->__('Close') ?></a>
   </div>
</div>
<?php   
    $index++;
                                                }
												$q++;
					}
					if ($overview_number < $index ){
					echo("<div>");
					echo("<a class='more' href='". Mage::getBaseUrl(). $category->getUrlKey() . "' title='". $this->__("more") . "'>". $this->__("more") . "</a>");
					echo("</div>");
                                        }
					
				}
			echo("</li>");
		}
	}
	?>
</ul>
</div>
<?php if(!$style_show){ ?>
</br>
<div class="page-title"></div>
<div>
<?php 
        if($categories->getsize())
            $all_faq = Mage::getModel("faq/faq")->getAllFaq($most,$questionarr);
	$count = 0;
	foreach($all_faq as $faq)
	{                       $count=$count+1;
				echo("<div class='faq_view' id=".$faq->getUrlKey().">");								
				echo("<h5>".$count.'. '.$faq->getTitle()."</h5>");
				echo("<div class='faq_conent'>". $this->getDescriptionHtml($faq->getDescription()));//<a href='". Mage::getBaseUrl() .'faq/#question-'.$faq->getUrlKey() ."' title='".$faq->getTitle()."'>".$this->__('Back')."</a></div>");
                                echo("<a href='". Mage::getBaseUrl() .'faq/#question-'.$faq->getUrlKey() ."' title='".$faq->getTitle()."'>".$this->__('Back')."</a>");
				echo("</div></div>");
			
        }
?>
</div>
<?php } ?>
<br><br>
</div>