<?php
	if(Mage::registry("questions"))
	{
                $style_show=Mage::getStoreConfig('faq/general/style_show');
		$questions = Mage::registry("questions");
		$keywords = Mage::registry("keywords");		
?>
<div class="faq clearfix">
	<div class="page-title">
		<h1><?php echo($this->__("Search FAQ"));?></h1>
	</div>
	<form method="get" action="<?php echo(Mage::getBaseUrl() . "faq/search/result/"); ?>" name="faqsearch" id="faqsearch">
	<div id="searchform">
		<label for="keyword">Search FAQ</label><input type="text" name="keyword" id="keyword" size="30" maxlength="30" onfocus="this.value='';" value='<?php echo $keywords?>'/><a href="javascript:faq_search();" class="btnSearch" title="GO"><ins>GO</ins></a>
	</div>
	</form>
	
	<h3><?php echo $this->__('FAQ Search Results');?></h3>
	<span><?php echo($this->__('Keywords') . ': "' . $keywords . '" ('. count($questions).' '.$this->__("Matches").')</span>'); ?>
	<br><br>
	<?php
		if($questions->getsize())
                    {
                    $index = 1;
                    $p =1;
					foreach($questions as $question)
                        {
                        if(!$style_show){
                            echo("<div  id=question-".$question->getUrlKey().">");
                            echo("<h5>".$index . ". <a class=search id=title href='". Mage::getBaseUrl().'faq/search/result/?keyword='.$keywords.'#'.$p ."' title='".$question->getTitle()."'>". $question->getTitle() . "</a></h5>" );
                            $index++;
                            echo ("</div>");
                        }else{
         ?>
<p><h5><?php echo $index.". "?><a class="search" id="title" href="javascript:void(0)" onclick="return show_hide('<?php echo "catogory-".$p ?>')"><?php echo $question->getTitle() ?></a></h5></p>
<div style="display: none" class="hide-show" id="<?php echo "catogory-".$p ?>">
    <div class="search-hide-show">
   <div class="faq_conent" ><?php echo $this->getDescriptionHtml($question->getDescription()) ?>
   <a href="javascript:void(0)" onclick="$('<?php echo "catogory-".$p ?>').hide();"><?php echo $this->__('Close') ?></a>
   </div>
    </div>
</div>
<?php   
    $index++;
                            }
							$p++;
			}
                    }
	?>
<?php if(!$style_show){ ?>
        </br>
        <div class="page-title"></div>
        <div>
	<?php
                $count=0;
		if($questions->getsize())
		$q = 1;
		foreach($questions as $question)
		{	
                        $count++;
			echo("<div class='faq_view' id=".$q.">");								
			echo("<h5>".$count.'. '.$question->getTitle()."</h5>");
			echo("<div class='faq_conent'>". $this->getDescriptionHtml($question->getDescription()));//<a href='". Mage::getBaseUrl() .'faq/search/result/?keyword='.$keywords.'#question-'.$question->getUrlKey() ."' title='".$question->getTitle()."'>".$this->__('Back')."</a></div>");
			echo "<a href='". Mage::getBaseUrl() .'faq/search/result/?keyword='.$keywords.'#question-'.$q ."' title='".$question->getTitle()."'>".$this->__('Back')."</a>";
                        echo("</div></div>");
						$q++;
		}
	?>
        </div>
<?php } ?>	
</div>
<?php		
	}
?>