
<script type="text/javascript">

    // Other PHP content ///////////////
    var currency_map  = <?php echo $this->getCurrencyMapJson(); ?>;

    function feignPriceChange() {
    
    }

</script>

<div class="slider" onmouseup="sliderNotSliding()">
    <table cellspacing="0" cellpadding="0">
        <tbody>
            <tr>
                <td style="vertical-align:middle" class="btn-slider-reduce-points-container">
                    <img class="btn-slider-reduce-points" alt="<?php echo $this->__('Spend one point less'); ?>" 
                         src="<?php echo $this->getSkinUrl('images/rewards/slider/decr_points.gif'); ?>" 
                         id="slider_reduce_points"
                         onclick="rSlider.decr()" 
                         style="position:relative; top:5px;" />
                </td>
                <td>
                    <div class="sliderRail" id="sliderRail">
                        <a style="left: 0%;" class="sliderHandle ui-slider-handle ui-state-default" id="sliderHandle"
                           onmousedown="sliderSliding()"  
                           onmouseup="sliderNotSliding()"></a>
                    </div>
                </td>
                <td style="vertical-align: middle" class="btn-slider-reduce-points-container">
                    <img class="btn-slider-increase-points" 
                         alt="<?php echo $this->__('Spend one point m