<div class="referrals">
    <div class="page-title">
		<div class="bot-bg">
			<div class="left-bg">
				<div class="right-bg">
					<div class="left-top">
						<div class="right-top">
							<div class="left-bot">
								<div class="right-bot">    	<h1><?php echo $this->__('Refer a friend') ?></h1></div>
							</div>
						</div>
					</div>
				</div>
			</div>    
		</div>
	</div>	
	<div class="fieldset">
        	<h2 class="legend"><?php echo $this->__('Referral Codes and URL'); ?></h2>
        
	<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>

	<?php echo $this->getChildHtml('affiliate'); ?>
	<?php echo $this->getChildHtml('refer_form'); ?>
	<?php echo $this->getChildHtml('preferences'); ?>
	<?php echo $this->getChildHtml('history'); ?>
	</div>	
</div>