<?php
$confirmed = Mage::getModel('core/cookie')->get('agechecked_confirm');
if(1 != $confirmed) :?>
<div id="opening-box" class="white-popup">
    <?php echo $this->stripTags(Mage::getStoreConfig('web/getcommerce_agecheck/message'), '<a><p></span>'); ?>
    <form id="gcm-age-confirm" name="gcm-age-confirm" action="<?php echo $this->getUrl('agecheck/index/confirm') ?>" method="POST">
        <input type="hidden" name="confirm_age" value="1" />
        <button class="confirm button-primary"><?php echo $this->escapeHtml(Mage::getStoreConfig('web/getcommerce_agecheck/button_text')) ?></button>
    </form>
</div>

<script>
    document.observe('dom:loaded', function() {
        Event.observe($('gcm-age-confirm'), 'submit', function(event) {
            var url = $('gcm-age-confirm').getAttribute('action');
            Event.stop(event);
            new Ajax.Request(url, {
                method: 'post',
                parameters: {confirm_age: 1},
                onComplete: function(response) {
                    $('opening-box').hide();
                }
            });
        });
    });
</script>
<?php endif ?>