<?php $storeCode = Mage::helper('thepixel_localisationmenu')->getCurrentStoreCode(); ?>
<?php $currencyCode = Mage::helper('thepixel_localisationmenu')->getCurrentCurrencyCode(); ?>
<?php $currencySymbol = Mage::helper('thepixel_localisationmenu')->getCurrentCurrencySymbol(); ?>

<?php $storeCode = Mage::app()->getStore()->getCode(); ?>
<?php if($storeCode == 'english'): ?>
	<a href="http://www.jacvapour.com/de" title="<?php echo $this->__('JAC Vapour Deutschland') ?>">
		<img class="flag" alt="<?php echo $this->__('Germany flag') ?>" src="<?php echo $this->getSkinUrl('images/flag-deutschland.png'); ?>" /> <?php echo $this->__('Deutschland') ?>
	</a>
<?php else: ?>
	<a href="http://www.jacvapour.com" title="<?php echo $this->__('JAC Vapour United Kingdom') ?>">
		<img class="flag" alt="<?php echo $this->__('United Kingdom flag') ?>" src="<?php echo $this->getSkinUrl('images/flag-united-kingdom.png'); ?>" /> <?php echo $this->__('United Kingdom') ?>
	</a>
<?php endif; ?>