<?php
	$collection = $this->getCollection(array(37));
	$count = 1;
	if (count($collection) > 0):
?>
		<div id="home-product-promo">
			<?php foreach ($collection as $product): ?>
				<?php if (in_array($count, array(1, 3, 4))): ?>
					<div class="column-one-third<?php if ($count == 4) : ?> noMargin<?php endif ?>">
				<?php endif ?>
					<?php $name = $this->stripTags($product->getName(), null, true) ?>
					<div class="promo-product-block<?php if ($count == 3) : ?> promo-product-block-tall<?php endif ?>">
						<?php if ($count == 3) : ?><h2><?php echo $this->__('The best electronic cigarette starter kits') ?></h2><?php endif ?>
						<a href="<?php echo $product->getProductUrl() ?>" title="Buy <?php echo $name ?>"><img src="<?php echo $this->helper('catalog/image')->init($product, 'small_image')->resize(140, 98) ?>" width="140" height="98" alt="<?php echo $name ?>" /></a>
						<a href="<?php echo $product->getProductUrl() ?>" title="Buy <?php echo $name ?>"><?php echo $name ?></a>
						<div class="rating">
							<span></span><span></span><span></span><span></span><span></span>
						</div>
						<div><?php echo $this->getPriceHtml($product, true) ?></div>
						
					</div>				
				<?php if (in_array($count, array(2, 3, 5))): ?>
					</div>
				<?php endif ?>				
			<?php $count++ ?>
			<?php if ($count > 5) break ?>
			<?php endforeach ?>
		</div>
<?php endif ?>