<?php if ($this->canShow()) : ?>
    <div id="opening-box" class="white-popup">
        <?php echo $this->stripTags(Mage::getStoreConfig('web/getcommerce_agecheck/message'), '<a><p></span>'); ?>
        <form id="gcm-canview-confirm" name="gcm-canview-confirm" action="<?php echo $this->getFormAction() ?>" method="POST">
            <input type="hidden" name="canview" value="1" />
            <button class="confirm button-primary"><?php echo $this->escapeHtml(Mage::getStoreConfig('web/getcommerce_agecheck/button_text')) ?></button>
        </form>
    </div>

    <script>
        document.observe('dom:loaded', function() {
            Event.observe($('gcm-canview-confirm'), 'submit', function(event) {
                var url = $('gcm-canview-confirm').getAttribute('action');
                Event.stop(event);
                new Ajax.Request(url, {
                    method: 'post',
                    parameters: {canview: 1},
                    onComplete: function(response) {
                        jQuery.magnificPopup.close();
                        $('opening-box').hide();
                    }
                });
            });
        });
    </script>
<?php endif ?>
