<?php
/**
 * Morningtime LatestReviews extension
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 *
 * @category   Morningtime
 * @package    Morningtime_LatestReviews
 * @copyright  Copyright (c) 2009 Morningtime Internet, http://www.morningtime.com
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
?>
<?php 
$_items = $this->getReviewsCollection();
$listFields = Mage::getStoreConfig('latestreviews/reviews/show_fields');
?>
<?php if (count($_items) && !empty($listFields)):?>
	<div id="home-review-block">
		<div class="clearfix">
			<h2><?php echo $this->__('Our latest e-cigarette customer reviews') ?></h2>
			<!--<a href="/reviews" id="all-reviews-link"><?php echo $this->__('Read all our product reviews >>') ?></a>-->
		</div>
		<div id="home-review-content" class="clearfix">
			<?php $count = 1 ?>
			<?php while ($_review = $_items->fetch()): ?>
				<?php if ($count > 6) break ?>
				<?php $_product = Mage::getModel('catalog/product')->load($_review['entity_pk_value']) ?>
				<div class="column-one-third">
					<div class="padded-box">
						<div>
							<?php if (preg_match("/date/", $listFields)): ?>
								<p><?php echo $this->dateFormat($_review['created_at']) ?></p>
							<?php endif ?>
							<?php if (preg_match("/rating/", $listFields)): ?>
								<div class="rating-box">
                                    <div class="rating" style="width:<?php echo $_review['rating_summary']; ?>%"></div>
                                </div>
                                <div class="clear"></div>
                                <?php /*?><div class="rating">
									<?php for($i=0; $i<5; $i++): ?>
										<?php if ($_review['rating_summary'] >= $i*20) : ?><span>&#9733;</span><?php endif ?>
									<?php endfor ?>
								</div><?php */?>
							<?php endif ?>
							<?php if (preg_match("/title/", $listFields)): ?>
								<a href="<?php echo $this->getProductLink($_product, $_review) ?>" title="<?php echo $this->getTitle($_product, $_review) ?>"><strong><?php echo $this->getTitle($_product, $_review) ?></strong></a>
							<?php endif ?>	
							<?php if (preg_match("/preview/", $listFields)): ?>
								<p><em>
								<?php //Upated by Rashmi - 12-06-2014 ?>
                                <?php
								$review_detail = $_review['detail'];
								if(strlen($review_detail) > 130){
									$review_detail_short = substr($review_detail,0,130).'...';
								}else{
									$review_detail_short = $review_detail;
								}
								echo $this->htmlEscape($review_detail_short);
								?>
                                <?php //Upated by Rashmi - 12-06-2014 ?>
								</em></p>
							<?php endif ?>	
						</div>
					</div>
				</div>
				<?php $count++ ?>
			<?php endwhile ?>
		</div>
	</div>
<?php endif ?>	
