/*body { margin:0px; background:#FFFFFF; }*/

img { behavior: url("pngbehavior.htc"); }

form { margin:0px; }

/*----------------- BACK GROUND & Images ------------------*/

.video_container { margin:0 auto; margin-top:0px; }

.row_main { width:900px; height:auto; }

.main_div { width:180px; float:left; margin-left:30px; }

.video_black { height:40px; background:#222; } 

.heading { font-family:Arial; font-size:12px; color:#FFF; font-weight:bold; padding-left:10px; float:left; padding-top:0px; }

.watch_video { margin:-25px 0 0 0px; position:absolute; }

.text { font-family:arial; font-size:12px; color:#676767; font-style:italic; font-weight:normal; line-height:18px; }

div.left {
	width: 400px;
	float: left;
	overflow: hidden;
}

div.casestudy {
	width: 148px;
	margin: 0 5px 10px 0;
	float: left;
	text-align: left;
}

div.casestudy div.who {
	padding: 5px 0 7px;
}

div.casestudy div.who h3, div.casestudy div.who h4 {
	margin: 0;
	padding: 2px 0 0 0;
	color: #12293c;
	line-height: 1em;
}

div.casestudy div.who h3 {
	font-size: 12px; font-weight:bold;
}

div.casestudy div.who h4 {
	font-size: 12px;
	font-weight: normal;
	color: #E8ECDC;
}

div.casestudy div.what {
	font-size: 12px;
	text-align: left;
	padding: 7px 0 0 0;
	color:#88949d;
	line-height: 1.1em;
	position:relative;
}

div.casestudies div.casestudy img.play {
	position: absolute;
	border:0;
	z-index:999;
}

div.end {
	margin-right: 0;
}


.video_category_container { margin:0 auto; margin-top:0px; }

div.categoryvideos {
	width: 155px;
	margin: 0 4px 10px 0;
	float: left;
	text-align: left;
}

div.categoryvideos div.who {
	padding: 2px;
}

div.categoryvideos div.who h3, div.categoryvideos div.who h4 {
	margin: 0;
	padding: 2px 0 0 0;
	color: #fff;
	line-height: 1em;
}

div.categoryvideos div.who h3 {
	color: #12293C;
    font-size: 12px;
	text-align: center;
}

div.categoryvideos div.who h4 {
	font-size: 12px;
	font-weight: normal;
	color: #E8ECDC;
}

div.categoryvideos div.what {
	font-size: 14px;
	text-align: left;
	padding: 5px 0 0 5px;
	font-family: georgia;
	font-style: italic;
	background-color: #F5F6F7;
	line-height: 1.1em;
	position:relative;
}

div.casestudies div.categoryvideos img.play {
	position: absolute;
	border:0;
	z-index:999;
}

.blocktitle {
	font-size: 12px;
	padding: 5px 0 0 0px;
	width:180px;
	text-align:center;
	float:left;
	/*line-height: 1.1em;*/
	/*position:relative;*/
}

.mediaimage { width:175px; height:140px; position:relative; z-index:0;  }

.media_play_icon { position:absolute; top:40px; left:56px; z-index:1; }

.media_play_icon_block { position:absolute; top:50px; left:56px; z-index:1; }

.media_play_icon_mediablock { position:absolute; top:44px; left:44px; z-index:1; }