/* tab styles */
ul.tabset_tabs {
	zoom: 1; /* IE */
}
ul.tabset_tabs li {
	cursor: pointer;
	float: left;
	margin-right: 0.245em;
	border:1px solid #f1f0f1; border-bottom:0px;
}
ul.tabset_tabs li.active {
}
ul.tabset_tabs li a:link, ul.tabset_tabs li a:visited {
	color: #12293c;
	display: block;
	padding: 0.515em 1.3em 0.515em ;
	font-size: 1em;
	font-weight: bold;
	text-decoration: none;
}
ul.tabset_tabs li a:hover, ul.tabset_tabs li a:active, ul.tabset_tabs li a:focus {
	color: #1f2126;
}
ul.tabset_tabs li.active a:link, ul.tabset_tabs li.active a:visited {
	color: #1f2126;
}

.tabset_content_container {
	clear: both;
	padding: 10px 0;
	border: 1px solid #f1f0f1;
	background: #fff;
}
.tabset_content_container .tr, .tabset_content_container .bl, .tabset_content_container .br {
	position: relative;
	height: 10px;
	font-size: 1px; /* IE */
	background: transparent url(../../images/mediaappearance/tabs/rounded_clear_outline.gif) no-repeat top left;
}
.tabset_content_container .tr {
	background-position: 100% -10px;
	left: 2px;
	top: -2px;
}
.tabset_content_container .bl {
	background-position: 0 -20px;
	top: 2px;
	left: -2px;
}
.tabset_content_container .br {
	background-position: 100% -30px;
	left: 4px;
}

.tabset_content {
	background-color: transparent !important;
	background: #fff none; /* IE */
	padding: 0 10px;
}
.tabset_content h2{padding:0.515em 0 0.9em 0.55em;}
.toggletext {
	cursor: pointer;
	padding-left: 0.8em;
	background: #EAEBEE url(http://validator.w3.org/images/arrow-closed.png) 0 1.2em no-repeat;
}
.toggled {
	background: #EAEBEE url(http://validator.w3.org/images/arrow-open.png) 0 1.4em no-repeat;
}