<?php
$pdfHelper = $this->getPdfHelper();
$totalWeight = $this->getTotalWeight();
$tracks = $this->getTracks();
$shippingDescription = $this->getShippingDescription()
?>
<?php echo $shippingDescription ?>
<?php if (count($tracks)) : ?>
    <?php foreach ($tracks as $track) : ?>
        <?php /* uncomment to display the tracking number as barcode
        <?php $barcodeParams = $this->serializeParams(
            array(
                $track->getNumber(),
                $this->getPdfHelper()->getBarcodeType(),
                '', '', '35', '13'
            )
        );
        ?>
        <tcpdf method="write1DBarcode" params="<?php echo  $barcodeParams ?>"/>
        <?php */?>
        <?php if ($track->getNumber()) : ?>
            <br/><?php echo $track->getTitle() . ": " . $track->getNumber() ?>
        <?php endif; ?>
    <?php endforeach; ?>
<?php endif; ?>
<?php if ($totalWeight) : ?>
    <br/>
    <?php echo  Mage::helper('pdfcustomiser')->__('Total Weight') ?> : <?php echo $totalWeight .
        Mage::getStoreConfig('sales_pdf/all/allweightunit', $pdfHelper->getStoreId()) ?>
<?php endif; ?>