<?php
$_helper = Mage::helper('searchautocomplete');
$query   = Mage::helper('catalogsearch')->getQueryText();
?>
<?php if (count($this->getIndexes()) > 0): ?>
    <div class="top"></div>

    <?php foreach ($this->getIndexes() as $_index => $_label): ?>
        <?php if (count($this->getIndexes()) > 1): ?>
        <div class="index-title"><?php echo $_label ?> <span>(<?php echo $this->getCollection($_index)->getSize() ?>)</span></div>
        <?php endif ?>
        <ul>
        <?php foreach ($this->getCollection($_index) as $_item): ?>
            <?php echo $this->getItemHtml($_index, $_item) ?>
        <?php endforeach ?>
        </ul>
    <?php endforeach ?>
    <div class="all"><a href="<?php echo Mage::getUrl('catalogsearch/result', array('_query' => array('q' => $query))) ?>"><?php echo $this->__('All search results →') ?></a></div>
    <div class="clearfix"></div>
<?php endif ?>