<?php $storeCode = Mage::helper('thepixel_localisationmenu')->getCurrentStoreCode(); ?>
<?php $currencyCode = Mage::helper('thepixel_localisationmenu')->getCurrentCurrencyCode(); ?>
<?php $currencySymbol = Mage::helper('thepixel_localisationmenu')->getCurrentCurrencySymbol(); ?>

<a href="#" title="Change country" id="country-link-footer"><?php echo $this->__('Change Country') ?></a>
<div id="country-block-footer">
	<?php
	/* TP:
	insert country dropdown here, with the current country option selected by default.
	changing country will also change to that country's default currency.
	changing country will set a cookie for both country and currency.
	*/
	?>
	<?php $storeCode = Mage::app()->getStore()->getCode(); ?>
	<ul>
		<li>
			<?php if($storeCode == 'english'): ?>
				<a href="http://www.jacvapour.com/de" title="<?php echo $this->__('JAC Vapour Deutschland') ?>">
					<img class="flag" alt="<?php echo $this->__('Germany flag') ?>" src="<?php echo $this->getSkinUrl('images/flag-deutschland.png'); ?>" /> <?php echo $this->__('Deutschland') ?>
				</a>
			<?php else: ?>
				<a href="http://www.jacvapour.com" title="<?php echo $this->__('JAC Vapour United Kingdom') ?>">
					<img class="flag" alt="<?php echo $this->__('United Kingdom flag') ?>" src="<?php echo $this->getSkinUrl('images/flag-united-kingdom.png'); ?>" /> <?php echo $this->__('United Kingdom') ?>
				</a>
			<?php endif; ?>
		</li>
	</ul>
</div>