<?php
	$currentStore = Mage::app()->getStore()->getStoreId();
	$cookie = Mage::getSingleton('core/cookie');
	$_currentStoreCountryCode = Mage::getStoreConfig('general/country/default');	
	$cookieStoreCountry = $cookie->get('store_country');
	
	if(!isset($_COOKIE["store_country"]))  { 
		if (( Mage::getSingleton("cms/page")->getIdentifier() == "home"
			&& Mage::getSingleton("geoip/country")->getCountry() == "DE" ) || ( Mage::getSingleton("cms/page")->getIdentifier() == "de-home"
			&& Mage::getSingleton("geoip/country")->getCountry() == "GB" )){
				Mage::getSingleton("core/session")->setShowLocalisationOverlay(true);
		}
		$expiryDate = time()+86400*365*5; // 5 years
		$cookie->set("store_country", $_currentStoreCountryCode, $expiryDate, "/");	
	}
	elseif( $cookie->get("store_country") != $_currentStoreCountryCode ) { 
		$expiryDate = time()+86400*365*5; // 5 years
		$cookie->set("store_country", $_currentStoreCountryCode, $expiryDate, "/");
	}
?>

<?php $storeCode = Mage::helper('thepixel_localisationmenu')->getCurrentStoreCode(); ?>
<?php $currencyCode = Mage::helper('thepixel_localisationmenu')->getCurrentCurrencyCode(); ?>
<?php $currencySymbol = Mage::helper('thepixel_localisationmenu')->getCurrentCurrencySymbol(); ?>

<div id="localisation-container" class="locale-currency-select">
	<a title="Change currency or country site" class="currency-locale-link" href="#siteSelectorList" tabindex="0">
		<?php /* TP: display current country (flag image name + alt) on next line */ ?>

		<?php if($storeCode == 'english'): ?>
			<img class="flag" src="<?php echo $this->getSkinUrl('images/flag-united-kingdom.png'); ?>" alt="<?php echo $this->__('United Kingdom flag') ?>" />
		<?php else: ?>
			<img class="flag" src="<?php echo $this->getSkinUrl('images/flag-deutschland.png'); ?>" alt="<?php echo $this->__('Deutschland flag') ?>" />
		<?php endif; ?>
		
		<span class="selected-currency"><?php echo $currencySymbol . " " . $currencyCode ?></span>				
		<?php /* TP: display current currency (currency symbol + shortcode) on next line */ ?>
		<span class="menu-arrow"></span>
	</a>
	<div class="localisation-menu">
		<?php /* TP: display current country (flag image name + alt + country name text) on next line */ ?>
		<?php if($storeCode == 'english'): ?>
			<p class="current-country"><img class="flag" src="<?php echo $this->getSkinUrl('images/flag-united-kingdom.png'); ?>" alt="<?php echo $this->__('United Kingdom flag') ?>" /> <?php echo $this->__('United Kingdom') ?></p>
		<?php else: ?>
			<p class="current-country"><img class="flag" src="<?php echo $this->getSkinUrl('images/flag-deutschland.png'); ?>" alt="<?php echo $this->__('Deutschland flag') ?>" /> <?php echo $this->__('Deutschland') ?></p>
		<?php endif; ?>
		
		<div class="currency-list">
			<?php echo $this->getChildHtml('currency') ?>
		</div>

		<div id="siteSelectorList" class="site-selector-list">
			<p><?php echo $this->__('Other country sites') ?></p>
			<ul>
				<?php
				/* 
				TP:
				display a list of all 'other' country stores (i.e. but not the current store).
				changing country will also change to that country's default currency.
				changing country will set a cookie for both country and currency.
				*/
				?>
				<li>
					<?php if($storeCode == 'english'): ?>
	<!--
					<a href="http://www.jacvapour.com/de" title="<?php echo $this->__('JAC Vapour Deutschland') ?>">
							<img class="flag" alt="<?php echo $this->__('Germany flag') ?>" src="<?php echo $this->getSkinUrl('images/flag-deutschland.png'); ?>" /> <?php echo $this->__('Deutschland') ?>
						</a>
-->	
						<a href="http://www.jacvapour.com/de" title="<?php echo $this->__('JAC Vapour Deutschland') ?>">
							<img class="flag" alt="<?php echo $this->__('Germany flag') ?>" src="<?php echo $this->getSkinUrl('images/flag-deutschland.png'); ?>" /> <?php echo $this->__('Deutschland') ?>
						</a>
					<?php else: ?>
						<a href="http://www.jacvapour.com/" title="<?php echo $this->__('JAC Vapour United Kingdom') ?>">
							<img class="flag" alt="<?php echo $this->__('United Kingdom flag') ?>" src="<?php echo $this->getSkinUrl('images/flag-united-kingdom.png'); ?>" /> <?php echo $this->__('United Kingdom') ?>
						</a>
					<?php endif; ?>
				</li>
			</ul>
		</div>
	</div>     
</div>

<?php if ( Mage::getSingleton("core/session")->getShowLocalisationOverlay() ) {
	Mage::getSingleton("core/session")->unsShowLocalisationOverlay();
?>
	<div class="localisationOverlay">
		<div class="localisationOverlayContent">
			<p><img src="<?php echo $this->getSkinUrl('images/logo.png') ?>" /><p>
			<p><strong><?php echo $this->__('Choose country site') ?>:</strong></p>
			<p><img src="<?php echo $this->getSkinUrl('images/flag-united-kingdom.png') ?>" title="JAC Vapour United Kingdom" /> <a href="/" title="<?php echo $this->__('JAC Vapour UK') ?>" id="closeLocalisationOverlayLink"><?php echo $this->__('United Kingdom') ?> (English)</a></p>
			<p><img src="<?php echo $this->getSkinUrl('images/flag-deutschland.png') ?>" title="JAC Vapour Deutschland" /> <a href="/de/" title="<?php echo $this->__('JAC Vapour Deutschland') ?>"><?php echo $this->__('Deutschland') ?> (Deutsch)</a></p>
		</div>
	</div>

	<script>
		jQuery('#closeLocalisationOverlayLink').click( function(e) {
			/* e.preventDefault(); */
			jQuery('.localisationOverlay').slideUp();
		});
	</script>
<?php } ?>
