<?php 
$items = $this->getItems();
?>
<?php if ($items): ?>
<div class="entry-edit">
  <div class="entry-edit-head">
    <h4 class="icon-head head-products"><?php echo $this->__('Items Ordered'); ?></h4>
  </div>
</div>
<div class="grid np">
  <div class="hor-scroll">
    <table cellspacing="0" class="data order-item-table">
        <col width="1" />
        <col width="1" />
        <col width="1" />
        <col width="1" />
        <col width="1" />
        <thead>
            <tr class="headings">
                <th><?php echo $this->__('Image') ?></th>
                <th><?php echo $this->__('Qty') ?></th>
                <th><?php echo $this->__('Product') ?></th>
                <th><span class="nobr"><?php echo $this->__('Item Status') ?></span></th>
                <th><?php echo $this->__('Price') ?></th>
            </tr>
        </thead>
        <?php $i=0; foreach ($items as $item):?>
            <?php $parentItem = $item->getParentItem(); ?>
            <?php $i++;?>
            <tbody class="<?php echo $i%2?'even':'odd' ?>">
                <tr class="border">
                  <td valign="top"><?php echo $this->getThumbnailHtml($parentItem && $parentItem->getThumbnail() ? $parentItem : $item); ?></td>
                  <td align="center"><?php echo (int)$item->getQtyOrdered(); ?></td>
                  <td valign="top">
                    <?php $name = $parentItem && $parentItem->getName() ? $parentItem->getName() : $item->getName(); ?>
                    <?php echo $name; ?> <br />
                    <strong><?php echo $this->__('SKU: '); ?> <?php echo $item->getSku(); ?></strong>
                  </td>
                  <?php $status = $parentItem ? $parentItem->getStatus() : $item->getStatus(); ?>
                  <td valign="top" ><?php echo $status; ?></td>
                  <?php $price = $item->getPrice() > 0 ? $item->getPrice() : $parentItem->getPrice(); ?>
                  <td valign="top"><?php echo Mage::helper('core')->currency($price, true, false); ?></td>
                </tr>
            </tbody>
        <?php endforeach; ?>
    </table>
  </div>
</div>
<br />
<?php endif ?>