<?php
/**
 * Feel free to contact me via Facebook
 * http://www.facebook.com/rebimol
 *
 *
 * @author 		Vladimir Popov
 * @copyright  	Copyright (c) 2012 Vladimir Popov
 */
 
// in case redirect fails
?>
<div class="column-one-half">
	<div class="contact-block">
		<h1><?php echo $this->getWebform()->getName() ?></h1>
		<?php echo $this->getWebform()->getDescription() ?>
	</div>
</div>

<div class="column-one-half">

	<?php if($this->isAjax()){ ?>
		<div id="webform_<?php echo $this->getWebform()->getId()?>_success_text" class="std webforms-success-text" style="display:none"></div>
		<iframe id="webform_<?php echo $this->getWebform()->getId()?>_iframe" name="webform_<?php echo $this->getWebform()->getId()?>_iframe" style="width:0;height:0;border:0;position:absolute"></iframe>
	<?php } ?>

	<?php
	if(Mage::registry('show_success')){?>
	<div class="std webforms-success-text">
		<?php echo $this->getWebform()->getSuccessText()?>
	</div>
	<?php } else {
	?>

	<div id="webform_<?php echo $this->getWebform()->getId()?>_form">
	<form action="<?php echo $this->getFormAction()?>" method="post" name="webform_<?php echo $this->getWebform()->getId()?>" id="webform_<?php echo $this->getWebform()->getId()?>" enctype="<?php echo $this->getEnctype()?>" class="webforms-<?php echo $this->getWebform()->getCode()?>" <?php if($this->isAjax()){?>target="webform_<?php echo $this->getWebform()->getId()?>_iframe"<?php }?>>
		<input type="hidden" name="submitWebform_<?php echo $this->getWebform()->getId()?>" value="1"/>
		<input type="hidden" name="webform_id" value="<?php echo $this->getWebform()->getId()?>"/>
		
		<?php if(is_array($this->getData('hidden'))){
			foreach($this->getData('hidden') as $key=>$value){?>
				<input type="hidden" name="<?php echo $key?>" value="<?php echo $value?>"/>
		<?php
			}
		}?>
		
		<?php if(count($this->getWebform()->_getHidden())){
			foreach($this->getWebform()->_getHidden() as $field){
				echo $field->toHtml();
			}
		} ?>

		<?php
		foreach (Mage::registry('fields_to_fieldsets') as $fieldset_id => $fieldset){	
		?>
		
		<fieldset>
			
			<?php	if(!empty($fieldset['name'])) { 	?>
			<legend><?php echo $fieldset['name']?><legend>
			<h2><?php echo $fieldset['name']?></h2>
			<?php	}	?>
			

			<?php
			$k=0;
			$j=0;
			$prev = false;
			$fields_count =  count($fieldset['fields']);
			foreach($fieldset['fields'] as $field)
			{
			?>
					<div class="form-row">
						
						<?php if($field->getType()!= 'html'){?>
						<label for="field_<?php echo $field->getId()?>" <?php if($field->getRequired()){ ?>class="required"<?php }?>>
							<?php echo $field->getName()?>
						</label>
						<?php } ?>
						
						<?php	echo $field->toHtml();?>

					</div>
			<?php } ?>
		</fieldset>
		
		<?php
		} // foreach 'fields_to_fieldsets'
		?>
		
		<?php if(Mage::registry('use_captcha')) { ?>
		<div class="fieldset">
			<p class="legend">Captcha</p>
			<?php echo $this->getCaptcha()->getHTML()?>
		</div>
		<?php }?>
		
		
		<button type="button" class="button-primary" id="webform_<?php echo $this->getWebform()->getId()?>_submit_button" onclick="webform_<?php echo $this->getWebform()->getId()?>_submit()" title="<?php echo $this->__('submit')?>">
			<?php echo $this->__('Submit')?>
		</button>
		<span class="please-wait" id="webform_<?php echo $this->getWebform()->getId()?>_sending_data" style="display:none;">
			<img src="<?php echo $this->getSkinUrl('images/opc-ajax-loader.gif') ?>" alt="<?php echo $this->__('Sending...') ?>" title="<?php echo $this->__('Sending...') ?>" class="v-middle" /><span id="webform_<?php echo $this->getWebform()->getId()?>_progress_text"><?php echo $this->__('Sending...') ?></span>
		</span>

		
	</form>
	</div>

	<?php
	} // if(show_success)
	?>
	

</div>
<?php echo $this->getLayout()->createBlock(
				'core/template',
				'webform_'.$this->getWebform()->getId().'_submit_script',
				array(
					'webform' => $this->getWebform(),
					'ajax' => $this->isAjax(),
					'template' => 'webforms/scripts/submit.phtml',
				)
			)->toHtml();		
?>