<?php
/**
 * Sales transaction history template
 */
?>
<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
<div class="page-title">
    <div class="bot-bg">
		<div class="left-bg">
			<div class="right-bg">
				<div class="left-top">
					<div class="right-top">
						<div class="left-bot">
							<div class="right-bot"><h2><?php echo $this->__('My Programs') ?></h2></div>
						</div>
					</div>
				</div>
			</div>
		</div>    
	</div>
</div>

<div class="fieldset">
	<?php echo $this->getGridHtml() ?>

	<div class="buttons-set">
		<button class="button" type="button" onclick='setLocation("<?php echo $this->getAllProgramUrl() ?>")'>
			<span>
			<span>
				<?php echo ($this->getCollection()->getSize()) ? $this->__('Other Programs') : $this->__('List All Programs') ?>
				</span>
			</span>
		</button>
	</div>
</div>
