<div class="box-account box-info mypoints-summary">
    <div class="box-head">
        <h2><?php echo $this->__('Points Summary'); ?></h2>
    </div>
    
    <div class="usable-points">
	    <?php echo $this->__('You have ').$this->__('%s', $this->getCustomerPointsSummary()).$this->__(' in your account.'); ?>
        <?php if($this->getDaysUntilExpiry()): ?>
           <div class="expiry-points"><?php echo $this->__('Your points balance will expire in %s days.', $this->getDaysUntilExpiry()); ?></div>
        <?php endif; ?>
    </div>
    <div class="pending-points">
        <?php if($this->hasPendingPoints()): ?>
            <div class="pendingevent-points">
                <?php echo $this->__('%s are pending approval.', $this->getCustomerPendingPointsSummary()); ?>
            </div>
        <?php endif; ?>
        <?php if($this->hasPendingTimePoints()): ?>
            <div class="pendingtime-points">
                <?php echo $this->__('%s are pending time.', $this->getCustomerPendingTimePointsSummary()); ?>
            </div>
        <?php endif; ?>
        <?php if($this->hasOnHoldPoints()): ?>
            <div class="pendingapproval-points">
                <?php echo $this->__('%s are on hold.', $this->getCustomerOnHoldPointsSummary()); ?>
            </div>
        <?php endif; ?>
    </div>
    
    <div class="msg">
        <?php echo $this->getSummaryMsg() /* this can be customized completely by modifying the display config option or by just removing this line and adding your own content.*/ ?>
    </div>
    
    <?php if ($this->doShowRewardsLink()): ?>
        <a href="<?php echo $this->getUrl('rewards/customer'); ?>">
            <?php echo $this->__('Visit My Points & Rewards Section') ?>
        </a>
    <?php endif; ?>
</div>
