<?php ?>

<tr>
    <td class="" style="padding-top: 12px;">
        <?php echo $this->__('You Have') ?>
    </td>
    <td style="padding-top: 12px;" class="">
	  		<?php echo $this->__('100 Gold Points') ?>	
    </td>
</tr>