<?php

?>


<tr style="">
    <td class="label" style="padding-top: 6px;">
        <strong><?php echo $this->__('Left To Spend') ?></strong>
    </td>
    <td style="padding-top: 6px;" class="emph">

	  		<?php echo $this->__('38 Gold Points') ?>	
    </td>
</tr>

