<div class="page-title">
    <h1><?php echo $this->__('Thank you for your purchase!') ?></h1>
</div>
<?php
$_customerId = Mage::getSingleton('customer/session')->getCustomerId();
$lastOrderId = Mage::getSingleton('checkout/session')->getLastOrderId();
$order = Mage::getSingleton('sales/order');
$order->load($lastOrderId);
$_totalData =$order->getData();
$_sub = $_totalData['subtotal'];
$grandtotal = $_totalData['grand_total'];
?>

<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>

<?php if ($this->getOrderId()):?>
<?php if ($this->getCanViewOrder()) :?>
    <p><?php echo $this->__('Your order # is: %s.', sprintf('<a href="%s">%s</a>', $this->escapeHtml($this->getViewOrderUrl()), $this->escapeHtml($this->getOrderId()))) ?></p>
<?php  else :?>
    <p><?php echo $this->__('Your order # is: %s.', $this->escapeHtml($this->getOrderId())) ?></p>
<?php endif;?>
    <p><?php echo $this->__('You will receive an order confirmation email with details of your order and another email as soon as it is dispatched. If you require tracking details please email customer service on <a href="sales@jacvapour.com">sales@jacvapour.com</a>.') ?></p>
<?php endif;?>

<iframe src="https://4385849.fls.doubleclick.net/activityi;src=4385849;type=Conve0;cat=JAC_V00;qty=1;cost=<?php echo $grandtotal ?>;ord=<?php echo $this->escapeHtml($this->getOrderId())?>?" width="1" height="1" frameborder="0" style="display:none"></iframe>

<?php if ($this->getAgreementRefId()): ?>
    <p><?php echo $this->__('Your billing agreement # is: %s.', sprintf('<a href="%s">%s</a>', $this->escapeHtml($this->getAgreementUrl()), $this->escapeHtml($this->getAgreementRefId())))?></p>
<?php endif;?>

<?php if ($profiles = $this->getRecurringProfiles()):?>
<p><?php echo $this->__('Your recurring payment profiles:'); ?></p>
<ul class="disc">
<?php foreach($profiles as $profile):?>
<?php $profileIdHtml = ($this->getCanViewProfiles() ? sprintf('<a href="%s">%s</a>', $this->escapeHtml($this->getProfileUrl($profile)), $this->escapeHtml($this->getObjectData($profile, 'reference_id'))) : $this->escapeHtml($this->getObjectData($profile, 'reference_id')));?>
    <li><?php echo $this->__('Payment profile # %s: "%s".', $profileIdHtml, $this->escapeHtml($this->getObjectData($profile, 'schedule_description')))?></li>
<?php endforeach;?>
</ul>
<?php endif;?>

<div class="buttons-set">
    <button type="button" class="button-primary" title="<?php echo $this->__('Continue Shopping') ?>" onclick="window.location='<?php echo $this->getUrl() ?>'"><span><span><?php echo $this->__('Continue Shopping') ?></span></span></button>
</div>
<?php

$order = Mage::getModel('sales/order')->load($lastOrderId);
$item_string = '';

$_itemPriceSum = 0;
//$_totalPriceSum = 0;

foreach ($order->getAllItems() as $item) {
	$sku = $item->getSku();
	$qty = $item->getQtyOrdered();

	$itemPrice = number_format(( $item->getOriginalPrice() - ($item->getDiscountAmount()/$qty) - ($item->getTaxAmount()/$qty) ), 2 );

	$item_string.=$sku.':'.$itemPrice.':'.$qty.'|';
	$_totalPriceSum += ($itemPrice*$qty);
	$_itemPriceSum += $itemPrice;
/*
	echo '$itemPrice:' . $itemPrice . '</br>';
	echo '$qty:' . $qty . '</br>';
	echo 'sku:' . $sku . '</br>';
	echo '$item->getOriginalPrice()' . $item->getOriginalPrice() . '</br>';
	echo '$item->getPrice()' . $item->getPrice() . '</br>';
	echo '$item->getPriceInclTax()' . $item->getPriceInclTax() . '</br>';
	echo '$item->getDiscountAmount()' . $item->getDiscountAmount() . '</br>';
	echo '$item->getTaxAmount()' . $item->getTaxAmount() . '</br>';
	echo '$_totalPriceSum:' . $_totalPriceSum . '</br>';
	echo '$_itemPriceSum:' . $_itemPriceSum . '</br>';	
	echo '------------------------------------------ </br>';
*/
}

$currency = Mage::app()->getStore()->getCurrentCurrencyCode();
$voucher =  $order->getCouponCode();
$value = $order->getGrandTotal() - $order->getShippingAmount() - $order->getTaxAmount();

/*
echo '$order->getGrandTotal()' . $order->getGrandTotal() . '</br>';
echo '$order->getShippingAmount()' . $order->getShippingAmount() . '</br>';
echo '$order->getShippingTaxAmount()' . $order->getShippingTaxAmount() . '</br>';

echo '$itemString: ' . $item_string . '</br>';
echo '$itemString: ' . urlencode($item_string) . '</br>';
echo '$currency: ' . $currency . '</br>';
echo '$voucher: ' . $voucher . '</br>';
echo '$value: ' . $value . '</br>';
echo 'orderId: ' . $this->getOrderId() . '</br>';
*/

$paydot_string = '<img src="https://track.paydot.com/sale.php?sid=1079&oid='.$this->getOrderId().'&value='.$value.'&currency='.$currency.'&voucher='.$voucher.'&ht=img" height="1" width="1">';

?>

<?php
$tracking_source = $_COOKIE['__tracking_source'];
switch ($tracking_source)
{
	case 'paydot':
		// Print Paydot Code
		echo $paydot_string;
	break;

	default:
		// Print Paydot Code
		echo $paydot_string;
	break;
}
?>
