<?php
/**
 * @category    Fishpig
 * @package     Fishpig_Wordpress
 * @license     http://fishpig.co.uk/license.txt
 * @author      Ben Tideswell <help@fishpig.co.uk>
 */
?>
<?php if(count($this->getItems())): ?>
<div class="block block-related clearfix">
    <div class="block-content">
        <ul id="product-list-items">
        <?php foreach($this->getItems() as $_item): ?>
            <li class="column-one-third"><a href="<?php echo $_item->getProductUrl() ?>" class="product-list-item" title="Buy <?php echo $this->htmlEscape($_item->getName()) ?>"><?php echo $this->htmlEscape($_item->getName()) ?><br/><img src="<?php echo $this->helper('catalog/image')->init($_item, 'thumbnail')->resize(150) ?>" width="150" height="150" alt="<?php echo $this->htmlEscape($_item->getName()) ?>" /></a>
            </li>
        <?php endforeach ?>
        </ul>
    </div>
</div>
<?php endif ?>