<?php
/**
 * @category    Fishpig
 * @package     Fishpig_Wordpress
 * @license     http://fishpig.co.uk/license.txt
 * @author      Ben Tideswell <help@fishpig.co.uk>
 */
?>
<?php $posts = $this->getPosts() ?>
<?php if (count($posts) > 0): ?>
	<div class="block block-blog block-recent-posts clearfix">
		<?php if ($title = $this->getTitle()): ?>
			<h2><?php echo $this->__($title) ?></h2>
		<?php endif; ?>
		<div class="block-content">
             <div class="post-list-home">   
                <ul id="post-list">
                <?php foreach($posts as $post): ?>
                    <?php $post->setExcerptSize($this->getExcerptLength()) ?>
                    <li class="item column-one-half post-entry entry">
                        <?php if ($featuredImage = $post->getFeaturedImage()): ?>
                            <div class="featured-image left">
								<a href="<?php echo $post->getPermalink() ?>" title="<?php echo $this->htmlEscape($post->getPostTitle()) ?>">
									<img src="<?php echo $featuredImage->getAvailableImage() ?>" alt="<?php echo $this->escapeHtml($post->getPostTitle()) ?>"/>
								</a>
                            </div>
                        <?php endif; ?>
                        <h4>
                        <a href="<?php echo $post->getPermalink() ?>" title="<?php echo $this->htmlEscape($post->getPostTitle()) ?>">
                            <?php echo $this->htmlEscape($post->getPostTitle()) ?>
                        </a>
                        </h4>
                        <p class="post-excerpt"><?php echo $post->getPostExcerpt() ?></p>
                        <p class="post-meta details">
                            <?php if ($this->hasTags($post)): ?>
                                <?php echo stripslashes($this->__('Posted <span style=\"display:none\">in %s and tagged %s</span> on %s<br/><span class=\"by-author\"> by %s</span>', $this->getCategoryString($post), $this->getTagString($post), $post->getPostDate(), $post->getAuthor()->getDisplayName())) ?>
                            <?php else: ?>
                                <?php echo stripslashes($this->__('Posted <span style=\"display:none\">in %s</span> on %s<br/><span class=\"by-author\"> by %s</span>', $this->getCategoryString($post), $post->getPostDate(), $post->getAuthor()->getDisplayName())) ?>
                            <?php endif; ?>
                        </p>
                    </li>
                <?php endforeach; ?>
                </ul>
                <script type="text/javascript">decorateList('<?php echo $this->getListId() ?>')</script>
                <?php if ($this->canShowPager()): ?>
                    <?php echo $this->getPagerHtml() ?>
                <?php endif; ?>
             </div>   
		</div>
	</div>
<?php endif; ?>