<?php
/**
 *
 *
 *
 */
?>
<?php $pages = $this->getPages() ?>
<?php if (count($pages) > 0): ?>
	<div class="block block-blog block-blog-pages">
		<?php if ($title = $this->getTitle()): ?>
			<h5><?php echo $title ?></h5>
		<?php endif; ?>
		<div class="block-content">
			<ul id="wp-page-list">
				<?php foreach($pages as $page): ?>
					<li class="item">
						<a href="<?php echo $page->getUrl() ?>" title="<?php echo $page->getPostTitle() ?>"><?php echo $page->getMenuLabel() ?></a>
					</li>
				<?php endforeach; ?>
			</ul>
			<script type="text/javascript">decorateList('wp-page-list');</script>
		</div>
	</div>
<?php endif; ?>