
/*
	Copyright (C) 2011-2014 Hoefler & Co.
	This software is the property of Hoefler & Co. (H&Co).
	Your right to access and use this software is subject to the
	applicable License Agreement, or Terms of Service, that exists
	between you and H&Co. If no such agreement exists, you may not
	access or use this software for any purpose.
	This software may only be hosted at the locations specified in
	the applicable License Agreement or Terms of Service, and only
	for the purposes expressly set forth therein. You may not copy,
	modify, convert, create derivative works from or distribute this
	software in any way, or make it accessible to any third party,
	without first obtaining the written permission of H&Co.
	For more information, please visit us at http://typography.com.
	167961-71180-20140408
*/

@font-face { font-family:"Gotham SSm A"; src: url('http://jacvapour.com/skin/frontend/default/jacvopur/fonts/149230/DE088F097210413AC.eot'); src: url('http://jacvapour.com/skin/frontend/default/jacvopur/fonts/149230/DE088F097210413AC.eot?#hfj') format('embedded-opentype'); font-style:normal; font-weight:400; } @font-face { font-family:"Gotham SSm 4r"; src: url('http://jacvapour.com/skin/frontend/default/jacvopur/fonts/149230/DE088F097210413AC.eot'); src: url('http://jacvapour.com/skin/frontend/default/jacvopur/fonts/149230/DE088F097210413AC.eot?#hfj') format('embedded-opentype'); font-style:normal; font-weight:400; } @font-face { font-family:"Gotham SSm A"; src: url('http://jacvapour.com/skin/frontend/default/jacvopur/fonts/149230/89E2F051E109802A3.eot'); src: url('http://jacvapour.com/skin/frontend/default/jacvopur/fonts/149230/89E2F051E109802A3.eot?#hfj') format('embedded-opentype'); font-style:italic; font-weight:400; } @font-face { font-family:"Gotham SSm 4i"; src: url('http://jacvapour.com/skin/frontend/default/jacvopur/fonts/149230/89E2F051E109802A3.eot'); src: url('http://jacvapour.com/skin/frontend/default/jacvopur/fonts/149230/89E2F051E109802A3.eot?#hfj') format('embedded-opentype'); font-style:italic; font-weight:400; } @font-face { font-family:"Gotham SSm A"; src: url('http://jacvapour.com/skin/frontend/default/jacvopur/fonts/149230/6F21FAE2B70C4B203.eot'); src: url('http://jacvapour.com/skin/frontend/default/jacvopur/fonts/149230/6F21FAE2B70C4B203.eot?#hfj') format('embedded-opentype'); font-style:normal; font-weight:500; } @font-face { font-family:"Gotham SSm 5r"; src: url('http://jacvapour.com/skin/frontend/default/jacvopur/fonts/149230/6F21FAE2B70C4B203.eot'); src: url('http://jacvapour.com/skin/frontend/default/jacvopur/fonts/149230/6F21FAE2B70C4B203.eot?#hfj') format('embedded-opentype'); font-style:normal; font-weight:500; } @font-face { font-family:"Gotham SSm A"; src: url('http://jacvapour.com/skin/frontend/default/jacvopur/fonts/149230/D9C048D5FA71010D2.eot'); src: url('http://jacvapour.com/skin/frontend/default/jacvopur/fonts/149230/D9C048D5FA71010D2.eot?#hfj') format('embedded-opentype'); font-style:normal; font-weight:700; } @font-face { font-family:"Gotham SSm 7r"; src: url('http://jacvapour.com/skin/frontend/default/jacvopur/fonts/149230/D9C048D5FA71010D2.eot'); src: url('http://jacvapour.com/skin/frontend/default/jacvopur/fonts/149230/D9C048D5FA71010D2.eot?#hfj') format('embedded-opentype'); font-style:normal; font-weight:700; } @font-face { font-family:"Gotham SSm A"; src: url('http://jacvapour.com/skin/frontend/default/jacvopur/fonts/149230/A1FDD9BEF81060F4D.eot'); src: url('http://jacvapour.com/skin/frontend/default/jacvopur/fonts/149230/A1FDD9BEF81060F4D.eot?#hfj') format('embedded-opentype'); font-style:normal; font-weight:800; } @font-face { font-family:"Gotham SSm 8r"; src: url('http://jacvapour.com/skin/frontend/default/jacvopur/fonts/149230/A1FDD9BEF81060F4D.eot'); src: url('http://jacvapour.com/skin/frontend/default/jacvopur/fonts/149230/A1FDD9BEF81060F4D.eot?#hfj') format('embedded-opentype'); font-style:normal; font-weight:800; } 