/**
 * Magento
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Academic Free License (AFL 3.0)
 * that is bundled with this package in the file LICENSE_AFL.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/afl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magentocommerce.com so we can send you a copy immediately.
 * 
 *
 * @category    design
 * @package     default_blank
 * @copyright  Copyright (c) 2011 template-help.com
 * @license     http://opensource.org/licenses/afl-3.0.php  Academic Free License (AFL 3.0)
 */

/* Reset ================================================================================= */
* { margin:0; padding:0; }

.full-width{width:100%;}
.container{width:100%; overflow:hidden;}
.clear{clear:both;}
.ie-fix{width:100%; position:relative;}
.radio, checkbox{border:0; background:0;}
.page-indent{padding:17px;}
.page-border{border:1px solid #CFE2ED; padding:17px;}

body          { background:#fff; font-family:Arial, Helvetica, sans-serif; font-size:0.75em; line-height:1.33em; color:#88949D; text-align:center; }

img           { border:0; vertical-align:top; }

a             { color:#88949D; text-decoration:underline; }
a:hover       { text-decoration:none; }
a:hover img   {position:relative;}
:focus        { outline: 0; }

/* Headings */
h1            { font-size:1em; font-weight:normal; line-height:1.3; }
h2            { font-size:1em; font-weight:bold; line-height:1.34; margin-bottom:5px; }
h3            { font-size:1em; font-weight:bold; line-height:normal; margin-bottom:10px;}
h4            { font-size:1em; font-weight:bold; margin-bottom:10px;}
h5            { font-size:0.92em; font-weight:bold; margin-bottom:10px;}
h6            { font-size:0.92em; font-weight:bold; margin-bottom:10px;}

/* Forms */
form          { display:inline; }
fieldset      { border:0; }
legend        { display:none; }

/* Table */
table         { border:0; border-collapse:collapse; border-spacing:0; empty-cells:show; font-size:100%; }
caption,th,td { vertical-align:top; text-align:left; font-weight:normal; }

/* Content */
strong        { font-weight:bold; }
address       { font-style:normal; }
cite          { font-style:normal; }
q,
blockquote    { quotes:none; }
q:before,
q:after       { content:''; }
small,big     { font-size:1em; }
sup           { font-size:1em; vertical-align:top; }

/* Lists */
ul,ol         { list-style:none; }

/* Tools */
.hidden       { display:block !important; border:0 !important; margin:0 !important; padding:0 !important; font-size:0 !important; line-height:0 !important; width:0 !important; height:0 !important; overflow:hidden !important; }
.nobr         { white-space:nowrap !important; }
.wrap         { white-space:normal !important; }
.a-left       { text-align:left !important; }
.a-center     { text-align:center !important; }
.a-right      { text-align:right !important; }
.v-top        { vertical-align:top; }
.v-middle     { vertical-align:middle; }
.f-left,
.left         { float:left !important; }
.f-right,
.right        { float:right !important; }
.f-none       { float:none !important; }
.f-fix        { float:left; width:100%; }
.no-display   { display:none; }
.no-margin    { margin:0 !important; }
.no-padding   { padding:0 !important; }
.no-bg        { background:none !important; }
/* ======================================================================================= */


/* Layout ================================================================================ */
.wrapper{background:url(../images/content_wrapper.jpg) left top repeat-x; min-width:1067px;}
.page { width:991px; margin:0 auto; padding:0; text-align:left; }
.page-print { background:#fff; padding:20px; text-align:left; }
.page-empty { background:#fff; padding:20px; text-align:left; }
.page-popup { padding:20px; text-align:left; background:#FFF;}
.page-popup .page-title{background:0;}
.page-popup .product-image{display:block; margin-bottom:10px;}
.page-popup .price-box{margin:10px 0;}
.page-popup .add-to-links{padding:15px 0;}
.page-popup .buttons-set{padding-top:25px!important;}

.main-container {}
.main { margin:0; padding:11px 0 0; }

/* =========================================main block============================================== */
.main-block .corners-top{width:100%; height:10px; overflow:hidden; background:url(../images/main_block_corner_left_top.png) left top no-repeat;}
.main-block .corners-top div{padding:0 10px; background:url(../images/main_block_corner_right_top.png) right top no-repeat;}
.main-block .corners-top div div{height:9px; padding:0; border-top:1px solid #E4E3E3; background:#FFF;}

.main-block .content-box{padding:11px 20px; border-left:1px solid #E4E3E3; border-right:1px solid #E4E3E3; background:#FFF;}

.main-block .corners-bot{width:100%; height:10px; overflow:hidden; background:url(../images/main_block_corner_left_bot.png) left top no-repeat;}
.main-block .corners-bot div{padding:0 10px; background:url(../images/main_block_corner_right_bot.png) right top no-repeat;}
.main-block .corners-bot div div{height:9px; padding:0; border-bottom:1px solid #E4E3E3; background:#FFF;}
/* ======================================================================================= */


/* Base Columns */
.col-left { float:left; width:229px; padding:0; }
.col-main { float:left; width:710px; padding:0; }
.col-right { float:right; width:229px; padding:0; }

/* 1 Column Layout */
.col1-layout .col-main { float:none; width:auto; }

/* 2 Columns Layout */
.col2-left-layout .col-main { float:right; }
.col2-right-layout .col-main {}

/* 3 Columns Layout */
.col3-layout .col-main { width:471px; margin-left:10px; }
.col3-layout .col-wrapper { float:left; width:710px; }
.col3-layout .col-wrapper .col-main { float:right; }

/* Content Columns */
.col2-set .col-1 { float:left; width:49%; }
.col2-set .col-2 { float:right; width:49%; }
.col2-set .col-narrow { width:33%; }
.col2-set .col-wide { width:65%; }

.col3-set .col-1 { float:left; width:32%; }
.col3-set .col-2 { float:left; width:32%; margin-left:2%; }
.col3-set .col-3 { float:right; width:32%; }

.col4-set .col-1 { float:left; width:23.5%; }
.col4-set .col-2 { float:left; width:23.5%; margin:0 2%; }
.col4-set .col-3 { float:left; width:23.5%; }
.col4-set .col-4 { float:right; width:23.5%; }
/* ======================================================================================= */


/* Global Styles ========================================================================= */
/* Form Elements */
input,select,textarea,button { font:11px Arial, Helvetica, sans-serif; vertical-align:middle; color:#88949D; }
input.input-text,select,textarea { background:#fff; border:1px solid #EBE5E3; }
input.input-text,textarea { padding:2px; }
select { padding:1px; }
select option { padding-right:10px; }
select.multiselect option { border-bottom:1px solid #ddd; padding:2px 5px; }
select.multiselect option:last-child { border-bottom:0; }
textarea { overflow:auto; }
input.radio { margin-right:3px; }
input.checkbox { margin-right:3px; }
input.qty { width:2.5em !important; }
button.button::-moz-focus-inner { padding:0; border:0; } /* FF Fix */
button.button { -webkit-border-fit:lines; } /* <- Safari & Google Chrome Fix */
button.button { overflow:visible; width:auto; border:0; padding:0; margin:0; background:transparent; cursor:pointer; }
button.button span { float:left; height:39px; background:transparent url(../images/bkg_button.png) 0 0 no-repeat; padding:0 0 0 11px; font:bold 13px Arial, Helvetica, sans-serif; text-align:center; white-space:nowrap; color:#fff; }
button.button span span { background-position:100% 0; padding:10px 11px 0 0; }

.sidebar-block button.button span{ float:left; height:27px; background:transparent url(../images/sidenar_button.png) 0 0 no-repeat; padding:0 0 0 11px; font:bold 12px Arial, Helvetica, sans-serif; text-align:center; white-space:nowrap; color:#fff; }
.sidebar-block button.button span span{ background-position:100% 0; padding:6px 11px 0 0; }

.sidebar-block-2 button.button span{ float:left; height:27px; background:transparent url(../images/sidenar_button_2.png) 0 0 no-repeat; padding:0 0 0 11px; font:bold 12px Arial, Helvetica, sans-serif; text-align:center; white-space:nowrap; color:#fff; }
.sidebar-block-2 button.button span span{ background-position:100% 0; padding:6px 11px 0 0; }

button.disabled {}
button.disabled span {}

button.btn-checkout span {}
button.btn-checkout.no-checkout {}

p.control input.checkbox,
p.control input.radio { margin-right:6px; }
/* Form Highlight */
/*input.input-text:focus,select:focus,textarea:focus {}*/
/*.highlight { background:#efefef; }*/

/* Form lists */
/* Grouped fields */
/*.form-list { width:535px; margin:0 auto; overflow:hidden; }*/
.form-list li { margin:0 0 8px; }
.form-list label { float:left; color:#88949D; font-weight:normal; position:relative; z-index:0; }
.form-list label.required {}
.form-list label.required em { float:right; font-style:normal; color:#eb340a; position:absolute; top:0; right:-8px; }
.form-list li.control label { float:none; }
.form-list li.control input.radio,
.form-list li.control input.checkbox { margin-right:6px; }
.form-list li.control .input-box { clear:none; display:inline; width:auto; }
/*.form-list li.fields { margin-right:-15px; }*/
.form-list .input-box { display:block; clear:both; width:260px; }
.form-list .field { float:left; width:275px; overflow:hidden; }
.form-list input.input-text { width:254px; }
.form-list textarea { width:254px; height:10em; }
.form-list select { width:260px; }
.form-list li.wide .input-box { width:535px; }
.form-list li.wide input.input-text { width:529px; }
.form-list li.wide textarea { width:529px; }
.form-list li.wide select { width:535px; }
.form-list li.additional-row { border-top:1px solid #ccc; margin-top:10px; padding-top:7px; }
.form-list li.additional-row .btn-remove { float:right; margin:5px 0 0; }
.form-list .input-range input.input-text { width:74px; }
/* Customer */
.form-list .customer-name-prefix .input-box,
.form-list .customer-name-suffix .input-box,
.form-list .customer-name-prefix-suffix .input-box,
.form-list .customer-name-prefix-middlename .input-box,
.form-list .customer-name-middlename-suffix .input-box,
.form-list .customer-name-prefix-middlename-suffix .input-box { width:auto; }

.form-list .name-prefix { width:65px; }
.form-list .name-prefix select { width:55px; }
.form-list .name-prefix input.input-text { width:49px; }

.form-list .name-suffix { width:65px; }
.form-list .name-suffix select { width:55px; }
.form-list .name-suffix input.input-text { width:49px; }

.form-list .name-middlename { width:70px; }
.form-list .name-middlename input.input-text { width:49px; }

.form-list .customer-name-prefix-middlename-suffix .name-firstname,
.form-list .customer-name-prefix-middlename .name-firstname { width:140px; }
.form-list .customer-name-prefix-middlename-suffix .name-firstname input.input-text,
.form-list .customer-name-prefix-middlename .name-firstname input.input-text { width:124px; }
.form-list .customer-name-prefix-middlename-suffix .name-lastname { width:205px; }
.form-list .customer-name-prefix-middlename-suffix .name-lastname input.input-text { width:189px; }

.form-list .customer-name-prefix-suffix .name-firstname { width:210px; }
.form-list .customer-name-prefix-suffix .name-lastname { width:205px; }
.form-list .customer-name-prefix-suffix .name-firstname input.input-text,
.form-list .customer-name-prefix-suffix .name-lastname input.input-text { width:189px; }

.form-list .customer-name-prefix-suffix .name-firstname { width:210px; }
.form-list .customer-name-prefix-suffix .name-lastname { width:205px; }
.form-list .customer-name-prefix-suffix .name-firstname input.input-text,
.form-list .customer-name-prefix-suffix .name-lastname input.input-text { width:189px; }

.form-list .customer-name-prefix .name-firstname,
.form-list .customer-name-middlename .name-firstname { width:210px; }

.form-list .customer-name-suffix .name-lastname,
.form-list .customer-name-middlename .name-firstname,
.form-list .customer-name-middlename-suffix .name-firstname,
.form-list .customer-name-middlename-suffix .name-lastname { width:205px; }

.form-list .customer-name-prefix .name-firstname input.input-text,
.form-list .customer-name-suffix .name-lastname input.input-text,
.form-list .customer-name-middlename .name-firstname input.input-text,
.form-list .customer-name-middlename-suffix .name-firstname input.input-text,
.form-list .customer-name-middlename-suffix .name-lastname input.input-text { width:189px; }

.form-list .customer-dob .dob-month,
.form-list .customer-dob .dob-day,
.form-list .customer-dob .dob-year { float:left; width:85px; }
.form-list .customer-dob input.input-text { display:block; width:74px; }
.form-list .customer-dob label { font-size:10px; font-weight:normal; color:#888; }
.form-list .customer-dob .dob-day,
.form-list .customer-dob .dob-month { width:60px; }
.form-list .customer-dob .dob-day input.input-text,
.form-list .customer-dob .dob-month input.input-text { width:46px; }
.form-list .customer-dob .dob-year { width:140px; }
.form-list .customer-dob .dob-year input.input-text { width:134px; }

.buttons-set { clear:both; margin:5px 0 0; padding:5px; }
.buttons-set .back-link { float:left; }
.buttons-set button.button { float:right; }
.buttons-set p.required { margin:0 0 5px; }

.buttons-set-order {}

.fieldset { border:1px solid #ddd; background:#fefefe; padding:22px 25px 12px 25px; margin:28px 0; }
.fieldset .legend { float:left; font-weight:bold; font-size:13px; border:1px solid #fefefe; background:#dedede; color:#333; margin:-33px 0 0 -10px; padding:0 8px; position:relative; }

/* Form Validation */
.validation-advice { clear:both; min-height:13px; margin:3px 0 0; padding-left:17px; font-size:10px; line-height:13px; background:url(../images/validation_advice_bg.gif) 2px 1px no-repeat; color:#f00; }
.validation-failed { border:1px dashed #f00 !important; background:#faebe7 !important; }
.validation-passed {}
p.required { font-size:12px; text-align:right; color:#BA0016; }
/* Expiration date and CVV number validation fix */
.v-fix { float:left; }
.v-fix .validation-advice { display:block; width:12em; margin-right:-12em; position:relative; }

/* Global Messages  */
.success { color:#3d6611; font-weight:bold; }
.error { color:#f00; font-weight:bold; }
.notice { color:#ccc; }

.messages,
.messages ul { list-style:none !important; margin:0 !important; padding:0 !important; }
.messages { width:100%; overflow:hidden; }
.messages li { margin:0 0 10px; }
.messages li li { margin:0 0 3px; }
.error-msg,
.success-msg,
.note-msg,
.notice-msg { border-style:solid !important; border-width:1px !important; background-position:10px 9px !important; background-repeat:no-repeat !important; min-height:24px !important; padding:8px 8px 8px 32px !important; font-size:11px !important; font-weight:bold !important; }
.error-msg { border-color:#f16048; background-color:#faebe7; background-image:url(../images/i_msg-error.gif); color:#df280a; }
.success-msg { border-color:#446423; background-color:#eff5ea; background-image:url(../images/i_msg-success.gif); color:#3d6611; }
.note-msg,
.notice-msg { border-color:#fcd344; background-color:#fafaec; background-image:url(../images/i_msg-note.gif); color:#3d6611; }

/* BreadCrumbs */
.breadcrumbs{padding:0 20px 12px; margin:0;}
.breadcrumbs li { display:inline; }
.breadcrumbs li span{padding:0 5px; background:url(../images/breadcrumbs_divider.gif) center 5px no-repeat;}
.breadcrumbs li a{color:#102738;}
.breadcrumbs li strong{color:#BA0016;}

/* Page Heading */
.page-title{margin:0 0 11px; background:url(../images/page_title_block_top.jpg) left top repeat-x #FFF;}
.page-title .bot-bg{background:url(../images/page_title_block_bot.jpg) left bottom repeat-x;}
.page-title .left-bg{background:url(../images/page_title_block_left.jpg) left top repeat-y;}
.page-title .right-bg{background:url(../images/page_title_block_right.jpg) right top repeat-y;}
.page-title .left-top{background:url(../images/page_title_block_left_top.jpg) left top no-repeat;}
.page-title .right-top{background:url(../images/page_title_block_right_top.jpg) right top no-repeat;}
.page-title .left-bot{background:url(../images/page_title_block_left_bot.jpg) left bottom no-repeat;}
.page-title .right-bot{background:url(../images/page_title_block_right_bot.jpg) right bottom no-repeat; padding:12px 19px;}
.page-title h1,
.page-title h2 {color:#000; text-transform:uppercase; font-weight:bold; font-size:1.5em; }
.page-title .separator { margin:0 3px; }
.page-title .link-rss { float:right; }
.title-buttons { text-align:right; }
.title-buttons h1,
.title-buttons h2,
.title-buttons h3,
.title-buttons h4,
.title-buttons h5,
.title-buttons h6 { float:left; margin-top:9px; }

.subtitle,
.sub-title  { clear:both; }

/* Pager */
.pager{padding:0 5px 6px 8px; margin:0; text-align:center; border-bottom:1px solid #ECECEC; }
.pager .amount { float:left; }
.pager .limiter { float:right; }
.pager .limiter select{width:47px;}
.pager .pages { margin:0 135px; }
.pager .pages strong{font-weight:normal;}
.pager .pages ol { display:inline; }
.pager .pages li { display:inline; }
.pager .pages li a{color:#12293C;}
.pager .pages .current {}

/* Sorter */
.sorter {padding:6px 39px 0 8px; margin:0; }
.sorter .view-mode { float:left; }
.sorter .view-mode a{color:#12293C;}
.sorter .sort-by { float:right; }
.sorter .sort-by select{width:97px;}
.sorter .link-feed {}

/* Toolbar */
.toolbar{font-size:0.91em; color:#12293C;}
.toolbar .pager {}
.toolbar .sorter {}
.toolbar-bottom {}

.toolbar-block{background:url(../images/toolbar_block_top.jpg) left top repeat-x #FFF;}
.toolbar-block .bot-bg{background:url(../images/toolbar_block_bot.jpg) left bottom repeat-x;}
.toolbar-block .left-bg{background:url(../images/toolbar_block_left.jpg) left top repeat-y;}
.toolbar-block .right-bg{background:url(../images/toolbar_block_right.jpg) right top repeat-y;}
.toolbar-block .left-top{background:url(../images/toolbar_block_left_top.jpg) left top no-repeat;}
.toolbar-block .right-top{background:url(../images/toolbar_block_right_top.jpg) right top no-repeat;}
.toolbar-block .left-bot{background:url(../images/toolbar_block_left_bot.jpg) left bottom no-repeat;}
.toolbar-block .right-bot{background:url(../images/toolbar_block_right_bot.jpg) right bottom no-repeat; padding:6px 13px 6px 14px;}

/* Data Table */
.data-table { width:100%; }
.data-table th { padding:5px; border:1px solid #E3E2E4; font-weight:bold; white-space:nowrap; }
.data-table td { padding:5px; border:1px solid #E3E2E4; }
.data-table thead { background-color:#F8F8F8; }
.data-table tbody {}
.data-table tfoot {}
.data-table tr.first {}
.data-table tr.last {}
.data-table tr.odd {}
.data-table tr.even {}
.data-table tbody.odd {}
.data-table tbody.odd td { border-width:0 1px; }
.data-table tbody.even { background-color:#f6f6f6; }
.data-table tbody.even td { border-width:0 1px; }
.data-table tbody.odd tr.border td,
.data-table tbody.even tr.border td { border-bottom-width:1px; }
.data-table th .tax-flag { white-space:nowrap; font-weight:normal; }
.data-table td.label,
.data-table th.label { font-weight:bold; }
.data-table td.value {}

/* Shopping cart total summary row expandable to details */
tr.summary-total { cursor:pointer; }
tr.summary-total td {}
tr.summary-total .summary-collapse { float:right; text-align:right; padding-left:20px; background:url(../images/bkg_collapse.gif) 0 4px no-repeat; cursor:pointer; }
tr.show-details .summary-collapse { background-position:0 -53px; }
tr.show-details td {}
tr.summary-details td { font-size:11px; background-color:#dae1e4; color:#626465; }
tr.summary-details-first td { border-top:1px solid #d2d8db; }
tr.summary-details-excluded { font-style:italic; }

/* Shopping cart tax info */
.cart-tax-info { display:block; }
.cart-tax-info,
.cart-tax-info .cart-price { padding-right:20px; }
.cart-tax-total { display:block; padding-right:20px; background:url(../images/bkg_collapse.gif) 100% 4px no-repeat; cursor:pointer; }
.cart-tax-info .price,
.cart-tax-total .price { display:inline !important; font-weight:normal !important; }
.cart-tax-total-expanded { background-position:100% -53px; }

/* Class: std - styles for admin-controlled content */
.std .subtitle { padding:0; }
.std ol.ol { list-style:decimal outside; padding-left:1.5em; }
.std ul.disc { margin:0 0 10px; }
.std ul.disc { list-style:disc outside; padding-left:18px; }
.std dl dt { font-weight:bold; }
.std dl dd { margin:0 0 10px; }
/*.std ul,
.std ol,
.std dl,
.std p,
.std address,
.std blockquote { margin:0 0 1em; padding:0; }
.std ul { list-style:disc outside; padding-left:1.5em; }
.std ol { list-style:decimal outside; padding-left:1.5em; }
.std ul ul { list-style-type:circle; }
.std ul ul,
.std ol ol,
.std ul ol,
.std ol ul { margin:.5em 0; }
.std dt { font-weight:bold; }
.std dd { padding:0 0 0 1.5em; }
.std blockquote { font-style:italic; padding:0 0 0 1.5em; }
.std address { font-style:normal; }
.std b,
.std strong { font-weight:bold; }
.std i,
.std em { font-style:italic; }*/

/* Misc */
.links li { display:inline; }
.links li.first { padding-left:0 !important; }
.links li.last { background:none !important; padding-right:0 !important; }

.link-cart { font-weight:bold; color:#f00; }
.link-wishlist { font-weight:bold; }
.link-reorder { font-weight:bold; }
.link-compare { font-weight:bold; }
.link-print { background:url(../images/i_print.gif) 0 2px no-repeat; padding:2px 0 2px 25px; }
.link-rss { background:url(../images/i_rss.gif) 0 1px no-repeat; padding-left:18px; white-space:nowrap; }
.btn-remove { display:block; width:12px; height:12px; font-size:0; line-height:0; background:url(../images/btn_remove.gif) 0 0 no-repeat; text-indent:-999em; overflow:hidden; }
.btn-remove2 { display:block; width:16px; height:16px; font-size:0; line-height:0; background:url(../images/btn_trash.gif) 0 0 no-repeat; text-indent:-999em; overflow:hidden; }
.btn-edit    { display:block; width:11px; height:11px; font-size:0; line-height:0; background:url(../images/btn_edit.gif) 0 0 no-repeat; text-indent:-999em; overflow:hidden; margin:0 3px; }

.cards-list dt { margin:5px 0 0; }
.cards-list .offset { padding:2px 0 2px 20px; }

.separator { margin:0 3px; }

.divider { clear:both; display:block; font-size:0; line-height:0; height:1px; margin:10px 0; background:#ddd; text-indent:-999em; overflow:hidden; }

/* Noscript Notice */
.noscript { border:1px solid #ddd; border-width:0 0 1px; background:#ffff90; font-size:12px; line-height:1.25; text-align:center; color:#2f2f2f; }
.noscript .noscript-inner { width:1000px; margin:0 auto; padding:12px 0 12px; background:url(../images/i_notice.gif) 20px 50% no-repeat; }
.noscript p { margin:0; }

/* Demo Notice */
.demo-notice { margin:0; padding:6px 10px; background:#d75f07; font-size:12px; line-height:1.15; text-align:center; color:#fff; }
/* ======================================================================================= */


/* Header ================================================================================ */
.logo { float:left; }
.header-container{background:url(../images/header_wrapper.jpg) left top repeat-x #E5E4E4; min-width:1067px;}
.header{padding:18px 0 20px;}
.header .logo{float:left; text-decoration:none !important; display:block; margin-top:12px;}
.header .logo strong { position:absolute; top:-999em; left:-999em; width:0; height:0; font-size:0; line-height:0; text-indent:-999em; overflow:hidden; }
.header h1.logo { margin:0; padding:0; }
.header .quick-access{float:right; width:60%;}
.header .welcome-msg{overflow:visible; width:auto; border:0; padding:0; margin:0 0 9px; background:transparent; float:right;}
.header .welcome-msg span{font-weight:bold; height:27px; float:left; background:transparent url(../images/welcome_bg.png) 0 0 no-repeat; display:block; padding:0 0 0 9px; text-align:center; white-space:nowrap; color:#FFF;}
.header .welcome-msg span span{background-position:100% 0; display:block; padding-left:0; padding-right:9px; padding-top:6px; padding:6px 9px 0 0;}
.header .links { float:right; margin-bottom:12px }
.header .links li{padding-left:15px;}
.header .links li a{white-space:nowrap; text-decoration:none; color:#122A3D;}
.header .links li a:hover{text-decoration:underline; color:#E50721;}
.header .form-search{background:url(../images/top_search.gif) left top repeat-x; width:271px; float:right;}
.header .form-search label{display:none;}
.header .form-search input{float:left; margin:4px 0 0 7px; width:180px; background:0; border:0; color:#CDCCCC; font-size:12px;}
.header .form-search button{float:right;}
.header .form-search button span{height:27px; background:transparent url(../images/top_button.png) 0 0 no-repeat; padding:0 0 0 9px;}
.header .form-search button span span{background-position:100% 0; padding:6px 9px 5px 0; height:16px;}
.header .form-search .search-autocomplete { z-index:999; text-align:left;}
.header .form-search .search-autocomplete ul { border:1px solid #ddd; background-color:#fff; }
.header .form-search .search-autocomplete li { padding:3px; border-bottom:1px solid #ddd; cursor:pointer; }
.header .form-search .search-autocomplete li .amount { float:right; font-weight:bold; }
.header .form-search .search-autocomplete li.selected {}
.header .form-language{float:right; margin-bottom:10px;}
.header .block-currency{float:right; padding-left:10px; margin-bottom:10px;}
.header .block-currency label{margin-right:3px;}
.header .block-currency select{width:108px;}

.header-container .top-container { clear:both; text-align:right; }

.menu-wrapper{background:url(../images/menu_wrapper.jpg) left bottom repeat-x #FFF; min-width:1067px;}

/********** < Navigation */
.nav-container {}
#nav {padding:0; margin:0; font-size:13px; }

/* All Levels */
#nav li { text-align:left; position:relative; }
#nav li.over { z-index:998; }
#nav li.parent {}
#nav li a { display:block; text-decoration:none; }
#nav li a:hover { text-decoration:none; }
#nav li a span { display:block; white-space:nowrap; cursor:pointer; }
#nav li ul a span { white-space:normal; }

/* 1st Level */
#nav li { float:left; }
#nav li a { float:left; padding:28px 18px 27px 21px; font-weight:bold; color:#12293C; background:url(../images/menu_divider.jpg) right top no-repeat; line-height:normal; text-transform:uppercase; }
#nav li a:hover { color:#FFF; background:url(../images/menu_active_bg.jpg) left top repeat-x; }
#nav li.over a,
#nav li.active a { color:#FFF; background:url(../images/menu_active_bg.jpg) left top repeat-x; }

/* 2nd Level */
#nav ul,
#nav div { position:absolute; width:130px; top:69px; padding:5px; left:-10000px; background:url(../images/sub_menu_bg.png) left bottom no-repeat; z-index:7; }
#nav div ul { position:static; width:auto; border:none; }

/* 3rd+ leven */
#nav ul ul,
#nav ul div { top:7px; }

#nav ul li { float:none; padding-bottom:3px }
#nav ul li.last { border-bottom:0; }
#nav ul li a { float:none; padding:6px 9px; font-weight:normal; color:#FFF !important; text-transform:lowercase; background:0!important; }
#nav ul li a:hover { color:#11283A !important; background:url(../images/sub_menu_button_active.jpg) left top repeat-x!important; }
#nav ul li.active > a,
#nav ul li.over > a { color:#11283A !important; background:url(../images/sub_menu_button_active.jpg) left top repeat-x!important; -moz-border-radius:5px; border-radius:5px;}

/* Show menu */
#nav li ul.shown-sub,
#nav li div.shown-sub { left:0; z-index:7; }
#nav li .shown-sub ul.shown-sub,
#nav li .shown-sub li div.shown-sub { left:100px; }
/********** Navigation > */
/* ======================================================================================= */

/* Sidebar =============================================================================== */
.block { margin:0 0 10px; color:#FFF; }
.block .block-title { padding:10px 0 9px 41px; background:url(../images/sideblock_title.png) left top no-repeat; }
.block .block-title strong{}
.block .block-title strong span { text-transform:uppercase; font-weight:bold; color:#FFF; font-size:1.09em;}
.block .block-title a { text-decoration:none !important; }
.block .block-subtitle { margin-bottom:10px; }
.block a{color:#FFF;}
.block .block-content { padding:5px 0 0; }
.block .block-content li.item { padding:5px 0; }
.block .btn-remove,
.block .btn-edit { float:right;}
.block .actions { text-align:right; }
.block .actions a { float:left; }
.block .empty {}

.block li.odd {}
.block li.even {}

.sidebar-block{background:url(../images/sideblock_bg.gif) left top repeat;}
.sidebar-block .top_bg{background:url(../images/sideblock_top.gif) left top repeat-x;}
.sidebar-block .bot_bg{background:url(../images/sideblock_bot.gif) left bottom repeat-x;}
.sidebar-block .left_bg{background:url(../images/sideblock_left.gif) left top repeat-y;}
.sidebar-block .right-bg{background:url(../images/sideblock_right.gif) right top repeat-y;}
.sidebar-block .left-top{background:url(../images/sideblock_left_top.gif) left top no-repeat;}
.sidebar-block .right-top{background:url(../images/sideblock_right_top.gif) right top no-repeat;}
.sidebar-block .left-bot{background:url(../images/sideblock_left_bot.gif) left bottom no-repeat;}
.sidebar-block .right-bot{background:url(../images/sideblock_right_bot.gif) right bottom no-repeat; padding:19px 19px 16px;}
.sidebar-block .btn-remove{ background:url(../images/btn_remove_sideblock_2.gif) left top no-repeat;}

.sidebar-block-2{background:url(../images/sideblock_2_bg.gif) left top repeat;}
.sidebar-block-2 .top_bg{background:url(../images/sideblock_2_top.gif) left top repeat-x;}
.sidebar-block-2 .bot_bg{background:url(../images/sideblock_2_bot.gif) left bottom repeat-x;}
.sidebar-block-2 .left_bg{background:url(../images/sideblock_2_left.gif) left top repeat-y;}
.sidebar-block-2 .right-bg{background:url(../images/sideblock_2_right.gif) right top repeat-y;}
.sidebar-block-2 .left-top{background:url(../images/sideblock_2_left_top.gif) left top no-repeat;}
.sidebar-block-2 .right-top{background:url(../images/sideblock_2_right_top.gif) right top no-repeat;}
.sidebar-block-2 .left-bot{background:url(../images/sideblock_2_left_bot.gif) left bottom no-repeat;}
.sidebar-block-2 .right-bot{background:url(../images/sideblock_2_right_bot.gif) right bottom no-repeat; padding:19px 19px 16px;}

/* Mini Products List */
.mini-products-list li { padding:5px 0; }
.mini-products-list .product-image { float:left; width:57px; height:67px; padding:0;}
.mini-products-list .product-details { margin-left:72px; }
.mini-products-list .product-details .product-name { font-size:1em; font-weight:bold; margin:0 0 10px; }
.mini-products-list .product-details .product-name a{color:#FFF; text-decoration:none; font-weight:normal;}
.mini-products-list .product-details .product-name a:hover{text-decoration:underline;}

/* Block: Account */
.block-account {}
.block-account li{padding-bottom:5px;}

/* Block: Currency Switcher */
.block-currency{}
.block-currency select{}

/* Block: Layered Navigation */
.block-layered-nav {}
.block-layered-nav dt{font-size:0.83em; text-transform:uppercase; color:#102738; padding:4px 8px 2px; background:#F7F7F6; border:1px solid #6C7A83;}
.block-layered-nav dd{padding:12px 0;}
.block-layered-nav .currently {}
.block-layered-nav .currently li{background:#F7F7F6; border:1px solid #6C7A83; padding:3px 5px 3px 8px; color:#12293C; font-size:0.91em; margin-bottom:3px;}
.block-layered-nav .btn-remove { float:right; margin:3px 0 0 3px; }
.block-layered-nav .actions{text-align:right; padding:10px 0 30px;}
.block-layered-nav .actions a{color:#C82B3D; float:none;}

/* Block: Cart */
.block-cart {}
.block-cart .block-title{background:url(../images/cart_title_marker.gif) left top no-repeat;}
.block-cart .summary {}
.block-cart .amount {padding-bottom:10px;}
.block-cart .amount a{color:#FFF; text-decoration:none; font-weight:bold;}
.block-cart .amount a:hover{text-decoration:underline;}
.block-cart .subtotal{padding:4px 8px; background:#F7F7F6; border:1px solid #CB636F; font-size:0.83em; color:#102738; text-transform:uppercase;}
.block-cart .subtotal .price{color:#BA0016; font-size:1.2em;}
.block-cart .actions{padding:15px 0;}
.block-cart .actions .paypal-logo { float:left; width:100%; margin:3px 0 0; text-align:right; }
.block-cart .actions .paypal-logo .paypal-or { clear:both; display:block; padding:0 55px 5px 0; }

/* Block: Wishlist */
.block-wishlist {}

/* Block: Related */
.block-related {}
.block-related .block-subtitle a{color:#FFF; font-weight:bold; text-decoration:none;}
.block-related .block-subtitle a:hover{text-decoration:underline;}
.block-related li { padding:5px 0; }
.block-related input.checkbox { float:left; }
.block-related .product { margin-left:20px; }
.block-related .product .product-image { float:left; margin-right:-65px; }
.block-related .product .product-details { margin-left:65px; }
.block-related .product .product-details .price-box{margin-bottom:10px;}
.block-related .product .product-details .price-box .price{font-weight:normal;}
.block-related .product .product-details .link-wishlist{color:#C82B3D; font-weight:normal;}

/* Block: Block List */
.block-list .product-name a{color:#FFF; font-weight:normal;}
.block-list .actions{padding-top:5px;}
.block-list .actions a{margin-top:10px;}

/* Block: Compare Products */
.block-compare {}
.block-compare li { padding:5px 0; }

/* Block: Recently Viewed */
.block-viewed {}
.block-viewed .block-title{padding-top:2px;}

/* Block: Recently Compared */
.block-compared {}
.block-compared .block-title{padding-top:2px;}

/* Block: Poll */
.block-poll label {}
.block-poll input.radio { float:left; margin:1px 0 0 0; }
.block-poll .label { display:block; margin-left:18px; }
.block-poll li { padding:3px 9px; }
.block-poll .actions { margin:5px 0 0; }
.block-poll .answer{float:left; width:100%;}
.block-poll .answer span{display:block; width:100px;}
.block-poll .votes{font-weight:bold; float:right; width:65px; margin-top:-15px;}

/* Block: Tags */
.block-tags ul,
.block-tags li { display:inline; }
.block-tags li a{text-decoration:none;}
.block-tags li a:hover{text-decoration:underline;}
.block-tags .actions{padding-top:10px;}

/* Block: Subscribe */
.block-subscribe {}
.block-subscribe input{width:184px; margin-bottom:10px; margin-top:3px;}
.block-subscribe .validation-advice{color:#000; padding-bottom:10px;}

/* Block: Reorder */
.block-reorder {}
.block-reorder li { padding:5px 0; }
.block-reorder input.checkbox { float:left; margin:3px -20px 0 0; }
.block-reorder .product-name { margin-left:20px; }
.block-reorder .product-name a{color:#FFF; font-weight:normal;}
.block-reorder .actions{padding-top:10px;}
.block-reorder .actions a{margin-top:3px;}

/* Block: Banner */
.block-banner {}
.block-banner .block-content { text-align:center; padding:0; }

/* Block: Login */
.block-login label { font-weight:bold; color:#666; }
.block-login input.input-text { display:block; width:167px; margin:3px 0; }

/* Paypal */
.sidebar .paypal-logo { display:block; margin:10px 0; text-align:center; }
.sidebar .paypal-logo a { float:none; }
/* ======================================================================================= */


/* Category Page ========================================================================= */
.category-title{}
.category-image { width:100%; overflow:hidden; margin:0 0 10px; text-align:center; }
.category-image img {}
.category-description { margin:0 0 10px; }
.category-products {}

.main-box{background:url(../images/main_box_border.gif) left top repeat-x #FFF;}
.main-box .bot-bg{background:url(../images/main_box_border.gif) left bottom repeat-x;}
.main-box .left-bg{background:url(../images/main_box_border.gif) left top repeat-y;}
.main-box .right-bg{background:url(../images/main_box_border.gif) right top repeat-y;}
.main-box .left-top{background:url(../images/main_box_left_top.gif) left top no-repeat;}
.main-box .right-top{background:url(../images/main_box_right_top.gif) right top no-repeat;}
.main-box .left-bot{background:url(../images/main_box_left_bot.gif) left bottom no-repeat;}
.main-box .right-bot{background:url(../images/main_box_right_bot.gif) right bottom no-repeat; padding:12px 10px;}

/* View Type: Grid */
.products-grid { position:relative; width:100%; overflow:hidden; }
.products-grid.first{padding-top:10px;}
.products-grid.last { border-bottom:0; }
.products-grid li.item{float:left; width:230px; padding:0 10px 10px 0;}
.products-grid li.item.last{padding-right:0;}
.products-grid li.item .right-bot{padding-bottom:0; padding-left:0; padding-right:0;}
.products-grid .product-image { display:block; width:191px; height:161px; margin:0 auto 10px; }
.products-grid .product-name { margin:0 0 10px; }
.products-grid .product-name a {}
.products-grid .price-box { margin:7px 0; float:left; }
.products-grid button{float:right;}
.products-grid .ratings{padding-left:7px;}
.products-grid .ratings .rating-box{float:left;}
.products-grid .ratings .amount a{color:#12293C;}
.products-grid .availability { line-height:21px; }
.products-grid .add-to-links{padding-top:10px;}
.products-grid .add-to-links li{display:inline;}
.products-grid .add-to-links .separator{display:inline;}
.products-grid .actions {}
.col2-left-layout .products-grid,
.col2-right-layout .products-grid{}
.col1-layout .products-grid{}

.grid-block{background:url(../images/grid_block_top.jpg) left top repeat-x #FFF;}
.grid-block .bot-bg{background:url(../images/grid_block_bot.jpg) left bottom repeat-x;}
.grid-block .left-bg{background:url(../images/grid_block_left.jpg) left top repeat-y;}
.grid-block .right-bg{background:url(../images/grid_block_right.jpg) right top repeat-y;}
.grid-block .left-top{background:url(../images/grid_block_left_top.jpg) left top no-repeat;}
.grid-block .right-top{background:url(../images/grid_block_right_top.jpg) right top no-repeat;}
.grid-block .left-bot{background:url(../images/grid_block_left_bot.jpg) left bottom no-repeat;}
.grid-block .right-bottom{background:url(../images/grid_block_right_bot.jpg) right bottom no-repeat; padding:12px 10px; text-align:center;}

/* View Type: List */
.products-list{padding-top:10px;}
.products-list li.item{padding:0 0 10px;}
.products-list li.item.last{}
.products-list .product-image { float:left; width:149px; height:138px; margin:0 0 10px; }
.products-list .product-shop { margin-left:157px; }
.products-list .product-name { margin:0 0 10px; }
.products-list .product-name a{color:#12293C;}
.products-list .price-box { float:left; margin:7px 36px 5px 0; }
.products-list .availability { float:left; margin:3px 0 0; }
.products-list .desc { clear:both; padding:6px 0 0; margin:0 0 15px; line-height:1.35; }
.products-list .desc .link-learn { color:#BA0016; }
.products-list .add-to-links { clear:both; }
.products-list .add-to-links li { display:inline; }
.products-list .add-to-links .separator { display:inline; margin:0 3px; }
/* ======================================================================================= */


/* Product View ========================================================================== */
/* Rating */
.no-rating { margin:0 0 10px; }

.ratings { font-size:11px; line-height:1.25; margin:7px 0; }
.ratings strong { float:left; margin:1px 3px 0 0; }
.ratings .rating-links { margin:0; }
.ratings .rating-links a{color:#BA0016; display:block; margin-bottom:2px;}
.ratings .rating-links a.last{color:#12293C;}
.ratings .rating-links .separator { margin:0 2px; display:none; }
.ratings dt {}
.ratings dd {}
.rating-box { width:85px; height:14px; font-size:0; line-height:0; background:url(../images/bkg_rating.gif) 0 0 repeat-x; text-indent:-999em; overflow:hidden; }
.rating-box .rating { float:left; height:14px; background:url(../images/bkg_rating.gif) 0 100% repeat-x; }
.ratings .rating-box { float:none; margin-right:3px; margin-bottom:10px; }
.ratings .amount {}

.ratings-table th,
.ratings-table td { font-size:11px; line-height:1.15; padding:3px 0; }
.ratings-table th { font-weight:bold; padding-right:8px; }

/* Availability */
.availability { margin:0; }
.availability span { font-weight:bold; }
.availability.in-stock span {}
.availability.out-of-stock span { color:#d83820; }
.availability-only { margin:0 0 7px; }
.availability-only a { background:url(../images/i_availability_only_arrow.gif) 100% 0 no-repeat; cursor:pointer; padding-right:15px; }
.availability-only .expanded { background-position:100% -15px; }
.availability-only strong {}
.availability-only-details { margin:0 0 7px; }
.availability-only-details th { background:#f2f2f2; font-size:10px; padding:0 8px; }
.availability-only-details td { border-bottom:1px solid #ddd; font-size:11px; padding:2px 8px 1px; }
.availability-only-details tr.odd td.last {}

/* Email to a Friend */
.email-friend { margin-bottom:12px;}

/* Alerts */
.alert-price {}
.alert-stock {}

/********** < Product Prices */
.price{white-space:nowrap !important; line-height:normal;}
.col-main .price{color:#BA0016; font-size:1.5em;}

.price-box {}
.price-box .price { font-weight:bold; }

/* Regular price */
.regular-price {}
.regular-price .price { font-weight:bold; }

/* Old price */
.old-price {}
.old-price .price-label { white-space:nowrap; }
.old-price .price { font-weight:bold; text-decoration:line-through; }

/* Special price */
.special-price {}
.special-price .price-label { font-weight:bold; white-space:nowrap; }
.special-price .price { font-weight:bold; }

/* Minimal price (as low as) */
.minimal-price {}
.minimal-price .price-label { font-weight:bold; white-space:nowrap; }

.minimal-price-link { display:block; }
.minimal-price-link .label {}
.minimal-price-link .price { font-weight:normal; }

/* Excluding tax */
.price-excluding-tax { display:block; }
.price-excluding-tax .label { white-space:nowrap; }
.price-excluding-tax .price { font-weight:normal; }

/* Including tax */
.price-including-tax { display:block; }
.price-including-tax .label { white-space:nowrap; }
.price-including-tax .price { font-weight:bold; }

/* Configured price */
.configured-price {}
.configured-price .price-label { font-weight:bold; white-space:nowrap; }
.configured-price .price { font-weight:bold; }

/* FTP */
.weee { display:block; font-size:11px; color:#444; }
.weee .price { font-size:11px; font-weight:normal; }

/* Excl tax (for order tables) */
.price-excl-tax  { display:block; }
.price-excl-tax .label { display:block; white-space:nowrap; }
.price-excl-tax .price { display:block; }

/* Incl tax (for order tables) */
.price-incl-tax { display:block; }
.price-incl-tax .label { display:block; white-space:nowrap; }
.price-incl-tax .price { display:block; font-weight:bold; }

/* Price range */
.price-from {}
.price-from .price-label { font-weight:bold; white-space:nowrap; }

.price-to {}
.price-to .price-label { font-weight:bold; white-space:nowrap; }

/* Price notice next to the options */
.price-notice { padding-left:10px; }
.price-notice .price { font-weight:bold; }

/* Price as configured */
.price-as-configured {}
.price-as-configured .price-label { font-weight:bold; white-space:nowrap; }

.price-box-bundle {}
/********** Product Prices > */

/* Tier Prices */
.tier-prices{margin-bottom:10px; font-size:0.91em; background:#F7F7F6; padding:5px 15px;}
.tier-prices .price { font-weight:normal; color:#BA0016; font-size:1.09em; text-decoration:underline; }
.tier-prices .benefit {color:#BA0016;}

.tier-prices-grouped {}

/* Add to Links */
.add-to-links{color:#12293C;}
.add-to-links a{color:#12293C; font-weight:normal;}
.add-to-links a.link-wishlist{color:#BD0016;}
.add-to-links .separator { display:none; }

/* Add to Cart */
.add-to-cart label { float:left; margin-right:5px; }
.add-to-cart .qty { float:left; }
.add-to-cart button.button { float:left; margin-left:5px; }
.add-to-cart .paypal-logo { clear:left; text-align:right; }
.add-to-cart .paypal-logo .paypal-or { clear:both; display:block; margin:5px 60px 5px 0; }
.product-view .add-to-cart .paypal-logo { margin:0; }

/* Add to Links + Add to Cart */
.add-to-box {}
.add-to-box .add-to-cart { float:left; }
.add-to-box .add-to-cart label{margin-top:10px; padding-right:10px;}
.add-to-box .add-to-cart input{margin-top:10px; margin-right:5px;}
.add-to-box .or { float:left; margin:9px 10px; }
.add-to-box .add-to-links { float:left; }


.product-view {}

.product-essential {padding-bottom:33px;}

.product-collateral .box-collateral { margin:0; padding:25px 0 31px; border-top:1px solid #F1F0F1; }
.product-collateral .box-collateral h2{margin-bottom:15px; color:#000; text-transform:uppercase; font-size:1.16em;}

/* Product Images */
.product-view .product-img-box { float:left; width:267px; }
.col3-layout .product-view .product-img-box { float:none; margin:0 auto; }
.product-view .product-img-box .product-image { border:1px solid #ddd; }
.product-view .product-img-box .product-image-zoom { position:relative; width:265px; height:265px; overflow:hidden; z-index:9; }
.product-view .product-img-box .product-image-zoom img { position:absolute; left:0; top:0; cursor:move; }
.product-view .product-img-box .zoom-notice { text-align:center; padding:21px 0 17px; }
.product-view .product-img-box .zoom { position:relative; z-index:9; height:18px; margin:0 auto 25px; padding:0 28px; background:url(../images/slider_bg.gif) 50% 50% no-repeat; cursor:pointer; }
.product-view .product-img-box .zoom.disabled { -moz-opacity:.3; -webkit-opacity:.3; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";/*IE8*/ opacity:.3; }
.product-view .product-img-box .zoom #track { position:relative; height:18px; }
.product-view .product-img-box .zoom #handle { position:absolute; left:0; top:-1px; width:33px; height:22px; background:url(../images/magnifier_handle.gif) 0 6px no-repeat;  }
.product-view .product-img-box .zoom .btn-zoom-out { position:absolute; left:2px; top:0; }
.product-view .product-img-box .zoom .btn-zoom-in { position:absolute; right:2px; top:0; }
.product-view .product-img-box .more-views h2{margin-bottom:15px; color:#000; text-transform:uppercase; font-size:1.16em;}
.product-view .product-img-box .more-views ul { margin-left:-20px }
.product-view .product-img-box .more-views li { float:left; border:1px solid #EEEEEE; margin:0 0 8px 20px ; }

.product-image-popup { margin:0 auto; }
.product-image-popup .a-right{padding:15px 0;}
.product-image-popup .buttons-set { float:right; clear:none; border:0; margin:0; padding:0; }
.product-image-popup .nav { text-align:center; padding:15px 0; margin:0 100px; }
.product-image-popup .image { display:block; margin:25px 0; clear:both; }
.product-image-popup .image-label {}

/* Product Shop */
.product-view .product-shop { float:right; width:400px; padding-top:15px;}
.col1-layout .product-view .product-shop { float:right; width:700px; }
.col3-layout .product-view .product-shop { float:none; width:auto; }
.product-view .product-name {color:#12293C; font-weight:bold;}
.product-view .product-name h1{font-weight:bold; margin-bottom:10px;}
.product-view .product-shop .ratings{margin-bottom:10px;}
.product-view .product-shop .ratings .rating-links a{display:inline;}
.product-view .product-shop .ratings .rating-links .separator{display:inline; margin:0 5px; color:#12293C;}
.product-view .product-shop .price-box{float:left; margin-bottom:15px;}
.product-view .product-shop .availability,
.product-view .product-shop .in-stock{float:right;}
.product-view .short-description{padding-top:15px;}
.product-view .short-description h2{margin-bottom:15px; color:#000; text-transform:uppercase; font-size:1.16em;}

.sendfriend-product-send .col-main .buttons-set button{margin-left:20px;}

/* Product Options */
.product-options { padding:10px; margin:10px 0 0; border:1px solid #ddd; background-color:#f6f6f6; }
.product-options dt label { font-weight:bold; }
.product-options dt .qty-holder { float:right; }
.product-options dt .qty-holder label { vertical-align:middle; }
.product-options dt .qty-disabled { background:none; border:0; padding:3px; color:#000; }
.product-options dd { margin:10px 0; }
.product-options dl.last dd.last {}
.product-options dd input.input-text { width:98%; }
.product-options dd input.datetime-picker { width:150px; }
.product-options dd .time-picker { display:-moz-inline-box; display:inline-block; padding:2px 0; vertical-align:middle;}
.product-options dd textarea { width:98%; height:8em; }
.product-options dd select { width:100%; }
.product-options .options-list {}
.product-options .options-list input.radio { float:left; margin:3px -18px 0 0; }
.product-options .options-list input.checkbox { float:left; margin:3px -20px 0 0; }
.product-options .options-list .label { display:block; margin-left:20px; }
.product-options ul.validation-failed { padding:0 7px; }
.product-options p.required { padding:15px 0 0; }

.product-options-bottom { padding:10px; border:1px solid #ddd; border-top:0; }
.product-options-bottom .add-to-cart label{margin-top:11px;}
.product-options-bottom .add-to-cart input{margin-top:8px;}
.product-options-bottom .price-box { margin:0 120px 0 0!important; }

/* Grouped Product */
.product-view .grouped-items-table {}

/* Block: Description */
.product-view .box-description {}

/* Block: Additional */
.product-view .box-additional {}
.product-view .box-additional th{padding:9px 34px 12px 31px; font-weight:normal;}
.product-view .box-additional td{padding:9px 137px 12px 31px;}

/* Block: Upsell */
.product-view .box-up-sell {}
.product-view .box-up-sell .products-grid td { width:25%; padding-right:10px; }
.product-view .box-up-sell .products-grid td.last{padding-right:0;}
.product-view .box-up-sell .products-grid .product-image{margin:0 auto;}
.product-view .box-up-sell .right-bot{padding-bottom:0; padding-left:0; padding-right:0;}
.product-view .box-up-sell .products-grid .ratings .rating-box{float:none;}
.product-view .box-up-sell .products-grid .ratings .rating-links{text-align:left;}

/* Block: Tags */
.product-view .box-tags {}
.product-view .box-tags h3{font-weight:normal;}
.product-view .box-tags .product-tags{margin:11px 0 20px; width:100%; overflow:hidden;}
.product-view .box-tags .product-tags li{background:url(../images/tags_divider.gif) right 3px no-repeat; padding-right:12px; margin-right:17px; float:left; display:block; white-space:nowrap; line-height:normal;}
.product-view .box-tags .product-tags li.last{background:0;}
.product-view .box-tags .product-tags li a{text-decoration:none;}
.product-view .box-tags .product-tags li a:hover{text-decoration:underline;}
.product-view .box-tags .form-add{margin-bottom:10px;}
.product-view .box-tags .form-add label{display:block;}
.product-view .box-tags .form-add .input-box{float:left; width:674px; margin:0 5px 0 0; background:url(../images/tags_input_bg.jpg) left top no-repeat;}
.product-view .box-tags .form-add .input-box button{float:right;}
.product-view .box-tags .form-add .input-box button span{background:transparent url(../images/tags_button.gif) 0 0 no-repeat;}
.product-view .box-tags .form-add .input-box button span span{background-position:100% 0; padding-top:6px;}
.product-view .box-tags .form-add input.input-text{width:452px; margin-left:11px; margin-top:4px; border:0; background:0;}
.product-view .box-tags .form-add p { clear:both; }

.review-product-list .col-main .ratings-table{margin:10px 0;}
.review-product-list .col-main .ratings-table th,
.review-product-list .col-main .ratings-table td{border:1px solid #ddd; padding:7px;}
.review-product-list .col-main .nobr{margin-bottom:10px; display:block;}
.review-product-list .col-main .buttons-set{padding-left:0px; border:0;}
.review-product-list .col-main .pager{border:0; padding:10px 0}
.review-product-list .col-main .data-table{margin-bottom:15px;}

/* Block: Reviews */
.product-view .box-reviews {}
.product-view .box-reviews .form-add {}
.product-view .box-reviews .form-add .form-list .input-box,
.product-view .box-reviews .form-add .form-list input,
.product-view .box-reviews .form-add .form-list textarea{width:99%;}

/* Send a Friend */
.send-friend {}
/* ======================================================================================= */


/* Content Styles ================================================================= */
.product-name { font-size:1em; font-weight:bold; }
.product-name a{color:#12293C; text-decoration:none;}
.product-name a:hover{text-decoration:underline;}

/* Product Tags */
.tags-list{font-size:1.2em;}
.tags-list li { display:inline; }

/* Advanced Search */
.advanced-search {}
.advanced-search-amount {}
.advanced-search-summary{padding:15px 0;}

/* CMS Home Page */
.cms-home .subtitle {}
.cms-index-index .subtitle {}

/* Sitemap */
.page-sitemap .links { text-align:right; margin:0 8px 0 0; }
.page-sitemap .links a { text-decoration:none; position:relative; }
.page-sitemap .links a:hover { text-decoration:underline; }
.page-sitemap .sitemap { margin:25px 12px; }
.page-sitemap .sitemap a {}
.page-sitemap .sitemap li { margin:3px 0; }
.page-sitemap .sitemap li.level-0 { margin:10px 0 0; font-weight:bold; }
.page-sitemap .sitemap li.level-0 a {}
.page-sitemap .pager{border:0; padding-left:0;}

/* RSS */
.rss-title h1 { background:url(../images/i_rss-big.png) 0 4px no-repeat; padding-left:27px; }
.rss-table .link-rss { display:block; line-height:1.35; background-position:0 2px; }
/* ======================================================================================= */


/* Shopping Cart ========================================================================= */
.cart {}
.checkout-cart-index .main-block .content-box{padding:23px 31px 20px 30px;}

/* Checkout Types */
.cart .checkout-types { float:right; text-align:right; }
.cart .checkout-types li{padding-bottom:10px;}
.cart .title-buttons{margin-bottom:20px;}
.cart .title-buttons h1{margin-top:0;}
.cart .title-buttons .checkout-types li { float:left; margin:0 0 5px 5px; }
.cart .checkout-types li{float:left; padding-left:20px;}
.cart .checkout-types button{}
.cart .checkout-types button span{background:transparent url(../images/checkout_button.png) 0 0 no-repeat;}
.cart .checkout-types button span span{background-position:100% 0; text-transform:uppercase; font-weight:normal; padding-top:12px;}
.cart .checkout-types .paypal-or { margin:0 8px; line-height:2.3; }
.cart .totals .checkout-types .paypal-or { clear:both; display:block; padding:3px 55px 8px 0; line-height:1.0; font-size:11px; }

/* Shopping Cart Table */
.cart-table{margin-top:20px; border-right:1px solid #E3E2E4;}
.cart-table th{font-weight:normal; text-align:center; padding:10px;}
.cart-table td{vertical-align:middle; text-align:center;}
.cart-table .item-msg { font-size:10px; }
.cart-table tfoot td{background:#F8F8F8;}
.cart-table .price{font-weight:bold;}
.cart-table .product-name a{font-weight:normal; color:#88949D;}

/* Shopping Cart Collateral boxes */
.cart .cart-collaterals { padding:28px 0 0; }
.cart .cart-collaterals .col2-set { float:left; width:614px; }
.cart .cart-collaterals .col2-set .col-1{width:283px;}
.cart .cart-collaterals .col2-set .col-2{width:311px;}

.cart .crosssell {padding:18px 21px 0 17px; border:1px solid #E3E2E4;}
.cart .crosssell h2 {font-weight:normal;}
.cart .crosssell li.item{padding:16px 0 15px; margin:0!important; border-bottom:1px solid #E3E2E4;}
.cart .crosssell li.item.last{border-bottom:0;}
.cart .crosssell .product-image { float:left; width:98px; height:124px; }
.cart .crosssell .product-details { margin-left:115px; }
.cart .crosssell .product-details .price-box{margin-bottom:10px;}
.cart .crosssell .product-details .price{font-weight:normal; font-size:1em;}
.cart .crosssell .product-details .add-to-links{margin-top:10px;}
.cart .crosssell li.item { margin:12px 0; }

/* Discount Codes & Estimate Shipping and Tax Boxes */
.cart .discount,
.cart .shipping {border:1px solid #E3E2E4; padding:16px 14px 20px 17px;}
.cart .discount h2,
.cart .shipping h2{font-size:1.16em; color:#000; text-transform:uppercase; margin-bottom:12px;}

.cart .discount button span,
.cart .shipping button span{background:transparent url(../images/cart_button.gif) 0 0 no-repeat; padding-left:10px; height:20px;}
.cart .discount button span span,
.cart .shipping button span span{background-position:100% 0; padding-left:0; padding-right:10px; padding-top:2px; font-size:12px;}

.cart .discount{margin-bottom:20px;}
.cart .discount .input-box{padding-top:3px;}
.cart .discount .input-box button{float:right;}
.cart .discount .input-box input{width:150px;}
.cart .discount .buttons-set{padding-left:0;}
.cart .discount .buttons-set button{float:left;}


.cart .shipping .form-list{margin-top:10px;}
.cart .buttons-set{padding-left:0;}
.cart .buttons-set button{float:none;}

/* Shopping Cart Totals */
.cart .totals { float:right; width:195px; padding:21px 48px 19px 49px; border:1px solid #E3E2E4; background:#F8F8F8;}
.cart .totals table { width:100%; }
.cart .totals table th,
.cart .totals table td { padding:5px; }
.cart .totals table th { font-weight:normal; }
.cart .totals table strong{font-weight:normal;}
.cart .totals .price{font-size:1em;}
.cart .totals .checkout-types{padding-top:10px; text-align:center;}
.cart .totals .checkout-types li{float:none; padding-left:0;}
.cart .totals .checkout-types li a{color:#BA0016;}

/* Options Tool Tip */
.item-options dt { font-weight:bold; font-style:italic; }
.item-options dd { padding-left:10px; }
.truncated { cursor:help; }
.truncated a.dots { cursor:help; }
.truncated a.details { cursor:help; }
.truncated .truncated_full_value { position:relative; z-index:999; }
.truncated .truncated_full_value dl { position:absolute; top:-99999em; left:-99999em; z-index:999; width:250px; padding:8px; border:1px solid #ddd; background-color:#000; }
.truncated .truncated_full_value dd{padding-bottom:3px; padding-top:3px;}
.truncated .show dl { top:-20px; left:50%; }
.col-left .truncated .show dl { left:30px; top:7px; }
.col-right .truncated .show dl  { left:-240px; top:7px; }
/* ======================================================================================= */


/* Checkout ============================================================================== */
/********** < Common Checkout Styles */
/* Shipping and Payment methods */
.sp-methods{margin-top:10px;}
.sp-methods dt { font-weight:bold; padding-bottom:10px;}
.sp-methods .price { font-weight:bold; }
.sp-methods .form-list { padding-left:20px; }
.sp-methods select.month { width:150px; margin-right:10px; }
.sp-methods select.year { width:96px; }
.sp-methods input.cvv { width:3em !important; }
.sp-methods .checkmo-list li { margin:0 0 5px; }
.sp-methods .checkmo-list label { width:135px; padding-right:10px; text-align:right; }
.sp-methods .checkmo-list address { float:left; }
.sp-methods .centinel-logos a { margin-right:3px; }
.sp-methods .centinel-logos img { vertical-align:middle; }

.sp-methods .release-amounts { margin:0.5em 0 1em; }
.sp-methods .release-amounts button { float:left; margin:5px 10px 0 0; }

.please-wait { float:right; margin-right:5px; }
.please-wait img { vertical-align:middle; }
.cvv-what-is-this { cursor:help; margin-left:5px; }

/* Tooltip */
.tool-tip { border:1px solid #ddd; background-color:#f6f6f6; padding:5px; position:absolute; z-index:9999; }
.tool-tip .btn-close { text-align:right; }
.tool-tip .btn-close a { display:block; margin:0 0 0 auto; width:15px; height:15px; background:url(../images/btn_window_close.gif) 100% 0 no-repeat; text-align:left; text-indent:-999em; overflow:hidden; }
.tool-tip .tool-tip-content { padding:5px; }

/* Gift Messages */
.gift-messages {}
.gift-messages-form { border:1px solid #B6B6B6; background-color:#FFF; }
.gift-messages-form { position:relative; }
.gift-messages-form .inner-box{padding:10px; width:589px; overflow:hidden;}
.gift-messages-form label { float:none !important; position:static !important; }
.gift-messages-form h4 {}
.gift-messages-form .whole-order{padding-bottom:15px;}
.gift-messages-form textarea{width:82%!important;}
.gift-messages-form .item { margin:10px 0; }
.gift-messages-form .item .product-img-box { float:left; width:75px; }
.gift-messages-form .item .product-image { margin:0 0 7px; }
.gift-messages-form .item .number { margin:0; font-weight:bold; text-align:center; }
.gift-messages-form .item .details { margin-left:90px; }
.gift-messages-form .item .details .product-name {}

.gift-message-link { display:block; background:url(../images/bkg_collapse.gif) 0 4px no-repeat; padding-left:20px; }
.gift-message-link.expanded { background-position:0 -53px; }
.gift-message-row {}
.gift-message-row .btn-close { float:right; }
.gift-message dt strong { font-weight:bold; }

/* Checkout Agreements */
.checkout-agreements {}
.checkout-agreements li { margin:10px 0; }
.checkout-agreements .agreement-content { border:1px solid #ddd; background-color:#f6f6f6; padding:5px; height:10em; overflow:auto; }
.checkout-agreements .agree { padding:6px; }

/* Centinel */
.centinel {}
.centinel .authentication { border:1px solid #ddd; background:#fff; }
.centinel .authentication iframe { width:99%; height:400px; background:transparent !important; margin:0 !important; padding:0 !important; border:0 !important; }

/* Generic Info Set */
.info-set {}
/********** Common Checkout Styles > */

/* One Page Checkout */
.block-progress{background:#F8F8F8; border:1px solid #E3E2E4; padding:24px 27px 19px 23px;}
.block-progress .block-title{background:0; padding:0 0 7px;}
.block-progress .block-title span{color:#102738!important;}
.block-progress a{color:#88949D;}
.block-progress dt { font-weight:bold; }
.block-progress dl{}
.block-progress dt,
.block-progress dd{border-top:0; padding:10px 0 15px; border-bottom:1px solid #E3E2E4; color:#88949D; font-weight:normal;}
.block-progress dt{}
.block-progress dt.complete,
.block-progress dd.complete { background-color:#f6f6f6; }

.checkout-onepage-index .main-block .content-box{padding:23px 31px 20px 30px;}

.checkout-onepage-index .col-main{width:647px;}
.checkout-onepage-index .col-right{width:271px;}

.opc { border-bottom:1px solid #ddd; position:relative; }
.opc li.section { border:1px solid #ddd; border-bottom:0; }

.opc .buttons-set.disabled button.button { display:none; }
.opc .buttons-set .please-wait { height:21px; line-height:21px; }

.opc .step-title { background-color:#FFF; padding:12px 34px 14px; text-align:right; }
.opc .step-title .number { float:left; line-height:normal; font-weight:bold; margin-right:10px; padding:1px 5px; border:1px solid #88949D; color:#88949D; }
.opc .step-title h2 { float:left; font-weight:bold; color:#88949D; font-size:1em; margin-bottom:0; padding-top:3px; }
.opc .step-title a { display:none; float:right; }

.opc .allow .step-title { cursor:pointer; }
/*.opc .allow .step-title a { display:block; }*/

.opc .active {}
.opc .active .step-title { background-color:#F8F8F8; cursor:default; }
.opc .active .step-title .number{background:#88949D; border-color:#88949D; color:#FFF;}
/*.opc .active .step-title a { display:none; }*/

.opc .step { border-top:1px solid #ddd; background:#F8F8F8; padding:21px 27px 15px 34px; position:relative; }
.opc .step .tool-tip { right:10px; }

.opc .order-review {}

.opc .buttons-set{border:0;}

.opc .field{width:318px;}
.opc .fields input,
.opc .field input{width:258px;}
.opc .name-lastname,
.opc .field-2{width:264px; float:left;}
.opc .field-2 input{width:258px;}
.opc .field-2 select{width:265px;}
.opc .name-firstname{width:318px;}
.opc .name-middlename{width:112px;}
.opc .name-middlename input{width:53px!important;}
.opc .name-lastname input{width:258px!important;}
.opc .sp-methods dt{padding-bottom:5px;}
.opc .form-list li.wide input.input-text{width:577px;}

#payment_form_authorizenet_directpost{padding:10px;}

/* Multiple Addresses Checkout */
.checkout-progress { padding:0 50px; margin:10px 0 20px; }
.checkout-progress li { float:left; width:20%; border-top:5px solid #ccc; text-align:center; color:#ccc; }
.checkout-progress li.active { border-top-color:#000; color:#000; }

.multiple-checkout { position:relative; }
.multiple-checkout .tool-tip { top:50%; margin-top:-120px; right:10px; }
.multiple-checkout .grand-total { font-size:1.5em; text-align:right; }
.multiple-checkout .grand-total big{display:block; margin-bottom:10px;}
.multiple-checkout .grand-total .price {}
.multiple-checkout .data-table{margin:10px 0;}
/* ======================================================================================= */


/* Account Login/Create Pages ============================================================ */
.account-login {}
.account-login .new-users {}
.account-login .registered-users {}
.account-login .form-list{margin-top:15px;}

.account-create {}
/* Account Login/Create Pages ============================================================ */


/* My Account ============================================================================= */
.my-account .title-buttons .link-rss { float:none; margin:0; }
.my-account .my-tag-edit a.btn-remove{float:left; margin-right:5px;}
.my-account .data-table .rating-box{margin-right:20px;}
.my-account .data-table{margin:10px 0;}
.my-account .data-table button{margin-bottom:10px;}
.my-account .my-wishlist .data-table .product-image{margin-bottom:15px; display:block;}
.my-account .my-wishlist .data-table textarea{width:90%; height:200px;}
.my-account .my-wishlist .buttons-set button{margin-left:10px;}
.my-account .col2-set{padding:10px 0;}
.my-account .order-items h2{margin:10px 0;}
.my-account .tags-list{font-size:1.2em;}
.my-account .pager{border:0; padding-left:0;}
.my-account .addresses-list ol .item{padding-bottom:20px;}

.sales-order-creditmemo .title-buttons h1,
.sales-order-shipment .title-buttons h1,
.sales-order-invoice .title-buttons h1,
.sales-order-view .title-buttons h1{margin-top:0;}

.sales-order-creditmemo .order-links,
.sales-order-shipment .order-links,
.sales-order-invoice .order-links,
.sales-order-view .order-links{padding-top:15px;}

/********** < Dashboard */
.dashboard {}
.dashboard .welcome-msg {}
.dashboard .welcome-msg .hello{margin-bottom:10px;}
.dashboard .data-table{margin:15px 0;}
.dashboard .col2-set{padding:15px 0;}
.dashboard .box-title,
.dashboard .box-head{width:100%; overflow:hidden; margin-bottom:10px;}
.dashboard .box-title h2,
.dashboard .box-title h3,
.dashboard .box-head h2,
.dashboard .box-head h3{float:left;}
.dashboard .box-title a,
.dashboard .box-head a{float:right;}

/* Block: Recent Orders */
.dashboard .box-recent { margin:10px 0; }

/* Block: Account Information */
.dashboard .box-info {}

/* Block: Reviews */
.dashboard .box-reviews{padding-bottom:15px;}
.dashboard .box-reviews .number { float:left; font-size:10px; font-weight:bold; line-height:1; color:#fff; margin:3px -20px 0 0; padding:2px 3px; background:#ddd; }
.dashboard .box-reviews .details { margin-left:20px; }
.dashboard .box-reviews .details .ratings strong{float:none; display:block; margin-bottom:3px;}
.dashboard .box-reviews .details .ratings .rating-box{float:none;}

/* Block: Tags */
.dashboard .box-tags .number { float:left; font-size:10px; font-weight:bold; line-height:1; color:#fff; margin:3px -20px 0 0; padding:2px 3px; background:#ddd; }
.dashboard .box-tags .details { margin-left:20px; }
.dashboard .box-tags .details .tags li{display:inline;}
/********** Dashboard > */

/* Address Book */
.addresses-list {}
.addresses-list-additional li.item {}

/* Order View */
.order-info { border:1px solid #ddd; padding:5px; }
.order-info dt,
.order-info dd,
.order-info ul,
.order-info li { display:inline; }
.order-info dt { font-weight:bold; }

.order-date { margin:10px 0; }

.order-info-box {}

.order-items { width:100%; overflow-x:auto; }

.order-additional { margin:15px 0; }
.gift-message dt strong { color:#666; }
.gift-message dd { margin:5px 0 0; font-size:13px; }

.order-about { margin:15px 0; }
.order-about dt { font-weight:bold; }
.order-about dd { font-size:13px; margin:0 0 7px; }

.tracking-table { margin:0 0 15px; }
.tracking-table th { font-weight:bold; white-space:nowrap; }

.tracking-table-popup { width:100%; }
.tracking-table-popup th { font-weight:bold; white-space:nowrap; }
.tracking-table-popup th,
.tracking-table-popup td { padding:1px 8px; }

/* Order Print Pages */
.page-print .print-head {padding-bottom:20px;}
.page-print .print-head img { float:left; }
.page-print .print-head address { float:left; margin-left:15px; }
.page-print .col2-set{padding:15px 0;}

/* Price Rewrites */
.page-print .gift-message-link { display:none; }
.page-print .price-excl-tax,
.page-print .price-incl-tax { display:block; white-space:nowrap; }
.page-print .cart-price,
.page-print .price-excl-tax .label,
.page-print .price-incl-tax .label,
.page-print .price-excl-tax .price,
.page-print .price-incl-tax .price { display:inline; }

/* My Reviews */
.product-review .product-img-box { float:left; width:140px;  }
.product-review .product-img-box .product-image { display:block; width:125px; height:125px; margin-bottom:15px;}
.product-review .product-img-box .label { font-size:11px; margin:0 0 3px; }
.product-review .product-img-box .ratings .rating-box { float:none; display:block; margin:0 0 7px; }
.product-review .product-img-box .ratings .rating-links a{display:block;}
.product-review .product-img-box .ratings .rating-links .separator{display:none;}
.product-review .product-details { margin-left:150px; }
.product-review .product-name { font-size:16px; font-weight:bold; margin:0 0 10px; }
.product-review h3 {}
.product-review .ratings-table { margin:0 0 10px; }
.product-review dt { font-weight:bold; }
.product-review dd { font-size:13px; margin:5px 0 0; }
/* ======================================================================================= */

.catalogsearch-advanced-index .col-main .form-list label{float:none;}

.review-customer-index .col-main .pager,
.sales-order-history .col-main .pager{margin:15px 0; border:0; padding-left:0;}

.header-block{background:#0A1B25;}
.header-block .page{width:1067px; }

/**slider****/
.slider{ width:100%; height:382px; overflow:hidden; padding:0; margin:0; position:relative;}

.slider .left-shadow{position:absolute; width:156px; height:382px; top:0; left:0; background:url(../images/media/transparent_left_corner.png) left top no-repeat; z-index:2;}
.slider .right-shadow{position:absolute; width:156px; height:382px; top:0; right:0; background:url(../images/media/transparent_right_corner.png) left top no-repeat; z-index:2;}

.box-top {
		overflow:hidden;
		width:1067px;
		color:#616161;
		background:0;
		float:left;
		position:relative;
		left:0;
}

#left, #right{ cursor:pointer}	

.box-top ul { list-style:none; padding:0; }
.box-top ul li {  width:1008px; padding:0 0 0 59px; display:inline-block; float:left; height:382px;}
.box-top ul li.product-1{background:url(../images/media/slider_img_1.jpg) right top no-repeat;}
.box-top ul li.product-2{background:url(../images/media/slider_img_2.jpg) right top no-repeat;}
.box-top ul li.product-3{background:url(../images/media/slider_img_3.jpg) right top no-repeat;}

.box-left { width:54px; height:50px; padding:0; margin:0; text-align:center; font-size:0; float:left; line-height:0; position:absolute; left:923px; top:285px; background:url(../images/media/slider_button_prev.png) left top no-repeat; z-index:3;}
.box-left:hover{background:url(../images/media/slider_button_prev_active.png) left top no-repeat;}
.box-right { width:54px; height:50px; padding:0; text-align:center; font-size:0; float:left; line-height:0; position:absolute; left:977px; top:285px; background:url(../images/media/slider_button_next.png) left top no-repeat; z-index:3;}
.box-right:hover{background:url(../images/media/slider_button_next_active.png) left top no-repeat;}

.slider ul li div.right{width:435px; padding:48px 569px 36px 0; text-align:right;}
.slider ul li p{color:#FFF; padding:10px 13px 19px 0; line-height:1.5em;}
.slider ul li .slider-product-button{margin-right:11px;}

.slider-2-wrapper{background:url(../images/media/slider_2_wrapper.jpg) left top repeat-x; min-width:1067px;}
.slider-2{position:relative; margin-bottom:-60px;}
.slider-2 .page{width:1007px;}
.slider-2 .slider{height:208px; background:url(../images/media/slider_2_bg.png) left top no-repeat;}
.slider-2 .slider .indent{padding:0 8px;}
.slider-2 .slider .box-left-2{width:56px; height:197px; position:relative; float:left; background:url(../images/media/slider_2_prev.png) left top no-repeat; font-size:0;}
.slider-2 .slider .box-left-2:hover{background:url(../images/media/slider_2_prev_active.png) left top no-repeat;}
.slider-2 .slider .box-right-2{width:55px; height:197px; position:relative; float:right; background:url(../images/media/slider_2_next.png) left top no-repeat; font-size:0;}
.slider-2 .slider .box-right-2:hover{background:url(../images/media/slider_2_next_active.png) left top no-repeat;}
.slider-2 .slider .box-top{width:880px; float:left; padding:5px 0 0;}
.slider-2 .slider .box-top li{width:217px; padding:0 4px 0 0;}
.slider-2 .slider .img-box{background:url(../images/media/slider_img_box.jpg) left top no-repeat; padding:4px 20px 0 21px; height:147px;}
.slider-2 .slider .name-box{background:url(../images/media/slider_name_box.jpg) left top no-repeat; color:#12293C; font-weight:bold; padding:10px 11px 12px; display:block; text-decoration:none;}
.slider-2 .slider li:hover .name-box{background:#BA0016; color:#FFF;}
/**slider****/

.cms-index-index .main{padding-top:80px;}
.cms-index-index .products-grid li.item{padding-bottom:0;}
.cms-index-index .grid-block .product-box{text-align:left;}
.cms-index-index .grid-block .product-box .price-box{float:none; margin:9px 0;}
.cms-index-index .grid-block .product-box button{float:none;}

/* Footer ================================================================================ */
.footer{padding:28px 0 27px;}
.footer ul{margin-bottom:10px; float:left;}
.footer ul li { display:inline; padding-right:16px; }
.footer ul li a{color:#12293C; font-weight:bold; text-decoration:none;}
.footer ul li a:hover{text-decoration:underline; color:#BA0016;}
.footer address{color:#12293C;}
.footer .store-switcher{}
/* ======================================================================================= */


/* Clears ================================================================================ */
.clearer:after,
.header-container:after,
.header-container .top-container:after,
.header:after,
.header .quick-access:after,
#nav:after,
.main:after,
.footer:after,
.footer-container .bottom-container:after,
.col-main:after,
.col2-set:after,
.col3-set:after,
.col4-set:after,
.search-autocomplete li:after,
.block .block-content:after,
.block .actions:after,
.block li.item:after,
.block-poll li:after,
.block-layered-nav .currently li:after,
.page-title:after,
.products-grid:after,
.products-list li.item:after,
.box-account .box-head:after,
.dashboard .box .box-title:after,
.box-reviews li.item:after,
.box-tags li.item:after,
.pager:after,
.sorter:after,
.ratings:after,
.add-to-box:after,
.add-to-cart:after,
.product-essential:after,
.product-collateral:after,
.product-view .product-img-box .more-views ul:after,
.product-view .product-shop .short-description:after,
.product-view .box-description:after,
.product-view .box-tags .form-add:after,
.product-options .options-list li:after,
.product-options-bottom:after,
.product-review:after,
.cart:after,
.cart-collaterals:after,
.cart .crosssell li.item:after,
.opc .step-title:after,
.checkout-progress:after,
.multiple-checkout .place-order:after,
.group-select li:after,
.form-list li:after,
.form-list .field:after,
.buttons-set:after,
.page-print .print-head:after,
.advanced-search-summary:after,
.gift-messages-form .item:after,
.send-friend .form-list li p:after { display:block; content:"."; clear:both; font-size:0; line-height:0; height:0; overflow:hidden; }
/* ======================================================================================= */
